.cnt.tips-list.clearfix
  = render 'advertisements/top'
  .tips
    p.tips__title
      | Praktyczne porady
    - @categories.each do |category|
      .tips__single id=dom_id(category)
        p.tips__single__title
          = category.name
        - category.manuals.first(3).each do |manual|
          .tip.clearfix
            = link_to manual do
              p= manual.name
              span.right-arrow-circle
        = link_to manuals_category_path(category), class: 'tips__readmore' do
          | czytaj więcej w tej kategorii
          span.right-arrow-circle
  = render 'application/sidebar'