.cnt.tips-list.clearfix
  = render 'advertisements/top'
  .tips
    p.tips__title
      | Praktyczne porady
    .tips__single
      p.tips__single__title
        = @category.name
      - @category.manuals.each do |manual|
        .tip.clearfix
          = link_to manual do
            p= manual.name
            span.right-arrow-circle
    .pull-right
      = link_to t('shared.back'), manuals_categories_path, class: 'btn btn-default'
  = render 'application/sidebar'