= form_for search, url: url, method: :get, as: :search do |f|
  .box.box-solid
    .box-header.with-border= t '.title'
    .box-body
      .form-group
        = f.label :email
        = f.text_field :email, class: 'form-control'
      .form-group
        = f.label :newsletter_category_ids
        - Newsletter::Category.all.each do |cat|
          .checkbox-wrapper
            = check_box_tag :newsletter_category_ids, cat.id, (search.newsletter_category_ids || []).include?(cat.id.to_s), name: 'search[newsletter_category_ids][]'
            label
              = cat.name
    .box-footer
      => f.submit t('shared.filter'), class: 'btn btn-primary'
      => link_to t('shared.clear'), url, class: 'btn btn-default'
