= simple_form_for [:admin, @subscriber], as: :subscriber, html: { class: 'form-horizontal' } do |f|
  .box.box-primary
    .box-body
      = f.input :email
      = f.input :enabled
      = f.input :state_id, collection: State.all.map{|s| [s.name.mb_chars.capitalize, s.id]}
      = f.input :branch_id, collection: Branch.all.map{|s| [s.name.mb_chars.capitalize, s.id]}
      = f.input :newsletter_category_ids, as: :check_boxes, collection: Newsletter::Category.all.map{|s| [s.name, s.id]}
    .box-footer
      => link_to t('shared.back'), admin_newsletter_subscribers_path, class: 'btn btn-default'
      = f.button :submit, f.object.persisted? ? t('shared.update') : t('shared.create'), class: 'btn pull-right'
