section.content-header
  h1
    i.fa.fa-list>
    =t '.title'

section.content
  .col-md-3
    = render partial: 'filters', locals: { search: @search, url: admin_newsletter_subscribers_path }
  .col-md-9
    .box
      .box-header.with-border
        - if policy([:admin, ::Newsletter::Subscriber]).new?
          => link_to t('.actions.add'), new_admin_newsletter_subscriber_path, class: 'btn btn-success'
        => link_to t('.actions.export_csv'), admin_newsletter_subscribers_path(format: :csv), class: 'btn btn-default'
      .box-body.no-padding
        table#subscribers.table.table-striped
          thead
            tr
              th=t '.table.email'
              th=t '.table.enabled'
              th=t '.table.categories'
              th
          tbody
            - @subscribers.each do |subscriber|
              tr id=dom_id(subscriber)
                td= subscriber.email
                td
                  - if subscriber.enabled?
                    i.fa.fa-check
                td= subscriber.newsletter_categories.map(&:name).join(', ')
                td
                  .btn-group
                    a.dropdown-toggle data-toggle='dropdown' href='#'
                      i.fa.fa-cog
                    ul.dropdown-menu.pull-right
                      - if policy([:admin, subscriber]).edit?
                        li
                          = link_to edit_admin_newsletter_subscriber_path(subscriber) do
                            i.fa.fa-pencil>
                            =t 'shared.edit'
                      - if policy([:admin, subscriber]).destroy?
                        li
                          = link_to admin_newsletter_subscriber_path(subscriber), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                            i.fa.fa-trash>
                            =t 'shared.destroy'
