=@sng_category.name
= simple_form_for [:admin, @sng_category, @sng], as: :sngs, html: { class: 'form-horizontal' } do |f|
  .box
    .box-body
      = f.input :name
      = f.input :year
      = f.input :value
      = f.input :sng1, as: :boolean
  .box
    .box-footer
      => link_to t('shared.back'), admin_sng_category_sngs_path(@sng_category), class: 'btn btn-default'
      = f.button :submit, f.object.persisted? ? t('shared.update') : t('shared.create'), class: 'btn pull-right'