section.content-header
  h1
    i.fa.fa-recycle>
    =t '.title'
    br
    =@sng_category.name
section.content
  .box
    .box-header.with-border
      - if policy([:admin, Sng]).new?
        => link_to t('.actions.add'), new_admin_sng_category_sng_path(@sng_category), class: 'btn btn-success'
      => link_to t('shared.back'), admin_sng_categories_path, class: 'btn btn-default'
    .box-body.no-padding
      table#sngs.table.table-striped
        thead
          tr
            th=t '.table.name'
            th=t '.table.year'
            th SNG 1
            th
        tbody
          - @sngs.each do |sng|
            tr id=dom_id(sng)
              td= sng.name
              td= sng.year
              td
                - if sng.sng1?
                  i.fa.fa-check
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, sng]).edit?
                      li
                        = link_to edit_admin_sng_category_sng_path(@sng_category, sng) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                      - if policy([:admin, sng]).destroy?
                        li
                          = link_to admin_sng_category_sng_path(@sng_category, sng), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                            i.fa.fa-trash>
                            =t 'shared.destroy'
    .box-footer
      = paginate @sngs, theme: 'twitter-bootstrap-3'