= simple_form_for [:admin, @product_payment], as: :product_payment, html: { class: 'form-horizontal' } do |f|
  .box.box-primary
    .box-body
      = f.input :name
      = f.input :year
      = f.input :sum
      = f.input :percentage
    .box-footer
      => link_to t('shared.back'), admin_product_payments_path, class: 'btn btn-default'
      = f.button :submit, f.object.persisted? ? t('shared.update') : t('shared.create'), class: 'btn pull-right'