section.content-header
  .actions.pull-right
    - if policy([:admin, @product_payment]).destroy?
      => link_to admin_product_payment_path(@product_payment), method: :delete, data: { confirm: t('shared.are_you_sure') }, class: 'btn btn-danger'
        i.fa.fa-trash>
        =t 'shared.destroy'
  h1
    i.fa.fa-money>
    =t '.title'
section.content
  = render 'form'