section.content-header
  h1
    i.fa.fa-money>
    =t '.title'

section.content
  .box
    .box-header.with-border
      - if policy([:admin, ProductPayment]).new?
        = link_to t('.actions.add'), new_admin_product_payment_path, class: 'btn btn-success'
    .box-body.no-padding
      table#product_payments.table.table-striped
        thead
          tr
            th=t '.table.name'
            th=t '.table.year'
            th
        tbody
          - @product_payments.each do |product_payment|
            tr id=dom_id(product_payment)
              td= product_payment.name
              td= product_payment.year
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, product_payment]).edit?
                      li
                        = link_to edit_admin_product_payment_path(product_payment) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                      - if policy([:admin, product_payment]).destroy?
                        li
                          = link_to admin_product_payment_path(product_payment), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                            i.fa.fa-trash>
                            =t 'shared.destroy'