= simple_form_for [:admin, @calendar], as: :calendar, html: { class: 'form-horizontal' } do |f|
  .box.box-primary
    .box-body
      = f.input :date, wrapper: :multi_select, discard_year: true
      = f.input :concerned_to, as: :text
      = f.input :todo, as: :text

  .box.box-primary
    .box-body
      = f.input :body, as: :ckeditor, input_html: { ckeditor: { toolbar: 'AdminToolbar' } }, wrapper: :horizontal_form_full_width

  .box.box-primary
    .box-footer
      => link_to t('shared.back'), admin_calendars_path, class: 'btn btn-default'
      = f.button :submit, f.object.persisted? ? t('shared.update') : t('shared.create'), class: 'btn pull-right'
