section.content-header
  h1
    i.fa.fa-calendar>
    =t '.title'

section.content
  .box
    .box-header.with-border
      - if policy([:admin, Calendar]).new?
        = link_to t('.actions.add'), new_admin_calendar_path, class: 'btn btn-success'
      br
      = link_to t('shared.all')+' ', admin_calendars_path
      - @months.each do |month|
        = link_to month+' ', admin_calendars_path(search: { month: @months.index(month) })
    .box-body.no-padding
      table#calendars.table.table-striped
        thead
          tr
            th=t '.table.date'
            th=t '.table.concerned_to'
            th
        tbody
          - @calendars.each do |calendar|
            tr id=dom_id(calendar)
              td=l calendar.date, format: :short
              td= calendar.concerned_to
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, calendar]).edit?
                      li
                        = link_to edit_admin_calendar_path(calendar) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                      - if policy([:admin, calendar]).destroy?
                        li
                          = link_to admin_calendar_path(calendar), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                            i.fa.fa-trash>
                            =t 'shared.destroy'
    .box-footer
      = paginate @calendars, theme: 'twitter-bootstrap-3'