.cnt.laws-list.clearfix
  = render 'advertisements/top'
  .statics
    .static__title
      p = image_tag 'Serwis Odpady-Help.png'
    .static__title
      table.charges__table__tab
        tr
          th
            = link_to asset_path("Serwis Odpady-Help.ai") do
              = image_tag 'pobierz_ai.png'
          th
            = link_to asset_path("Serwis Odpady-Help.cdr") do
              = image_tag 'pobierz_cdr.png'
          th
            = link_to asset_path("Serwis Odpady-Help.svg") do
              = image_tag 'pobierz_svg.png'
          th
            = link_to asset_path("Serwis Odpady-Help.pdf") do
              = image_tag 'pobierz_pdf.png'
          th
            = link_to asset_path("Serwis Odpady-Help-jpg.zip") do
              = image_tag 'pobierz_jpg.png'
          th
            = link_to asset_path("Serwis Odpady-Help-png.zip") do
              = image_tag 'pobierz_png.png'
  = render 'application/sidebar'