.cnt.laws-list.clearfix
  = render 'advertisements/top'
  .statics
    = render 'static_tabs'
    .static__title
      p REGULAMIN SERWISU ODPADY-HELP.PL
    .static__subtitle
      p 1. Informacje ogólne
    .static__text
      p 1. Niniejszy regulamin (zwany dalej „Regulaminem") określa zasady korzystania i funkcjonowania portalu znajdującego się pod adresem internetowym www.odpady-help.pl (zwanego dalej „Serwisem").
      p 2. Logowanie, rejestracja oraz korzystanie z Serwisu jest jednoznaczne z akceptacją poniższego Regulaminu.
      p 3. Administratorem Serwisu jest firma Effeko Sp. z o.o., ul. J. Słowackiego 38A/15, 60-825 Poznań, NIP: 7811913583.
      p 4. Materiały publikowane w Serwisie nie stanowią porad prawnych lub innego profesjonalnego doradztwa. Administrator Serwisu nie ponosi odpowiedzialności za wykorzystanie treści publikowanych na łamach serwisu, w szczególności za szkody lub straty poniesione przez kogokolwiek w skutek jakiegokolwiek wykorzystania treści umieszczonych w Serwisie. Redakcja Serwisu dokłada wszelkich starań, aby publikowane tu materiały były opracowane z największą starannością. Administrator Serwisu zastrzega sobie prawo do możliwych błędów w publikacjach.
    .static__subtitle
      p 2. Rejestracja i konto użytkownika
    .static__text
      p 1. Rejestracja Użytkownika w Serwisie jest w pełni bezpłatna.
      p 2. W celu rejestracji Użytkownik musi założyć w Serwisie własne konto, wypełniając formularz rejestracyjny znajdujący się na stronie www.odpady-help.pl.
      p 3. Korzystanie z Serwisu jest możliwe, jeśli Użytkownik ma dostęp do Internetu, adres e-mail, oraz po spełnieniu następujących wymagań technicznych w zakresie sprzętu komputerowego: zalecana rozdzielczość ekranu: 1024 x 768 pikseli; kompatybilne przeglądarki: Mozilla Firefox 3, Google Chrome, Opera, Internet Explorer 8, Safari.
      p 4. Użytkownik dokonuje rejestracji poprzez podanie następujących danych: nazwa użytkownika, adres e-mail, a także hasła. Rejestrujący podaje swoje dane dobrowolnie.
      p 5. Po założeniu konta w Serwisie Użytkownik musi je aktywować klikając link, który otrzymał w wiadomości wysłanej na podany adres e-mail przez system rejestracji konta.
      p 6. Podając swoje dane identyfikacyjne w formularzu rejestracyjnym Użytkownik potwierdza ich autentyczność i zgodność ze stanem faktycznym. Użytkownik może na bieżąco dokonywać ich aktualizacji bądź zmiany.
      p 7. Login i hasło stanowią informacje poufne i Użytkownik udostępnia je podmiotom trzecim na własne ryzyko.
      p
        |
        '8. Na prośbę Użytkownika Serwis dokona całkowitego usunięcia konta po przesłaniu przez niego wiadomości e-mail na adres
        u info@odpady-help.pl
        '
        'z prośbą o usunięcie konta. E-mail należy przesłać z konta e-mail podanego przy rejestracji, natomiast w treści wiadomości należy wpisać nazwę użytkownika.
      p
        |
        '9. Akceptując Regulamin Serwisu Użytkownik akceptuje wszystkie punkty niniejszego Regulaminu, a także wyraża zgodę na gromadzenie oraz przetwarzanie swoich danych w sieci Internet przez Administratora Serwisu w celach statystycznych i marketingowych zgodnie z ustawą z dnia 18 lipca 2002 roku o świadczeniu usług drogą elektroniczną, tekst jedn. – Dz. U. z 2013 r., poz. 1422 z późn. zm.; dalej „Ustawa"). Zasady gromadzenia i przetwarzania danych osobowych określone zostały w „Polityce prywatności", dostępnej
        '
        u tutaj
        '.
      p 10. Administrator zastrzega sobie prawo do nie zaakceptowania rejestracji użytkownika.
      p 11. Administrator Serwisu zastrzega sobie prawo do blokady lub usunięcia konta Użytkownika, który narusza postanowienia Regulaminu.
    .static__subtitle
      p 3. Katalog firm
    .static__text
      p 1. „Katalog firm"; znajdujący się w Serwisie tworzony jest w oparciu o dane wpisywane podczas dodawania firmy.
      p 2. Wpis do „Katalogu firm"; dokonywany jest po weryfikacji i akceptacji przez Administratora Serwisu.
      p 3. Edycja danych firmy możliwa jest jedynie przez zarejestrowanych użytkowników Serwisu.
      p 4. Administrator zastrzega sobie prawo nie zaakceptowania wpisu do katalogu lub usunięcia wpisu firmy z katalogu firm.
    .static__subtitle
      p 4. Forum
    .static__text
      p 1. Zabrania się na Forum umieszczania postów o charakterze: „Jestem zainteresowany, proszę o kontakt", „Zainteresowanych proszę o kontakt"; itp. Niedopuszczalne jest umieszczanie przez Użytkowników na stronach Forum jakichkolwiek materiałów chronionych prawem autorskim, do których rozpowszechniania Użytkownik nie jest uprawniony.
      p 2. Wpisy użytkowników niezarejestrowanych publikowane będą na Forum po akceptacji przez Administratora.
      p 3. Wpisy użytkowników zarejestrowanych publikowane są na Forum bez koniecznej akceptacji Administratora. Jednak należy pamiętać, że nie zwalnia to z konieczności stosowania się do zasad korzystania z Forum. W przypadku nierespektowania zasad Użytkownik pomimo rejestracji może utracić prawo do publikacji wypowiedzi bez akceptacji Administratora.
      p 4. Serwis nie odpowiada za treść wypowiedzi publikowanych na Forum z uwzględnieniem zasad określonych w Ustawie.
    .static__subtitle
      p 5. Netykieta FORUM
    .static__text
      p 1. Netykieta Forum Serwisu jest integralnym elementem Regulaminu i należy się z nią zapoznać przed przystąpieniem do dyskusji. Użytkowników Forum Serwisu obowiązują następując zasady:
      p 1) Wypowiadaj się kulturalnie, nie używaj wulgaryzmów.
      p 2) Nie obrażaj i nie atakuj personalnie swoich rozmówców.
      p 3) Jeśli zadajesz komuś pytanie, sformułuj je precyzyjnie.
      p 4) Jeśli zadajesz komuś pytanie, sformułuj je precyzyjnie.
      p 5) Odpowiadając na post, cytuj tylko potrzebne fragmenty, a resztę wycinaj.
      p 6) Zanim utworzysz nowy wątek z prośbą o pomoc, spróbuj poszukać podobnych problemów i gotowych rozwiązań w poprzednich postach znajdujących się na Forum.
      p 7) Tworząc nowy wątek pamiętaj o nadaniu mu odpowiedniego tytułu, który będzie skrótowo charakteryzował dane zagadnienie.
      p 8) Nie publikuj wątków niezgodnych z tematyką danego Forum.
      p 9) Jeśli chcesz zwrócić komuś uwagę, zrób to kulturalnie, najlepiej na adres prywatny. Staraj się doradzać innym, a nie wyśmiewać ich.
      p 10) Jeżeli dyskusja przerodzi się w prywatną rozmowę, kontynuuj ją poza Forum.
      p 2. Niedopuszczalne jest umieszczanie przez Użytkowników treści sprzecznych z prawem lub dobrymi obyczajami, treści wzywających do nienawiści rasowej, wyznaniowej, etnicznej bądź innej, jak również treści propagujących przemoc.
    .static__subtitle
       p 6. Newsletter
    .static__text
       p 1. Zapisując sie do newslettera w naszym Serwisie, wyrażasz zgodę na otrzymywanie informacji drogą elektroniczną zgodnie z Ustawą oraz przetwarzanie Twoich danych osobowych w postaci adresu email przez Serwis.
       p 2. Dane te będą wykorzystywane do informowania na bieżąco o zmianach w przepisach, wydarzeniach, informacjach branżowych, ofertach handlowych oraz ciekawostkach z branży ochrony środowiska.
       p
         |
         '3. W każdej chwili możesz zrezygnować z otrzymywania newslettera wysyłając maila z treścią NIE na adres
         u info@odpady-help.pl
         '.
       p 4. Subskrypcja newslettera jest całkowicie bezpłatna.
    .static__subtitle
      p 7. Odpowiedzialność
    .static__text1
      p Administrator Serwisu nie ponosi odpowiedzialności za:
    .static__text
      p 1. Jakiekolwiek szkody Użytkownika spowodowane działaniem Serwisu, chyba że szkoda ta jest wynikiem zawinionego działania Administratora Serwisu;
      p 2. Przypadki losowe i wadliwe działanie skryptów, kodu źródłowego; w szczególności nie ponosi odpowiedzialności za serwery zewnętrzne;
      p 3. Nieprawdziwe informacje podawane w zgłoszeniach Użytkowników, na Forum i w Katalogu firm;
      p 4. Treść korespondencji wysyłanej przez Użytkowników;
      p 5. Skutki udostępnienia przez Użytkownika osobom trzecim nazwy użytkownika i hasła Użytkownika; przerwy w funkcjonowaniu Serwisu zaistniałe z przyczyn technicznych (konserwacja, przegląd, wymiana sprzętu) lub niezależnych od dostawcy.
      p 6. Utratę danych spowodowaną awarią sprzętu, systemu lub też innymi okolicznościami niezależnymi od Administratora Serwisu.
    .static__subtitle
      p 8. Forum
    .static__text
      p 1. Serwis stanowi bazę danych w rozumieniu ustawy z dnia 4 lutego 1994 r. o prawie autorskim i prawach pokrewnych (tekst jedn. – Dz. U. z 2006 r., poz. 90.63z późn. zm.) i jest chroniony prawem.
      p 2. Użytkownik może zamieszczać odnośniki prowadzące do którejkolwiek ze stron Serwisu.
    .static__subtitle
      p 9. Konsekwencje naruszania Regulaminu
    .static__text
      p 1. W przypadku złamania jakiegokolwiek punktu regulaminu Administrator Serwisu ma prawo zablokować lub usunąć konto Użytkownika. Podstawą nałożenia kary regulaminowej może być:
      p a) obrażanie użytkowników Serwisu,
      p b) działanie na szkodę Serwisu,
      p c) spamowanie:
      p - dodawanie pełnych tekstów z innych stron lub prasy bez zgody autora,
      p - dodawanie fragmentów tekstów z innych stron lub prasy bez podania autora i źródła,
      p - prowadzenie działalności reklamowej za pomocą komentarzy,
      p - dodawanie linków do innych stron bez podania informacji o zawartości strony docelowej,
      p - dodawanie komentarzy w żaden sposób nie nawiązujących do tematu publikowanej wiadomości i dyskusji w komentarzach,
      p d) poruszanie tematów niezwiązanych z tematyką Serwisu.
    .static__subtitle
      p 10. Postanowienia ogólne
    .static__text
      p 1. Każdy Użytkownik obowiązany jest korzystać z Serwisu w sposób zgodny z obowiązującym prawem, niniejszym Regulaminem oraz zasadami współżycia społecznego oraz dobrymi obyczajami, w poszanowaniu dla praw własności intelektualnej.
      p 2. W sprawach nieuregulowanych niniejszym Regulaminem stosuje się przepisy Kodeksu Cywilnego i innych powszechnie obowiązujących na terytorium Rzeczypospolitej aktów prawnych, a wszelkie spory wynikające z Usług świadczonych na podstawie Regulaminu strony poddają jurysdykcji właściwych sądów polskich.
    .static__title
      p
        |
        '
    .static__title
      p
        |
        '
    .static__title
      p
        |
        '
  = render 'application/sidebar'
