.cnt.laws-list.clearfix
  = render 'advertisements/top'
  .statics
    = render 'static_tabs'
    .static__title
      p
        'POLITYKA PRYWATNOŚCI
        br
        'SERWISU ODPADY-HELP.PL
    .static__subtitle
      p I. Dane osobowe
    .static__text
      p 1. Dane osobowe Użytkowników Serwisu („Użytkownik”) podane w procesie rejestracji konta Użytkownika, przetwarzane są przez Usługobiorcę w celu możliwości logowania do serwisu, utrzymania logowania użytkownika na każdej kolejnej stronie serwisu, utworzenia indywidualnego konta Użytkownika, uproszczonego korzystania z Forum, przesyłania newslettera oraz w celu marketingu bezpośredniego własnych produktów i usług podmiotu przetwarzającego dane (tj. na podstawie art. 23 ust. 1 pkt 3 i 5 ustawy z dnia 29 sierpnia 1997 roku o ochronie danych osobowych; tekst jedn. – Dz. U. z 2014 r., poz. 1182, z późn. zm.; dalej „Ustawa”).
      p 2. Administratorem danych osobowych Klientów jest firma Effeko Sp. z o.o., ul. J. Słowackiego 38A/15, 60-825 Poznań, NIP:7811913583
      p 3. Przesyłanie Użytkownikom informacji handlowych drogą elektroniczną odbywa się wyłącznie po wyrażeniu przez Użytkownika zgody na taką formę komunikacji.
      p 4. Użytkownikom przysługuje prawo dostępu do treści swoich danych osobowych oraz ich poprawiania. Podanie wszelkich danych osobowych jest dobrowolne.
      p 5. Administrator danych osobowych czuwa nad tym, aby dane osobowe były przetwarzane zgodnie z prawem, w szczególności z przepisami Ustawy a nadto, aby były zbierane dla oznaczonych, zgodnym z prawem celów, merytorycznie poprawne i adekwatne w stosunku do celów, dla jakich są przetwarzane.
      p 6. Administrator danych osobowych, zgodnie z art. 31 Ustawy może powierzyć podmiotom trzecim przetwarzanie danych osobowych Użytkowników.
    .static__subtitle
      p II. Pliki cookies
    .static__text
      p 1. Serwis wykorzystuje tzw. pliki cookies – dane informatyczne zapisywane przez serwery internetowe na urządzeniu końcowym Użytkownika, które mogą być następnie odczytywane przez serwery internetowe przy każdorazowym połączeniu się z urządzeniem końcowym Użytkownika.
      p
        |
        '2.
        '
        u Czym są pliki cookies.
        br
        ' Ciasteczka (ang. cookies) są to niewielkie pliki tekstowe z danymi, przechowywane na Twoim komputerze (smartfonie, tablecie itp.). Tworzone są w czasie przeglądania Serwisu. Takie rozwiązanie pozwala nam na rozpoznanie Twojego urządzenie i właściwe wyświetlenie treści Serwisu, dostosowując ją do Twoich preferencji. „Cookies” przechowują między innymi takie dane jak: nazwę strony internetowej, z której pochodzą, czas ich przechowywania na urządzeniu oraz unikalny numer służący do identyfikacji przeglądarki.
      p
        |
        '3.
        '
        u Z jakich rodzajów plików cookies korzystamy.
        br
        ' Cookies „tymczasowe” – pliki są zapisywane na Twoim urządzeniu, zostają usunięte po wylogowaniu lub zamknięciu przeglądarki. Cookies „stałe” – pliki są przechowywane tak długo aż nie zostaną usunięte ręcznie lub są usuwane po upływnie z góry określonego czasu zapisanego, jako parametr w danym pliku.
      p
        |
        '4.
        '
        u Do czego używamy plików cookies.
        br
        ' Pliki „cookies” używane są w celu dostosowania zawartości Serwisu do preferencji użytkownika. Pliki cookies przechowują informację o geolokalizacji, języku odwiedzającego stronę, oraz losowe dane dotyczące identyfikatorów sesji. Gromadzone dane pomagają zrozumieć, w jaki sposób użytkownik korzysta z Serwisu, co umożliwia ulepszanie jego struktury i zawartości. Pozyskane informacje pomagają nam budować statystyki dotyczące ilości nowych i stałych użytkowników oraz umożliwiają nam analizę odwiedzanych podstron. Dzięki tym informacjom nieustannie polepszamy nawigację po naszym Serwisie oraz poprawiamy, jakość oferowanych treści.
      p
        |
        '5.
        '
        u Usuwanie i wyłączanie plików cookies
        br
        ' Możesz w dowolnym momencie zmienić ustawienia przeglądarki, by nie akceptowała plików cookies lub informowała o ich przesyłaniu. Należy jednak pamiętać, iż nieakceptowanie plików cookie może spowodować utrudnienia w korzystaniu z Serwisu. Standardowo oprogramowanie służące do przeglądania stron internetowych domyślnie dopuszcza umieszczanie plików „cookies”. Ustawienia przeglądarki mogą zostać zmienione w taki sposób, aby blokować automatyczną obsługę plików „cookies” lub informować o ich każdorazowym przesłaniu na urządzenie użytkownika. Więcej informacji o wyłączeniu automatycznego zapisu plików „cookies” można odnaleźć w ustawieniach przeglądarki (oprogramowania służącego do przeglądania stron internetowych).
    .static__subtitle
      p III. Kontakt
    .static__text1
      p W przypadku pytań dotyczących niniejszej polityki prywatności prosimy o kontakt pod adresem poczty elektronicznej info@odpady-help.pl
  = render 'application/sidebar'