.cnt.laws-list.clearfix
  = render 'advertisements/top'
  .statics
    .static__title1
      p Zachęcamy do reklamy w naszym Serwisie.
    .static__bold
      p Koncentrujemy uwagę na wszystkim co związane jest z branżą gospodarki odpadami.
    .static__bold
      p Jeśli są Państwo zainteresowani, pomożemy Państwu dotrzeć do potencjalnych klientów przez skuteczną reklamę w naszym Serwisie.
    .static__bold
      p
        = link_to asset_path("Cennik reklam odpady-help.pdf") do
          |
          = image_tag 'ic10.png'
          = "Pobierz ofertę reklamową"
      p
        = link_to asset_path("Cennik reklam odpady-help.pdf") do
          |
          = image_tag 'ic10.png'
          = "Formularz zamówienia"
    .static__bold
      p Lub skontaktuj się z nami:
    .static__bold
      p
        |
        = mail_to 'info@odpady-help.pl'
        'tel: (61) 679 25 15
        br
        'fax: 22 350 73 36
  = render 'application/sidebar'