=@diesel_category.name
= simple_form_for [:admin, @diesel_category, @diesel], as: :diesels, html: { class: 'form-horizontal' } do |f|
  .box
    .box-body
      = f.input :name
      = f.input :year
      = f.input :value
      = f.input :on, as: :boolean
  .box
    .box-footer
      => link_to t('shared.back'), admin_diesel_category_diesels_path(@diesel_category), class: 'btn btn-default'
      = f.button :submit, f.object.persisted? ? t('shared.update') : t('shared.create'), class: 'btn pull-right'