section.content-header
  h1
    i.fa.fa-recycle>
    =t '.title'
    br
    =@diesel_category.name
section.content
  .box
    .box-header.with-border
      - if policy([:admin, Diesel]).new?
        => link_to t('.actions.add'), new_admin_diesel_category_diesel_path(@diesel_category), class: 'btn btn-success'
      => link_to t('shared.back'), admin_diesel_categories_path, class: 'btn btn-default'
    .box-body.no-padding
      table#diesels.table.table-striped
        thead
          tr
            th=t '.table.name'
            th=t '.table.year'
            th ON
            th
        tbody
          - @diesels.each do |diesel|
            tr id=dom_id(diesel)
              td= diesel.name
              td= diesel.year
              td
                - if diesel.on?
                  i.fa.fa-check
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, diesel]).edit?
                      li
                        = link_to edit_admin_diesel_category_diesel_path(@diesel_category, diesel) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                      - if policy([:admin, diesel]).destroy?
                        li
                          = link_to admin_diesel_category_diesel_path(@diesel_category, diesel), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                            i.fa.fa-trash>
                            =t 'shared.destroy'
    .box-footer
      = paginate @diesels, theme: 'twitter-bootstrap-3'