section.content-header
  h1
    i.fa.fa-list>
    =t '.title'

section.content
  .box
    .box-header.with-border
      - if policy([:admin, Law]).new?
        = link_to t('.actions.add'), new_admin_law_path, class: 'btn btn-success'
    .box-body.no-padding
      table#laws.table.table-striped
        thead
          tr
            th=t '.table.address'
            th=t '.table.title'
            th=t '.table.on_main'
            th=t '.table.pdf'
            th=t '.table.isap'
            th
        tbody
          - @laws.each do |law|
            tr id=dom_id(law)
              td= law.address
              td= law.title
              td= law.law_on_main.present?
              td
                - if law.pdf.present?
                  = link_to t('shared.download'), law.pdf
              td
                - if law.isap.present?
                  = link_to t('shared.download'), law.isap
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, law]).edit?
                      li
                        = link_to edit_admin_law_path(law) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                    - if policy([:admin, law]).destroy?
                      li
                        = link_to admin_law_path(law), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                          i.fa.fa-trash>
                          =t 'shared.destroy'
