=@manual_category.name
= simple_form_for [:admin, @manual_category, @manual], as: :manual, html: { class: 'form-horizontal' } do |f|
  .box.box-primary
    .box-body
      = f.input :name
      = f.input :description, as: :text

  .box.box-primary
    .box-body
      = f.input :body, as: :ckeditor, input_html: { ckeditor: { toolbar: 'AdminToolbar' } }, wrapper: :horizontal_form_full_width

  .box.box-primary
    .box-footer
      => link_to t('shared.back'), admin_manual_category_manuals_path(@manual_category), class: 'btn btn-default'
      = f.button :submit, f.object.persisted? ? t('shared.update') : t('shared.create'), class: 'btn pull-right'
