section.content-header
  .actions.pull-right
    - if policy([:admin, @manual]).destroy?
      => link_to admin_manual_category_manual_path(@manual_category, @manual), method: :delete, data: { confirm: t('shared.are_you_sure') }, class: 'btn btn-danger'
        i.fa.fa-trash>
        =t 'shared.destroy'
  h1
    i.fa.fa-info>
    =t '.title'
section.content
  = render 'form'