section.content-header
  h1
    i.fa.fa-sort>
    =t '.title'
    small= @manual_category.name
section.content
  .box
    .box-header.with-border
      - if policy([:admin, Manual]).new?
        => link_to t('.actions.add'), new_admin_manual_category_manual_path(@manual_category), class: 'btn btn-success'
      => link_to t('shared.back'), admin_manual_categories_path, class: 'btn btn-default'
    .box-body.no-padding
      table#manuals.table.table-striped
        thead
          tr
            th=t '.table.name'
            th
        tbody
          - @manuals.each do |manual|
            tr id=dom_id(manual)
              td= manual.name
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, manual]).edit?
                      li
                        = link_to edit_admin_manual_category_manual_path(@manual_category, manual) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                      - if policy([:admin, manual]).destroy?
                        li
                          = link_to admin_manual_category_manual_path(@manual_category, manual), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                            i.fa.fa-trash>
                            =t 'shared.destroy'