=@environment_water_category.name
= simple_form_for [:admin, @environment_water_category, @environment_water], as: :environment_waters, html: { class: 'form-horizontal' } do |f|
  .box
    .box-body
      = f.input :name
      = f.input :year
      = f.input :sum

  .box
    .box-footer
      => link_to t('shared.back'), admin_environment_water_category_environment_waters_path(@environment_water_category), class: 'btn btn-default'
      = f.button :submit, f.object.persisted? ? t('shared.update') : t('shared.create'), class: 'btn pull-right'