section.content-header
  .actions.pull-right
    - if policy([:admin, @environment_water]).destroy?
      => link_to admin_environment_water_category_environment_water_path(@environment_water_category, @environment_water), method: :delete, data: { confirm: t('shared.are_you_sure') }, class: 'btn btn-danger'
        i.fa.fa-trash>
        =t 'shared.destroy'
  h1
    i.fa.fa-recycle>
    =t '.title'
section.content
  = render 'form'