section.content-header
  h1
    i.fa.fa-recycle>
    =t '.title'
    br
    =@environment_water_category.name
section.content
  .box
    .box-header.with-border
      - if policy([:admin, EnvironmentWater]).new?
        => link_to t('.actions.add'), new_admin_environment_water_category_environment_water_path(@environment_water_category), class: 'btn btn-success'
      => link_to t('shared.back'), admin_environment_water_categories_path, class: 'btn btn-default'
    .box-body.no-padding
      table#environment_waters.table.table-striped
        thead
          tr
            th=t '.table.name'
            th=t '.table.year'
            th
        tbody
          - @environment_waters.each do |environment_water|
            tr id=dom_id(environment_water)
              td= environment_water.name
              td= environment_water.year
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, environment_water]).edit?
                      li
                        = link_to edit_admin_environment_water_category_environment_water_path(@environment_water_category, environment_water) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                      - if policy([:admin, environment_water]).destroy?
                        li
                          = link_to admin_environment_water_category_environment_water_path(@environment_water_category, environment_water), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                            i.fa.fa-trash>
                            =t 'shared.destroy'
    .box-footer
      = paginate @environment_waters, theme: 'twitter-bootstrap-3'