= simple_form_for [:admin, @interpretation_category], as: :interpretation_category, html: { class: 'form-horizontal' } do |f|
  .box.box-primary
    .box-body
      = f.input :name
    .box-footer
      => link_to t('shared.back'), admin_interpretation_categories_path, class: 'btn btn-default'
      = f.button :submit, f.object.persisted? ? t('shared.update') : t('shared.create'), class: 'btn pull-right'