section.content-header
  h1
    i.fa.fa-hand-pointer-o>
    =>t '.title'
    small= t '.subtitle'

section.content
  .box
    .box-header.with-border
      - if policy([:admin, ::Interpretation::Category]).new?
        = link_to t('.actions.add'), new_admin_interpretation_category_path, class: 'btn btn-success'
    .box-body.no-padding
      table#interpretation_categories.table.table-striped
        thead
          tr
            th=t '.table.name'
            th
        tbody
          - @interpretation_categories.each do |interpretation_category|
            tr id=dom_id(interpretation_category)
              td= link_to interpretation_category.name, admin_interpretation_category_interpretations_path(interpretation_category)
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, interpretation_category]).edit?
                      li
                        = link_to edit_admin_interpretation_category_path(interpretation_category) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                      - if policy([:admin, interpretation_category]).destroy?
                        li
                          = link_to admin_interpretation_category_path(interpretation_category), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                            i.fa.fa-trash>
                            =t 'shared.destroy'