.cnt.calendar-list.clearfix
  = render 'advertisements/top'
  .calendar
    p.calendar__title
      | Plany gospodarki odpadami dla poszczególnych województw
    = render partial: 'tabs', locals: { states: @states }
  .float-right
    = render 'application/sidebar'