.cnt.calendar-list.clearfix
  = render 'advertisements/top'
  .calendar
    p.calendar__title
      | Plany gospodarki odpadami dla poszczególnych województw
    = render partial: 'tabs', locals: { states: @states }
    .calendar-tab__container
      #tabs-1
        .calendar-tab__title
          p Województwo #{@government_plan.state.name}
        .calendar-tab__text
          = simple_format @government_plan.body
          - if @government_plan.image?
            .text-center
              = link_to @government_plan.image.url, target: '_blank' do
                = image_tag @government_plan.image.medium
              small kliknij mapę aby powiększyć
  .float-right
    = render 'application/sidebar'