= simple_form_for [:admin, @event], as: :event, html: { class: 'form-horizontal' } do |f|
  .box.box-primary
    .box-body
      = f.input :name
      = f.input :start_at, wrapper: :multi_select
      = f.input :image, hint: (image_tag(f.object.image.thumb) if f.object.image?)
      = f.input :published, as: :boolean

  .box.box-primary
    .box-body
      = f.input :body, as: :ckeditor, input_html: { ckeditor: { toolbar: 'AdminToolbar' } }, wrapper: :horizontal_form_full_width

  .box.box-primary
    .box-footer
      => link_to t('shared.back'), admin_events_path, class: 'btn btn-default'
      = f.button :submit, f.object.persisted? ? t('shared.update') : t('shared.create'), class: 'btn pull-right'
