section.content-header
  .actions.pull-right
    - if policy([:admin, @event]).destroy?
      => link_to admin_event_path(@event), method: :delete, data: { confirm: t('shared.are_you_sure') }, class: 'btn btn-danger'
        i.fa.fa-trash>
        =t 'shared.destroy'
  h1
    i.fa.fa-calendar>
    =t '.title'
section.content
  = render 'form'