section.content-header
  h1
    i.fa.fa-calendar>
    =t '.title'

section.content
  .box
    .box-header.with-border
      - if policy([:admin, :Event]).new?
        = link_to t('.actions.add'), new_admin_event_path, class: 'btn btn-success'
    .box-body.no-padding
      table#events.table.table-striped
        thead
          tr
            th width='100px'=t '.table.image'
            th=t '.table.name'
            th=t '.table.start_at'
            th=t '.table.published'
            th
        tbody
          - @events.each do |event|
            tr id=dom_id(event)
              td= image_tag event.image.thumb.url
              td= event.name
              td=l event.start_at
              td
                - if event.published?
                  i.fa.fa-check
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, event]).edit?
                      li
                        = link_to edit_admin_event_path(event) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                    - if policy([:admin, event]).destroy?
                      li
                        = link_to admin_event_path(event), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                          i.fa.fa-trash>
                          =t 'shared.destroy'