.newsletter
  .newsletter__content
    .newsletter__signup
      p.newsletter__title
        | Zapisz się na newsletter
      form.newsletter__form
        input name="email" placeholder=("podaj swój adres e-mail") type="email" id="subscribe_email" value="" /
        input name="name" type="button" value=("zapisz się") id="subscribe_button" /
    .newsletter__information
      .newsletter__single-information
        = image_tag 'ok-icon.png'
        span Zmiany w przepisach
      .newsletter__single-information
        = image_tag 'ok-icon.png'
        span Porady ekspertów
      .newsletter__single-information
        = image_tag 'ok-icon.png'
        span Informacje o nadchodzących wydarzeniach
