.newsletter-modal-box.hide
  .newsletter-modal.form
    .newsletter_close.form = image_tag 'close.png'
    p.newsletter-modal__title= t '.title'

    = simple_form_for SubscribeToNewsletterForm.new, url: newsletter_subscribers_path, as: :subscriber, wrapper: 'newsletter_form', data: { success: t('.success') } do |f|
      = f.input :email, input_html: { class: 'text-input' }
      = f.input :position, as: :string, input_html: { class: 'text-input' }
      = f.input :state_id, collection: State.all.map{|s| [s.name.mb_chars.capitalize, s.id]}, input_html: { class: 'text-input' }
      = f.input :branch_id, collection: Branch.all.map{|s| [s.name.mb_chars.capitalize, s.id]}, input_html: { class: 'text-input' }

      = f.input :accept_rules, as: :boolean, wrapper: :login_checkbox, boolean_style: :inline
      = f.input :accept_data_processing, as: :boolean, wrapper: :login_checkbox, boolean_style: :inline
      = f.input :accept_advertisement, as: :boolean, wrapper: :login_checkbox, boolean_style: :inline

      .newsletter-modal__center
        .login__submit.clearfix
          = f.submit t('.submit')
          span.right-arrow-circle
  .newsletter-modal.thanks.hide
    .newsletter_close.thanks = image_tag 'close.png'
    p.newsletter-modal__title Dziękujemy za rejestrację.
