section.content-header
  h1
    i.fa.fa-recycle>
    =t '.title'
    br
    =@water_category.name
section.content
  .box
    .box-header.with-border
      - if policy([:admin, Water]).new?
        => link_to t('.actions.add'), new_admin_water_category_water_path(@water_category), class: 'btn btn-success'
      => link_to t('shared.back'), admin_water_categories_path, class: 'btn btn-default'
    .box-body.no-padding
      table#waters.table.table-striped
        thead
          tr
            th=t '.table.name'
            th=t '.table.year'
            th
        tbody
          - @waters.each do |water|
            tr id=dom_id(water)
              td= water.name
              td= water.year
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, water]).edit?
                      li
                        = link_to edit_admin_water_category_water_path(@water_category, water) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                      - if policy([:admin, water]).destroy?
                        li
                          = link_to admin_water_category_water_path(@water_category, water), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                            i.fa.fa-trash>
                            =t 'shared.destroy'
    .box-footer
      = paginate @waters, theme: 'twitter-bootstrap-3'