= simple_form_for [:admin, @post], as: :post, html: { class: 'form-horizontal' } do |f|
  .box.box-primary
    .box-body
      - unless @post.user.present?
        = f.input :username
      = f.input :thread_id, as: :select, collection: ::Forum::Thread.all.map{|t| [t.subject, t.id]}
      = f.input :approved, as: :boolean
      = f.input :message, as: :ckeditor, input_html: { ckeditor: { toolbar: 'ForumToolbar' } }
    .box-footer
      => link_to t('shared.back'), admin_forum_thread_path(id: @post.thread.id), class: 'btn btn-default'
      = f.button :submit, f.object.persisted? ? t('shared.update') : t('shared.create'), class: 'btn pull-right'
