'Stawka opłaty produktowej w zł/kg dla poszczególnych lat
table.table.table-striped
  thead
    tr
      th name
      -@years.each do |year|
        th = year
  tbody
   - @names.each do |name|
     tr
       td= name
       - @years.each do |year|
         td
          - if ProductPayment.where(name: name, year: year).exists?
             = ProductPayment.where(name: name, year: year).first.sum
'Poziomy recyklingu odpadów opakowaniowych w % dla poszczególnych lat
table.table.table-striped
  thead
    tr
      th name
      -@years.each do |year|
        th = year
  tbody
    - @names.each do |name|
      tr
        td= name
        - @years.each do |year|
          td
            - if ProductPayment.where(name: name, year: year).exists?
              = ProductPayment.where(name: name, year: year).first.percentage
'Poziomy odzysku odpadów opakowaniowych w % dla poszczególnych lat
table.table.table-striped
  thead
    tr
      th name
      -@years_all.each do |year_all|
        th = year_all
  tbody
      tr
        td opakowania razem
        - @years_all.each do |year_all|
          td
            - if ProductPayment.where(name: 'opakowania razem', year: year_all).exists?
              = ProductPayment.where(name: 'opakowania razem', year: year_all).first.percentage