= simple_form_for [:admin, @useful_link], as: :useful_link, html: { class: 'form-horizontal' } do |f|
  .box.box-primary
    .box-body
      = f.input :link, as: :ckeditor, input_html: { ckeditor: { toolbar: 'AdminToolbar' } }, wrapper: :horizontal_form_full_width
    .box-footer
      => link_to t('shared.back'), admin_useful_links_path, class: 'btn btn-default'
      = f.button :submit, f.object.persisted? ? t('shared.update') : t('shared.create'), class: 'btn pull-right'
