section.content-header
  .actions.pull-right
    - if policy([:admin, @useful_link]).destroy?
      => link_to admin_link_path(@useful_link), method: :delete, data: { confirm: t('shared.are_you_sure') }, class: 'btn btn-danger'
        i.fa.fa-trash>
        =t 'shared.destroy'
  h1
    i.fa.fa-external-link>
    =t '.title'
section.content
  = render 'form'
