section.content-header
  h1
    i.fa.fa-external-link>
    =t '.title'

section.content
  .box
    .box-header.with-border
      - if policy([:admin, UsefulLink]).new?
        = link_to t('.actions.add'), new_admin_useful_link_path, class: 'btn btn-success'
    .box-body.no-padding
      table#links.table.table-striped
        thead
          tr
            th=t '.table.link'
            th
        tbody
          - @useful_links.each do |useful_link|
            tr id=dom_id(useful_link)
              td= simple_format useful_link.link
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, useful_link]).edit?
                      li
                        = link_to edit_admin_useful_link_path(useful_link) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                    - if policy([:admin, useful_link]).destroy?
                      li
                        = link_to admin_useful_link_path(useful_link), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                          i.fa.fa-trash>
                          =t 'shared.destroy'
    .box-footer
      = paginate @useful_links, theme: 'twitter-bootstrap-3'