= simple_form_for [:admin, @union_document_category, @union_document], as: :union_document, html: { class: 'form-horizontal' } do |f|
  .box.box-primary
    .box-body
      = f.input :address
      = f.input :title, as: :text
      .law_on_main_fields
        = f.fields_for :law_on_main do |lf|
          = lf.input :_destroy, as: :boolean, input_html: { class: "law_on_main_check", checked: lf.object.persisted? }, label: 'Pokazywać na głównej', checked_value: 0, unchecked_value: 1
          = lf.input :itemable_type, as: :hidden
          = lf.input :itemable_id, as: :hidden
          = lf.input :icon_id,
                     collection: [[1], [2], [3], [4], [5]],
                     as: :radio_buttons,
                     label_method: lambda {|m| return image_tag("law#{m.first}.png") },
                     value_method: :first
      = f.input :pdf
      = f.input :eur_lex
    .box-footer
      => link_to t('shared.back'), admin_union_document_category_union_documents_path(@union_document_category), class: 'btn btn-default'
      = f.button :submit, f.object.persisted? ? t('shared.update') : t('shared.create'), class: 'btn pull-right'
