section.content-header
  h1
    i.fa.fa-euro>
    =t '.title'
    small= @union_document_category.name

section.content
  .box
    .box-header.with-border
      - if policy([:admin, UnionDocument]).new?
        => link_to t('.actions.add'), new_admin_union_document_category_union_document_path(@union_document_category), class: 'btn btn-success'
      => link_to t('shared.back'), admin_union_document_categories_path, class: 'btn btn-default'
    .box-body.no-padding
      table#union_documents.table.table-striped
        thead
          tr
            th=t '.table.title'
            th=t '.table.on_main'
            th=t '.table.pdf'
            th=t '.table.eur_lex'
            th
        tbody
          - @union_documents.each do |union_document|
            tr id=dom_id(union_document)
              td= union_document.title
              td= union_document.law_on_main.present?
              td
                - if union_document.pdf.present?
                  = link_to union_document.pdf do
                    i.fa.fa-file-pdf-o
              td
                - if union_document.eur_lex.present?
                  = link_to union_document.eur_lex do
                    i.fa.fa-link
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, union_document]).edit?
                      li
                        = link_to edit_admin_union_document_category_union_document_path(@union_document_category, union_document) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                      - if policy([:admin, union_document]).destroy?
                        li
                          = link_to admin_union_document_category_union_document_path(@union_document_category, union_document), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                            i.fa.fa-trash>
                            =t 'shared.destroy'
