= simple_form_for [:admin, @banner], html: { class: 'form-horizontal' } do |f|
  .box.box-primary
    .box-body
      = f.input :description
      = f.input :link
      = f.input :image
      - if f.object.image?
        .form-group.file.required.banner_image
          label.col-sm-3.control-label
            =t '.preview'
          .col-sm-9
            => image_tag f.object.image.top_thumb
            => image_tag f.object.image.sidebar_thumb        
      = f.input :top
      = f.input :sidebar
    .box-footer
      => link_to t('shared.back'), admin_banners_path, class: 'btn btn-default'
      = f.button :submit, f.object.persisted? ? t('shared.update') : t('shared.create'), class: 'btn pull-right'