section.content-header
  h1
    i.fa.fa-image>
    =t '.title'

section.content
  .box
    .box-header.with-border
      - if policy([:admin, Banner]).new?
        = link_to t('.actions.add'), new_admin_banner_path, class: 'btn btn-success'

    .box-body.no-padding
      table#banners.table.table-striped
        thead
          tr
            th=t '.table.description'
            th=t '.table.link'
            th
            th
            th width='32px'
              i.fa.fa-eye
            th width='32px'
              i.fa.fa-hand-pointer-o
            th
        tbody
          - @banners.each do |banner|
            tr id=dom_id(banner)
              td= banner.description
              td= link_to truncate(banner.link.to_s), banner.link, target: '_blank'
              td
                = image_tag banner.image.top_thumb, class: ('opaque' unless banner.top?)
              td
                = image_tag banner.image.sidebar_thumb, class: ('opaque' unless banner.sidebar?)
              td= banner.views_count
              td= banner.clicks_count
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, banner]).edit?
                      li
                        = link_to edit_admin_banner_path(banner) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                    - if policy([:admin, banner]).destroy?
                      li
                        = link_to admin_banner_path(banner), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                          i.fa.fa-trash>
                          =t 'shared.destroy'