.cnt.forum-list.clearfix
  = render 'advertisements/top'
  .forum-main
    .clearfix
      p.forum-main__title
        = t '.title'
    = form_for OpenStruct.new, url: search_index_path, method: :get, as: :search, html: { class: 'search_form' } do |f|
      .input-group
        = f.text_field :query, class: 'search_input', value: params[:search][:query], placeholder: t('.placeholder')
        span.search_submit= t('.actions.submit')
    .search_results
      - if @results.length.eql?(0)
        h3= t '.nothing'
      else
        - @results.each do |r|
          - if r.record_class.eql?(Forum::Thread)
            - thread = r.record.decorate
            = link_to forum_thread_posts_path(thread)
              .title
                = raw(r.highlight)
              .who
                = time_ago_in_words(thread.created_at)
                |&nbsp;-&nbsp;
                = thread.decorate.username
          - if r.record_class.eql?(Forum::Post)
            - post = r.record.decorate
            = link_to forum_thread_posts_path(post.thread, anchor: post.id)
              .title
                = r.record.thread.subject
              .body
                = raw(r.highlight)
              .who
                = time_ago_in_words(post.created_at)
                |&nbsp;-&nbsp;
                = post.decorate.username
        = paginate @results
  .float-right
    = render 'sidebar'
