= simple_form_for [:admin, @waste], as: :waste, html: { class: 'form-horizontal' } do |f|
  .box.box-primary
    .box-body
      = f.input :code
      = f.input :name
      = f.input :parent_id, as: :select, collection: Waste.order(code: :asc).map{ |w| ["#{w.code} - #{w.name}", w.id] }
      = f.input :dry_mass
      = f.input :disposal
      = f.input :recycling
      = f.input :org_fiz
      = f.input :battery
      = f.input :dangerous
      = f.input :communal

      .box.box-primary
        .box-header.with-border
          .col-md-3
          .col-md-9
            h3= t('.waste_fees.title')

        #waste_fees
          = f.simple_fields_for :waste_fees do |waste_fee|
            = render 'waste_fee_fields', f: waste_fee

        .box.box-solid
          .box-body
            .links
              = link_to_add_association t('.waste_fees.add'), f, :waste_fees, class: 'btn btn-success', data: { 'association-insertion-node' => '#waste_fees', 'association-insertion-method' => 'append' }


    .box-footer
      => link_to t('shared.back'), admin_wastes_path, class: 'btn btn-default'
      = f.button :submit, f.object.persisted? ? t('shared.update') : t('shared.create'), class: 'btn pull-right'
