.box-body
  .nested-fields
    = f.input :id, as: :hidden
    = f.input :year, as: :integer, input_html: { value: f.object.year || Time.now.year }
    = f.input :value, as: :integer

    .text-right
      = link_to_remove_association t('.delete'), f, class: 'btn btn-danger'
