section.content-header
  h1
    i.fa.fa-trash-o>
    =t '.title'

section.content
  .box
    .box-header.with-border
      - if policy([:admin, Waste]).new?
        = link_to t('.actions.add'), new_admin_waste_path, class: 'btn btn-success'
    .box-body.no-padding
      table#wastes.table.table-striped
        thead
          tr
            th=t '.table.code'
            th=t '.table.name'
            th=t '.table.parent'
            th
        tbody
          - @wastes.each do |waste|
            tr id=dom_id(waste)
              td= waste.code
              td= waste.name
              td= waste.parent.present? ? waste.parent.code : ''
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, waste]).edit?
                      li
                        = link_to edit_admin_waste_path(waste) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                    - if policy([:admin, waste]).destroy?
                      li
                        = link_to admin_waste_path(waste), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                          i.fa.fa-trash>
                          =t 'shared.destroy'
    .box-footer
      = paginate @wastes, theme: 'twitter-bootstrap-3'
