=@gasoline_category.name
= simple_form_for [:admin, @gasoline_category, @gasoline], as: :gasolines, html: { class: 'form-horizontal' } do |f|
  .box
    .box-body
      = f.input :name
      = f.input :year
      = f.input :value
      = f.input :bs, as: :boolean
  .box
    .box-footer
      => link_to t('shared.back'), admin_gasoline_category_gasolines_path(@gasoline_category), class: 'btn btn-default'
      = f.button :submit, f.object.persisted? ? t('shared.update') : t('shared.create'), class: 'btn pull-right'