section.content-header
  .actions.pull-right
    - if policy([:admin, @gasoline]).destroy?
      => link_to admin_gasoline_category_gasoline_path(@gasoline_category, @gasoline), method: :delete, data: { confirm: t('shared.are_you_sure') }, class: 'btn btn-danger'
        i.fa.fa-trash>
        =t 'shared.destroy'
  h1
    i.fa.fa-recycle>
    =t '.title'
section.content
  = render 'form'