section.content-header
  h1
    i.fa.fa-recycle>
    =t '.title'
    br
    =@gasoline_category.name
section.content
  .box
    .box-header.with-border
      - if policy([:admin, Gasoline]).new?
        => link_to t('.actions.add'), new_admin_gasoline_category_gasoline_path(@gasoline_category), class: 'btn btn-success'
      => link_to t('shared.back'), admin_gasoline_categories_path, class: 'btn btn-default'
    .box-body.no-padding
      table#gasolines.table.table-striped
        thead
          tr
            th=t '.table.name'
            th=t '.table.year'
            th BS
            th
        tbody
          - @gasolines.each do |gasoline|
            tr id=dom_id(gasoline)
              td= gasoline.name
              td= gasoline.year
              td
                - if gasoline.bs?
                  i.fa.fa-check
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, gasoline]).edit?
                      li
                        = link_to edit_admin_gasoline_category_gasoline_path(@gasoline_category, gasoline) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                      - if policy([:admin, gasoline]).destroy?
                        li
                          = link_to admin_gasoline_category_gasoline_path(@gasoline_category, gasoline), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                            i.fa.fa-trash>
                            =t 'shared.destroy'
    .box-footer
      = paginate @gasolines, theme: 'twitter-bootstrap-3'