.cnt.laws-list.clearfix
  = render 'advertisements/top'
  .laws
    p.news__title
      | Publikacje branżowe
    - @publications.each do |publication|
      .laws__single.clearfix id=dom_id(publication)
        .left
          p.news__single-description= publication.author
          p.news__single-title= publication.name
          p.news__single-description
            =l publication.created_at.to_date
            br/
            = publication.law
        .right
          - if publication.pdf?
            = link_to publication.pdf.url, class: 'float-right' do
              = image_tag 'ic10.png'
    = paginate @publications
  = render 'application/sidebar'