= simple_form_for [:admin, @article], as: :article, html: { class: 'form-horizontal' } do |f|
  .box.box-primary
    .box-body
      = f.input :name
      = f.input :date, wrapper: :multi_select
      = f.input :image, hint: (image_tag(f.object.image.thumb) if f.object.image?)
      = f.association :recommendations,
                      collection: Article.except_id(@article.id).map { |u| [u.name, u.id] },
                      include_blank: true,
                      input_html: { class: 'chosen-articles' }
      = f.input :published, as: :boolean
      = f.input :preview, as: :text

  .box.box-primary
    .box-body
      = f.input :body, as: :ckeditor, input_html: { ckeditor: { toolbar: 'AdminToolbar' } }, wrapper: :horizontal_form_full_width

  .box.box-primary
    .box-footer
      => link_to t('shared.back'), admin_articles_path, class: 'btn btn-default'
      = f.button :submit, f.object.persisted? ? t('shared.update') : t('shared.create'), class: 'btn pull-right'
