section.content-header
  h1
    i.fa.fa-newspaper-o>
    =t '.title'

section.content
  .box
    .box-header.with-border
      - if policy([:admin, :Article]).new?
        = link_to t('.actions.add'), new_admin_article_path, class: 'btn btn-success'
    .box-body.no-padding
      table#articles.table.table-striped
        thead
          tr
            th width='100px'=t '.table.image'
            th=t '.table.date'
            th=t '.table.name'
            th=t '.table.published'
            th
        tbody
          - @articles.each do |article|
            tr id=dom_id(article)
              td= image_tag article.image.thumb.url
              td=l article.date
              td= article.name
              td
                - if article.published?
                  i.fa.fa-check
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, article]).edit?
                      li
                        = link_to edit_admin_article_path(article) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                    - if policy([:admin, article]).destroy?
                      li
                        = link_to admin_article_path(article), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                          i.fa.fa-trash>
                          =t 'shared.destroy'
