.cnt.laws-list.clearfix
  = render 'advertisements/top'
  .laws
    #laws-tabs
      = render 'laws_tabs'
      #tabs-1
        p.laws__title
        .laws__single.clearfix
          p.laws__single-title= @category.name
          - @category.interpretations.each do |interpretation|
            p.laws__single-description id=dom_id(interpretation)
              = link_to interpretation do
                = simple_format interpretation.body
    .pull-right
      = link_to t('shared.back'), interpretations_categories_path, class: 'btn btn-default'
  .float-right
    = render 'application/sidebar'