.recommended_articles
  p.recommended_articles__title = t '.title'
  - recommendations.each do |article|
    .recommended_articles__single
      = link_to article_path(article)
        p.right-arrow-circle
          = article.name
