.cnt.news-list.clearfix
  = render 'advertisements/top'
  .news
    p.news__title
      | Wiadomości
    - @articles.each do |article|
      .news__single.clearfix
        = link_to article
          .news__img
            = image_tag article.image.medium
          .news__text
            p.news__single__title
              = article.name
            span
              =l article.date.to_date
            p.news__single__description
              = article.preview
    = paginate @articles
  = render 'application/sidebar'