.cnt.article
  = render 'advertisements/top'
  .clearfix
    .article__text
      .clearfix
        p.article__title
          = @article.name
          span.article__date=l @article.created_at.to_date
        .article__social
          a.article__facebook href="#"
            = image_tag 'fb-button.png'
          a.article__twitter href="#"
            = image_tag 'twitter-button.png'
      = image_tag @article.image.large, class: 'article__img'
      = raw @article.body
    = render 'application/sidebar'
  = render partial: 'articles/recommendations', locals: { recommendations: @article.recommendations }
