section.content-header
  .actions.pull-right
    - if policy([:admin, @interpretation]).destroy?
      => link_to admin_interpretation_category_interpretation_path(@interpretation_category, @interpretation), method: :delete, data: { confirm: t('shared.are_you_sure') }, class: 'btn btn-danger'
        i.fa.fa-trash>
        =t 'shared.destroy'
  h1
    i.fa.fa-info>
    =t '.title'
section.content
  = render 'form'