section.content-header
  h1
    i.fa.fa-hand-pointer-o>
    =t '.title'
    small= @interpretation_category.name
section.content
  .box
    .box-header.with-border
      - if policy([:admin, ::Interpretation]).new?
        => link_to t('.actions.add'), new_admin_interpretation_category_interpretation_path(@interpretation_category), class: 'btn btn-success'
      => link_to t('shared.back'), admin_interpretation_categories_path, class: 'btn btn-default'
    .box-body.no-padding
      table#interpretations.table.table-striped
        thead
          tr
            th=t '.table.body'
            th
        tbody
          - @interpretations.each do |interpretation|
            tr id=dom_id(interpretation)
              td= simple_format interpretation.body
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, interpretation]).edit?
                      li
                        = link_to edit_admin_interpretation_category_interpretation_path(@interpretation_category, interpretation) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                      - if policy([:admin, interpretation]).destroy?
                        li
                          = link_to admin_interpretation_category_interpretation_path(@interpretation_category, interpretation), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                            i.fa.fa-trash>
                            =t 'shared.destroy'
