section.content-header
  h1
    i.fa.fa-recycle>
    => t '.title'
    small= t '.subtitle'

section.content
  .box
    .box-header.with-border
      - if policy([:admin, ::Sng::Category]).new?
        = link_to t('.actions.add'), new_admin_sng_category_path, class: 'btn btn-success'
    .box-body.no-padding
      table#sng_categories.table.table-striped
        thead
          tr
            th=t '.table.name'
            th
        tbody
          - @sng_categories.each do |sng_category|
            tr id=dom_id(sng_category)
              td= link_to sng_category.name, admin_sng_category_sngs_path(sng_category)
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, sng_category]).edit?
                      li
                        = link_to edit_admin_sng_category_path(sng_category) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                      - if policy([:admin, sng_category]).destroy?
                        li
                          = link_to admin_sng_category_path(sng_category), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                            i.fa.fa-trash>
                            =t 'shared.destroy'