= simple_form_for [:admin, @department], as: :department, html: { class: 'form-horizontal' } do |f|
  .box.box-primary
    .box-body
      = f.input :name
      = f.input :homepage
      = f.input :email
      = f.input :zipcode
      = f.input :city
      = f.input :adress
      = f.association :state
      = f.input :phone
      = f.input :fax
  .box-footer
      => link_to t('shared.back'), admin_departments_path, class: 'btn btn-default'
      = f.button :submit, f.object.persisted? ? t('shared.update') : t('shared.create'), class: 'btn pull-right'