section.content-header
  h1
    i.fa.fa-envelope-o>
    = t '.title'

section.content
  .row
    .col-md-3
      = render partial: 'filters', locals: {search: @search, url: admin_departments_path}
    .col-md-9
      .box
        .box-header.with-border
          - if policy([:admin, :Department]).new?
            = link_to t('.actions.add'), new_admin_department_path, class: 'btn btn-success'
        .box-body.no-padding
          table#departments.table.table-striped
            thead
              tr
                th=t '.table.name'
                th=t '.table.state'
                th=t '.table.city'
                th=t '.table.adress'
                th
            tbody
              - @departments.each do |department|
                tr id=dom_id(department)
                   td= department.name
                   td= department.state.name
                   td= department.city
                   td= department.adress
                   td
                    .btn-group
                      a.dropdown-toggle data-toggle='dropdown' href='#'
                        i.fa.fa-cog
                      ul.dropdown-menu.pull-right
                        - if policy([:admin, department]).edit?
                          li
                            = link_to edit_admin_department_path(department) do
                              i.fa.fa-pencil>
                              = t 'shared.edit'
                        - if policy([:admin, department]).destroy?
                          li
                            = link_to admin_department_path(department), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                              i.fa.fa-trash>
                              =t 'shared.destroy'
        .box-footer
          = paginate @departments, theme: 'twitter-bootstrap-3'