= form_for search, url: url, method: :get, as: :search do |f|
  .box.box-solid
    .box-header.with-border Filtruj firmy
    .box-body
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
      .form-group
        = f.label :status
        = f.select :status, options_for_select(%w(all active inactive).map { |s| [t(".#{s}"), s] }, f.object.status), { prompt: false }, class: 'form-control'
      .form-group
        = f.label :state
        = f.select :state_id, options_for_select(State.all.map { |s| [s.name, s.id] }, f.object.state_id), { prompt: true }, class: 'form-control'
      .form-group
        = f.label :branch
        = f.select :branch_ids, options_for_select(Branch.all.map { |b| [b.name, b.id] }, f.object.branch_ids), { prompt: true }, class: 'form-control'
    .box-footer
      => f.submit t('shared.filter'), class: 'btn btn-primary'
      => link_to t('shared.clear'), url, class: 'btn btn-default'