= simple_form_for [:admin, @company], as: :company, html: { class: 'form-horizontal' } do |f|
  .box.box-primary
    .box-body
      = f.input :name
      = f.input :homepage
      = f.input :email
      = f.input :zipcode
      = f.input :city
      = f.input :street
      = f.association :state
      = f.input :phone
      = f.input :cellphone
      = f.input :fax
      = f.input :contact_person
      = f.input :business_profile, as: :text
      = f.input :logo, hint: (image_tag(f.object.logo.thumb) if f.object.logo?)
      = f.input :active, as: :boolean
      = f.input :full, as: :boolean
      = f.association :branches, as: :check_boxes
    .box-footer
      => link_to t('shared.back'), admin_companies_path, class: 'btn btn-default'
      = f.button :submit, f.object.persisted? ? t('shared.update') : t('shared.create'), class: 'btn pull-right'