section.content-header
  h1
    i.fa.fa-industry>
    =t '.title'

section.content
  .row
    .col-md-3
      = render partial: 'filters', locals: { search: @search, url: admin_companies_path }
    .col-md-9
      .box
        .box-body.no-padding
          table#companies.table.table-striped
            thead
              tr
                th width='100px'=t '.table.logo'
                th=t '.table.name'
                th=t '.table.state'
                th=t '.table.branches'
                th=t '.table.active'
                th=t '.table.full'
                th
            tbody
              - @companies.each do |company|
                tr id=dom_id(company)
                  td= image_tag company.logo.thumb.url
                  td= company.name
                  td= company.state.name
                  td= company.branches.map(&:name).join(', ')
                  td
                    - if company.active?
                      i.fa.fa-check
                  td
                    - if company.full?
                      i.fa.fa-check
                  td
                    .btn-group
                      a.dropdown-toggle data-toggle='dropdown' href='#'
                        i.fa.fa-cog
                      ul.dropdown-menu.pull-right
                        - if policy([:admin, company]).edit?
                          li
                            = link_to edit_admin_company_path(company) do
                              i.fa.fa-pencil>
                              =t 'shared.edit'
        .box-footer
          = paginate @companies, theme: 'twitter-bootstrap-3'
