section.content-header
  h1
    i.fa.fa-euro>
    => t '.title'
    small= t '.subtitle'

section.content
  .box
    .box-header.with-border
      - if policy([:admin, ::UnionDocument::Category]).new?
        = link_to t('.actions.add'), new_admin_union_document_category_path, class: 'btn btn-success'
    .box-body.no-padding
      table#union_document_categories.table.table-striped
        thead
          tr
            th=t '.table.name'
            th
        tbody
          - @union_document_categories.each do |union_document_category|
            tr id=dom_id(union_document_category)
              td= link_to union_document_category.name, admin_union_document_category_union_documents_path(union_document_category)
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, union_document_category]).edit?
                      li
                        = link_to edit_admin_union_document_category_path(union_document_category) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                      - if policy([:admin, union_document_category]).destroy?
                        li
                          = link_to admin_union_document_category_path(union_document_category), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                            i.fa.fa-trash>
                            =t 'shared.destroy'