.cnt.charges-list.clearfix
  = render 'advertisements/top'
  .charges
    = render 'charges_tabs'
    p.charges__title  Stawki opłat produktowych i poziomy recyklingu
    p'Poniższe tabele przedstawiają odpowiednio:

    p'- stawka opłaty produktowej w zł/kg dla poszczególnych lat
    p'- poziomy recyklingu odpadów opakowaniowych w % dla poszczególnych lat
    p'- poziomy odzysku odpadów opakowaniowych w % dla poszczególnych lat
    - @categories.each do |category|
      p.table__title
        =category.name
        table.charges__table__tab
          tr.head
            th.th__dsc
            - category.recyclings.order(:year).map(&:year).uniq.each do |year|
              th = year
          - category.recyclings.order(:year).map(&:name).uniq.each do |name|
            tr
              td.td__dsc
                = name
              - category.recyclings.order(:year).map(&:year).uniq.each do |year|
                td
                  - if category.recyclings.where(name: name, year: year).exists?
                    = category.recyclings.find_by(name: name, year: year).value
  .float-right
    = render 'application/sidebar'
        /! @@include= /partials/forum.html
        /! @@include= /partials/aside_ad.html
        /! @@include= /partials/aside_incoming_events.html
        /! @@include= /partials/newsletter.html
        /! @@include= /partials/footer.html
        /! @@include= /partials/meta_footer.html