.cnt.charges-list.clearfix
  = render 'advertisements/top'
  .charges
    #charges-tabs
      = render 'charges_tabs'
      = render 'environments_tabs'
      #tabs-4
      -@categories.each do |category|
        p.table__title
          =category.name
        table.charges__table__tab
          tr.head1
            th.th__dsc rowspan="2"
              =category.yearname
            -category.diesels.order(:year).map(&:year).uniq.each do |year|
              th colspan="2" = year
          tr.head1
            - category.diesels.map(&:year).uniq.each do |year|
              th.th__dsc ON
              th.th__dsc BD
          - category.diesels.order(:year).map(&:name).uniq.each do |name|
           tr
             td.td__dsc
               = name
             -category.diesels.order(:year).map(&:year).uniq.each do |year|
               - if category.diesels.where(name: name, year: year).exists?
                 td
                   = category.diesels.find_by(name: name, year: year, on: true).value
                 td
                   = category.diesels.find_by(name: name, year: year, on: false).value
  .float-right
    = render 'application/sidebar'
        /! @@include= /partials/forum.html
        /! @@include= /partials/aside_ad.html
        /! @@include= /partials/aside_incoming_events.html
        /! @@include= /partials/newsletter.html
        /! @@include= /partials/footer.html
        /! @@include= /partials/meta_footer.html