.cnt.forum-list.clearfix
  = render 'advertisements/top'
  .forum-main
    .clearfix
      p.forum-main__title
        = t '.title'
    - @sections.each do |section|
      .forum__singlethread id=dom_id(section)
        .top.clearfix
          a.title href=forum_section_path(section)
            = section.name
          a.show-forum href=forum_section_path(section) type="button" name="show_more"
            span = t '.actions.show'
            span.hide = t '.actions.hide'
            = image_tag 'down-arrow-circle.png'
  .float-right
    = render 'sidebar'
