.cnt.forum-list.clearfix
  = render 'advertisements/top'
  .forum-main
    .clearfix
      p.forum-main__title
        = t '.title'
      => link_to new_forum_thread_path(section: @section.id), class: 'forum__newthread' do
        = t '.actions.new'
        span.right-arrow-circle-white>
    .forum__singlethread id=dom_id(@section)
      .top.clearfix
        span.title= @section.name
      .forum__table style="display: block;"
        table
          tr.main-tr
            th.subject-th= t '.table.subject'
            th= t '.table.user'
            th= t '.table.views'
            th= t '.table.last'
            th= t '.table.posts_count'
          - @threads.each do |thread|
            - thread = thread.decorate
            - if thread.closed
              - if thread.closed_date < Date.today
                - thread.destroy
            tr  onclick="location.href='#{forum_thread_posts_path(thread)}'"
              td.subject-td
                p.bb= thread.subject
                = time_ago_in_words(thread.created_at)
                | &nbsp;-&nbsp;
                = thread.username
              td= thread.username
              td= thread.views
              td
                - if thread.got_last
                  - post = thread.last_post.decorate
                  = post.username
                  br/
                  = time_ago_in_words(post.created_at)
              td
                span.answers_num class=thread_color(thread)
                  = thread.posts.approved.count
      = paginate @threads
  .float-right
    = render 'sidebar'
