.cnt.catalogue-list.clearfix
  .catalogue
    p.catalogue__title
      = t '.title'
    .catalogue__searchbox
      p= t '.codes'
      input#waste-search type="text" name="name" value="" placeholder="na przykład 15 01 lub farby"
    .catalogue__categories
      .clearfix
        span.title= t '.categories'
        button class="show-hide" type="button" name="show_more"
          span pokaż
          = image_tag "down-arrow-circle.png"
      .catalogue__moreinfo
        input#radio1.radio-custom name="radio-group" data-name="dry-mass" type="checkbox"
        label.radio-custom-label for="radio1"= Waste.human_attribute_name(:dry_mass)
        input#radio2.radio-custom name="radio-group" data-name="disposal" type="checkbox"
        label.radio-custom-label for="radio2"= Waste.human_attribute_name(:disposal)
        input#radio3.radio-custom name="radio-group" data-name="recycling" type="checkbox"
        label.radio-custom-label for="radio3"= Waste.human_attribute_name(:recycling)
        input#radio4.radio-custom name="radio-group" data-name="org_fiz" type="checkbox"
        label.radio-custom-label for="radio4"= Waste.human_attribute_name(:org_fiz)
        input#radio5.radio-custom name="radio-group" data-name="battery" type="checkbox"
        label.radio-custom-label for="radio5"= Waste.human_attribute_name(:battery)
        input#radio6.radio-custom name="radio-group" data-name="dangerous" type="checkbox"
        label.radio-custom-label for="radio6"= Waste.human_attribute_name(:dangerous)
        input#radio7.radio-custom name="radio-group" data-name="communal" type="checkbox"
        label.radio-custom-label for="radio7"= Waste.human_attribute_name(:communal)
    .catalogue__categories
      .clearfix
        span.title= t '.legend'
        button class="show-hide" type="button" name="show_more"
          span pokaż
          = image_tag "down-arrow-circle.png"
      .catalogue__moreinfo.catalogue__legend.clearfix
        .clearfix
          .legend__single
            = image_tag "l1.png"
            span= Waste.human_attribute_name(:dry_mass)
          .legend__single
            = image_tag "l2.png"
            span= Waste.human_attribute_name(:disposal)
        .clearfix
          .legend__single
            = image_tag "l3.png"
            span= Waste.human_attribute_name(:recycling)
          .legend__single
            = image_tag "l4.png"
            span= Waste.human_attribute_name(:org_fiz)
        .clearfix
          .legend__single
            = image_tag "l5.png"
            span= Waste.human_attribute_name(:battery)
          .legend__single
            = image_tag "l6.png"
            span= Waste.human_attribute_name(:dangerous)
        .clearfix
          .legend__single
            = image_tag "l7.png"
            span= Waste.human_attribute_name(:communal)
      .catalogue__collapsed__categories
        p.title= t '.help'
        - @wastes_grouped[nil].each do |waste|
          .catalogue__collapsed__single.tree-holder.parent-tree-holder class="waste_#{waste.id}" data-id=waste.id data-search="#{waste.code} #{waste.name}"
            .single__title
              span.single__title__number= waste.code
              span.single__title__description= waste.name
            - changes = @wastes_grouped[waste.id]
            - if changes.present?
              - changes.each do |waste|
                .catalogue__collapsed__1.tree-holder class="waste_#{waste.id}" data-id=waste.id data-search="#{waste.code} #{waste.name}"
                  .single__title__1
                    = render partial: "wastes/waste_tree", locals: { depth: 1, waste: waste.decorate }
                  - changes = @wastes_grouped[waste.id]
                  - if changes.present?
                    - changes.each do |waste|
                      .catalogue__collapsed__2.tree-holder class="waste_#{waste.id}" data-id=waste.id data-search="#{waste.code} #{waste.name}" data-dry-mass=waste.dry_mass  data-disposal=waste.disposal data-recycling=waste.recycling data-org-fiz=waste.org_fiz data-battery=waste.battery data-dangerous=waste.dangerous data-communal=waste.communal
                        .single__title__2
                          = render partial: "wastes/waste_tree", locals: { depth: 2, waste: waste.decorate }
  .float-right
    = render 'application/sidebar'