.cnt.laws-list.clearfix
  = render 'advertisements/top'
  .laws
    #laws-tabs
      = render 'laws_tabs'
      #tabs-1
        p.laws__title
        - @categories.each do |category|
          .laws__single.clearfix id=dom_id(category)
            .left
              p.laws__single-title= category.name
              - category.projects.first(5).each do |project|
                p.laws__single-description
                  = link_to project do
                    = project.name
                    = simple_format project.body
              = link_to projects_category_path(category), class: 'tips__readmore' do
               | czytaj więcej w tej kategorii
               span.right-arrow-circle
  .float-right
    = render 'application/sidebar'