.cnt.laws-list.clearfix
  = render 'advertisements/top'
  .laws
    #laws-tabs
      = render 'laws_tabs'
      #tabs-1
        p.laws__title
        .laws__single.clearfix
          p.laws__single-title= @category.name
          - @projects.each do |project|
            p.laws__single-description id=dom_id(project)
              = link_to project do
                = project.name
                = simple_format project.body
            = paginate @projects
    .pull-right
      = link_to t('shared.back'), projects_categories_path, class: 'btn btn-default'
  .float-right
    = render 'application/sidebar'