= simple_form_for [:admin, @link], as: :link, html: { class: 'form-horizontal' } do |f|
  .box.box-primary
    .box-body
      = f.input :label
      = f.input :title
      = f.input :url
      = f.input :image
      = f.input :sort_order
    .box-footer
      => link_to t('shared.back'), admin_links_path, class: 'btn btn-default'
      = f.button :submit, f.object.persisted? ? t('shared.update') : t('shared.create'), class: 'btn pull-right'
