section.content-header
  h1
    i.fa.fa-list>
    =t '.title'

section.content
  .box
    .box-header.with-border
      - if policy([:admin, Link]).new?
        = link_to t('.actions.add'), new_admin_link_path, class: 'btn btn-success'
    .box-body.no-padding
      table#links.table.table-striped
        thead
          tr
            th=t '.table.label'
            th=t '.table.title'
            th=t '.table.sort_order'
            th
        tbody
          - @links.each do |link|
            tr id=dom_id(link)
              td= link.label
              td= link.title
              td= link.sort_order
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, link]).edit?
                      li
                        = link_to edit_admin_link_path(link) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                    - if policy([:admin, link]).destroy?
                      li
                        = link_to admin_link_path(link), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                          i.fa.fa-trash>
                          =t 'shared.destroy'
