.cnt.charges-list.clearfix
  = render 'advertisements/top'
  .charges
    #charges-tabs
      = render 'charges_tabs'
      = render 'environments_tabs'
      #tabs-4
      -@categories.each do |category|
        p.table__title
          =category.name
        table.charges__table__tab
          tr.head
            th.th__dsc
              =category.yearname
            -category.waters.order(:year).map(&:year).uniq.each do |year|
              th = year
          - category.waters.order(:year).map(&:name).uniq.each do |name|
           tr
             td.td__dsc
               = name
             -category.waters.order(:year).map(&:year).uniq.each do |year|
               td
                - if category.waters.where(name: name, year: year).exists?
                   = category.waters.find_by(name: name, year: year).value
  .float-right
    = render 'application/sidebar'
        /! @@include= /partials/forum.html
        /! @@include= /partials/aside_ad.html
        /! @@include= /partials/aside_incoming_events.html
        /! @@include= /partials/newsletter.html
        /! @@include= /partials/footer.html
        /! @@include= /partials/meta_footer.html