= simple_form_for [:admin, @section], as: :section, html: { class: 'form-horizontal' } do |f|
  .box.box-primary
    .box-body
      = f.input :name
      = f.input :enabled
    .box-footer
      => link_to t('shared.back'), admin_forum_sections_path, class: 'btn btn-default'
      = f.button :submit, f.object.persisted? ? t('shared.update') : t('shared.create'), class: 'btn pull-right'