section.content-header
  .actions.pull-right
    - if policy([:admin, @section]).destroy?
      => link_to admin_forum_section_path(@section), method: :delete, data: { confirm: t('shared.are_you_sure') }, class: 'btn btn-danger'
        i.fa.fa-trash>
        =t 'shared.destroy'
  h1
    i.fa.fa-list>
    =t '.title'
section.content
  = render 'form'