section.content-header
  h1
    i.fa.fa-list>
    =t '.title'

section.content
  .box
    .box-header.with-border
      - if policy([:admin, ::Forum::Section]).new?
        = link_to t('.actions.add'), new_admin_forum_section_path, class: 'btn btn-success'
    .box-body.no-padding
      table#sections.table.table-striped
        thead
          tr
            th=t '.table.name'
            th=t '.table.enabled'
            th
        tbody
          - @sections.each do |section|
            tr id=dom_id(section)
              td= section.name
              td
                - if section.enabled?
                  i.fa.fa-check
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, section]).edit?
                      li
                        = link_to edit_admin_forum_section_path(section) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                    - if policy([:admin, section]).destroy?
                      li
                        = link_to admin_forum_section_path(section), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                          i.fa.fa-trash>
                          =t 'shared.destroy'