= simple_form_for [:admin, @email_template], as: :email_template, html: { class: 'form-horizontal' } do |f|
  .box.box-primary
    .box-body
      = f.input :subject
      = f.input :body
    .box-footer
      => link_to t('shared.back'), admin_email_templates_path, class: 'btn btn-default'
      = f.button :submit, f.object.persisted? ? t('shared.update') : t('shared.create'), class: 'btn pull-right'
