section.content-header
  h1
    i.fa.fa-envelope-o>
    =t '.title'

section.content
  .box
    .box-header.with-border
    .box-body.no-padding
      table#email_templates.table.table-striped
        thead
          tr
            th=t '.table.name'
            th
        tbody
          - @email_templates.each do |email_template|
            tr id=dom_id(email_template)
              td=t "email_template.name.#{email_template.name}"
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, email_template]).edit?
                      li
                        = link_to edit_admin_email_template_path(email_template) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'