= form_for search, url: url, method: :get, as: :search do |f|
  .box.box-solid
    .box-header.with-border
    .box-body
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
      .form-group
        = f.label :state
        = f.select :state_id, options_for_select(State.all.map { |s| [s.name, s.id] }, f.object.state_id), { prompt: true }, class: 'form-control'
    .box-footer
      => f.submit t('shared.filter'), class: 'btn btn-primary'
      => link_to t('shared.clear'), url, class: 'btn btn-default'