.cnt.contactdetails
  = render 'advertisements/top'
  .clearfix
    .contact_details
      p.contact_details__title
        | Dane teleadresowe urzędów ochrony środowiska
      - @states.each do |state|
        .contact_details__single id=dom_id(state)
          .clearfix
            p.contact_details__single__title
              = state.name
            button.contact_details_showmore name="show_more" type="button"
              span pokaż
              span.hide ukryj
              = image_tag 'down-arrow-circle.png'
          .contact_details__moreinfo
            - state.departments.each do |department|
              .contact_details__moreinfo__single id=dom_id(department)
                p.info-title
                  b= department.name
                p.info-text
                  | #{department.zipcode} #{department.city}
                  br/
                  = department.adress
                  - if department.phone.present?
                    br/
                    | Telefon: #{department.phone}
                  - if department.fax.present?
                    br/
                    | Faks: #{department.fax}
                  - if department.email.present?
                    br/
                    | E-mail:
                    =< link_to department.email, "mailto:#{department.email}"
                  - if department.homepage.present?
                    br/
                    | WWW:
                    =< link_to department.homepage, department.homepage, target: '_blank'
    .float-right
    = render 'application/sidebar'