.charges__calc
  p.calc__title Wybierz rok
  .calc__left
    - Coefficient.order(year: :asc).each_with_index do |coef, index|
      .calc__radio
        input.radio-custom.radio-coef data-float=coef.float checked=index.eql?(0) id="radio-coef-#{index+1}" name="radio-group" type="radio"
        label.radio-custom-label for="radio-coef-#{index+1}"
          = coef.year
.charges__calc
  p.calc__title Rodzaj
  .calc__left.calc__radio__kind
    - ['Usunięcie drzew', 'Usunięcie krzewów',
       'Zniszczenie trawnika', 'Zniszczenie kwitnika'].each_with_index do |theme, index|
      .calc__radio
        input.radio-custom.radio-theme data-theme=theme checked=index.eql?(0) id="radio-rodzaj-#{index+1}" name="radio-group-2" type="radio"
        label.radio-custom-label for="radio-rodzaj-#{index+1}"= theme
.charges__calc.tree-select
  p.calc__title Wybierz drzewo
  .calc__left
    .add_company__input
      span.select-wrapper
        select#tree-select.form-control
          - Tree.all.each do |t|
            option value=t.base
              = t.name
.charges__calc
  p.calc__title.podaj-input Podaj obwód w cm
  .calc__left
    .find_company__input
      input.text-input#podaj type="number"

.charges__calc.tereny-select
  p.calc__title Tereny specjalne?
  .calc__left
    .calc__radio
      input.radio-custom#radio-1.radio-t data-value=0 checked=true name="radio-group-3" type="radio"
      label.radio-custom-label for="radio-1" nie
    .calc__radio
      input.radio-custom#radio-2.radio-t data-value=1 name="radio-group-3" type="radio"
      label.radio-custom-label for="radio-2" tak
  .charges__info
    | * tereny uzdrowisk, obszar ochrony uzdrowiskowej, teren nieruchomości wpisanej do rejestru zabytków oraz terenów zieleni

.charges__sum
  p
    span.l Wprowadź rozmiar, aby zobaczyć wynik.
