.cnt.charges-list.clearfix
  = render 'advertisements/top'
  .charges
    = render 'charges_tabs'
    #charges-tabs
    .tabs-1
      p.charges__title Kalkulator opłat i kar za usunięcie zieleni
      = render 'form'
  = render 'application/sidebar'
