- if on_main.itemable_type.eql?('Law')
  .document
    a href=laws_path
      span.document__icon
        = image_tag "law#{on_main.icon_id}.png"
    p.document__description= law.title
- elsif on_main.itemable_type.eql?('UnionDocument')
  .document
    a href=union_documents_categories_path
      span.document__icon
        = image_tag "law#{on_main.icon_id}.png"
    p.document__description= law.title
- elsif on_main.itemable_type.eql?('Project')
  .document
    a href=project_path(law.id)
      span.document__icon
        = image_tag "law#{on_main.icon_id}.png"
    p.document__description= law.name
- elsif on_main.itemable_type.eql?('Interpretation')
  .document
    a href=interpretation_path(law.id)
      span.document__icon
        = image_tag "law#{on_main.icon_id}.png"
    p.document__description= simple_format law.body
