.cnt.homepage-list.clearfix
  = render 'advertisements/top'
  .homepage
    .clearfix
      .slider
        #myCarousel.carousel.slide data-ride="carousel"
          /! Indicators
          - if @articles.size > 1
            ol.carousel-indicators
              - @articles.each_with_index do |article, index|
                li class=('active' if index.zero?) data-slide-to=index data-target="#myCarousel"
          /! Wrapper for slides
          .carousel-inner role="listbox"
            - @articles.each_with_index do |article, index|
              .item class=('active' if index.zero?)
                = link_to article do
                 = image_tag article.image.slider
                .description
                  p= article.name

    .articles.clearfix
      - @links.each do |link|
        .articles__single style="background-image: url(#{link.image.url});"
          a href="#{link.url}"
            .articles__mask style="background: #48b9ad;"
            span.articles__tag= link.label
            p.articles__description= link.title
            span.articles__arrow.right-arrow-circle-white

    .clearfix
      .knowledge-zone
        p.knowledge-zone__title
          | Strefa wiedzy
        .clearfix
          a.knowledge-zone__tail.double-tail.light-tail href="manuals/categories"
            = image_tag 'ic1.png'
            p.big
              | Porady
          a.knowledge-zone__tail.single-tail.dark-tail href="recyclings/categories"
            = image_tag 'ic2.png'
            p.small
              | Stawki opłat i kalkulatory
          a.knowledge-zone__tail.single-tail.dark-tail.no-margin href=useful_links_path
            = image_tag 'ic3.png'
            p.small
              | Przydatne linki
        .clearfix
          a.knowledge-zone__tail.single-tail.light-tail href="departments"
            = image_tag 'ic4.png'
            p.small
              | Dane teleadresowe urzędów
          a.knowledge-zone__tail.single-tail.light-tail href="documents"
            = image_tag 'ic5.png'
            p.small
              | Formularze do pobrania
          a.knowledge-zone__tail.single-tail.dark-tail href="calendars"
            = image_tag 'ic6.png'
            p.small
              | Kalendarz specjalisty ds. ochrony środowiska
          a.knowledge-zone__tail.single-tail.light-tail.no-margin href="wastes"
            = image_tag 'ic7.png'
            p.small
              | Katalog odpadów

    .clearfix
      .companies
        .left
          p.companies__title
            | Katalog firm
          = link_to new_company_path, class: 'companies__add' do
            p.right-arrow-circle-white
              | Dodaj swoją firmę za darmo
          = link_to companies_path, class: 'companies__go' do
            p.right-arrow-circle
              | Przejdź do katalogu
        .right
          p.companies__last-added
            | Ostatnio dodane firmy
          .companies__logos.clearfix
            - Company.recent.limit(4).each do |company|
              .companies__logo
                = link_to company do
                  - if company.full && company.logo?
                    = image_tag company.logo.thumb
                  - else
                    br/
                    br/
                    p.text-center= company.name

  .float-right
    = render 'forum/threads/recent'
    = render 'events/sidebar'
    = render 'advertisements/sidebar'

.documents
  .cnt
    p.documents__title
      | Projekty aktów prawnych, interpretacje, wytyczne
    .clearfix
      .left
        - @laws.first.each do |law|
          = render partial: 'welcome/on_main', locals: { law: law.itemable, on_main: law }
      .right
        - @laws.last.each do |law|
          = render partial: 'welcome/on_main', locals: { law: law.itemable, on_main: law }
