= form_for search, url: url, method: :get, as: :search do |f|
  .box.box-solid
    .box-header.with-border
    .box-body
      .form-group
        = f.label :letter
        = f.select :letter, options_for_select(@letters, f.object.letter), { prompt: true }, class: 'form-control'
    .box-footer
      => f.submit t('shared.filter'), class: 'btn btn-primary'
      => link_to t('shared.clear'), url, class: 'btn btn-default'