= simple_form_for [:admin, @definition], as: :definition, html: { class: 'form-horizontal' } do |f|
  .box.box-primary
    .box-body
      = f.input :name
      = f.input :description
      = f.input :source
    .box-footer
      => link_to t('shared.back'), admin_definitions_path, class: 'btn btn-default'
      = f.button :submit, f.object.persisted? ? t('shared.update') : t('shared.create'), class: 'btn pull-right'