section.content-header
  h1
    i.fa.fa-book>
    =t '.title'

section.content
  .row
    .col-md-3
      = render partial: 'filters', locals: { search: @search, url: admin_definitions_path }
    .col-md-9
      .box
        .box-header.with-border
          - if policy([:admin, Definition]).new?
            = link_to t('.actions.add'), new_admin_definition_path, class: 'btn btn-success'
        .box-body.no-padding
          table#definitions.table.table-striped
            thead
              tr
                th=t '.table.name'
                th=t '.table.description'
                th=t '.table.source'
                th
            tbody
              - @definitions.each do |definition|
                tr id=dom_id(definition)
                  td= definition.name
                  td= definition.description
                  td= definition.source
                  td
                    .btn-group
                      a.dropdown-toggle data-toggle='dropdown' href='#'
                        i.fa.fa-cog
                      ul.dropdown-menu.pull-right
                        - if policy([:admin, definition]).edit?
                          li
                            = link_to edit_admin_definition_path(definition) do
                              i.fa.fa-pencil>
                              =t 'shared.edit'
                        - if policy([:admin, definition]).destroy?
                          li
                            = link_to admin_definition_path(definition), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                              i.fa.fa-trash>
                              =t 'shared.destroy'