- if recent_events.any?
  .event
    p.event__title
      | Nadchodzące wydarzenia
    - recent_events.each do |event|
      .event__article
        = link_to event do
          .event__article__text.right-arrow-circle
            p.event__article__title= event.name