.cnt.events-list
  = render 'advertisements/top'
  .clearfix
    .eventslist
      .eventslist__history
        p.eventslist__title
          - if params[:soon].present?
            | Wydarzenia wkrótce
          - else
            | Archiwum wydarzeń
        - @events.each do |event|
          .eventslist__single
            = link_to event do
              - if event.image?
                = image_tag event.image.thumb
              p= event.name
              span
                =l event.start_at.to_date
                br/
                = truncate strip_tags(event.body), length: 100, separator: ' '
        = paginate @events
    .float-right
      = render 'application/sidebar'