.cnt.article
  = render 'advertisements/top'
  .clearfix
    .article__text
      .clearfix
        p.article__title
          = @event.name
          span.article__date=l @event.start_at.to_date
      = image_tag(@event.image.medium) if @event.image?
      = raw @event.body
      .pull-right
        = link_to t('shared.back'), events_path, class: 'btn btn-default'
    .float-right
      = render 'application/sidebar'