section.content-header
  .actions.pull-right
    - if policy([:admin, @project_category]).destroy?
      => link_to admin_project_category_path(@project_category), method: :delete, data: { confirm: t('shared.are_you_sure') }, class: 'btn btn-danger'
        i.fa.fa-trash>
        =t 'shared.destroy'
  h1
    i.fa.fa-send>
    =t '.title'
section.content
  = render 'form'