section.content-header
  h1
    i.fa.fa-send>
    =>t '.title'
    small=t '.subtitle'

section.content
  .box
    .box-header.with-border
      - if policy([:admin, ::Project::Category]).new?
        = link_to t('.actions.add'), new_admin_project_category_path, class: 'btn btn-success'
    .box-body.no-padding
      table#project_categories.table.table-striped
        thead
          tr
            th=t '.table.name'
            th
        tbody
          - @project_categories.each do |project_category|
            tr id=dom_id(project_category)
              td= link_to project_category.name, admin_project_category_projects_path(project_category)
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, project_category]).edit?
                      li
                        = link_to edit_admin_project_category_path(project_category) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                      - if policy([:admin, project_category]).destroy?
                        li
                          = link_to admin_project_category_path(project_category), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                            i.fa.fa-trash>
                            =t 'shared.destroy'