=@project_category.name
= simple_form_for [:admin, @project_category, @project], as: :project, html: { class: 'form-horizontal' } do |f|
  .box
    .box-body
      = f.input :name
      .law_on_main_fields
        = f.fields_for :law_on_main do |lf|
          = lf.input :_destroy, as: :boolean, input_html: { class: "law_on_main_check", checked: lf.object.persisted? }, label: 'Pokazywać na głównej', checked_value: 0, unchecked_value: 1
          = lf.input :itemable_type, as: :hidden
          = lf.input :itemable_id, as: :hidden
          = lf.input :icon_id,
                     collection: [[1], [2], [3], [4], [5]],
                     as: :radio_buttons,
                     label_method: lambda {|m| return image_tag("law#{m.first}.png") },
                     value_method: :first
      = f.input :pdf

  .box
    .box-body
      = f.input :body, as: :ckeditor, input_html: { ckeditor: { toolbar: 'AdminToolbar' } }, wrapper: :horizontal_form_full_width

  .box
    .box-footer
      => link_to t('shared.back'), admin_project_category_projects_path(@project_category), class: 'btn btn-default'
      = f.button :submit, f.object.persisted? ? t('shared.update') : t('shared.create'), class: 'btn pull-right'
