section.content-header
  h1
    i.fa.fa-send>
    =t '.title'
    br
    =@project_category.name
section.content
  .box
    .box-header.with-border
      - if policy([:admin, Project]).new?
        => link_to t('.actions.add'), new_admin_project_category_project_path(@project_category), class: 'btn btn-success'
      => link_to t('shared.back'), admin_project_categories_path, class: 'btn btn-default'
    .box-body.no-padding
      table#projects.table.table-striped
        thead
          tr
            th=t '.table.name'
            th
        tbody
          - @projects.each do |project|
            tr id=dom_id(project)
              td= project.name
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, project]).edit?
                      li
                        = link_to edit_admin_project_category_project_path(@project_category, project) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                      - if policy([:admin, project]).destroy?
                        li
                          = link_to admin_project_category_project_path(@project_category, project), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                            i.fa.fa-trash>
                            =t 'shared.destroy'
