.cnt.laws-list.clearfix
  = render 'advertisements/top'
  .laws
    p.news__title
      | Definicje ustawowe
    #calendar-tabs
      ul.calendar__tabs.clearfix
        - @letters.each do |letter|
          li
            = link_to letter, definitions_path(search: { letter: letter })
        li
          = link_to t('shared.all'), definitions_path
    .calendar-tab__container
      - @definitions.each do |definition|
        .laws__single.clearfix id=dom_id(definition)
          .left
            p.news__single-title= definition.name
            p.news__single-description= definition.description
            br/
            p.news__single-description
              small= definition.source
          .right
        = paginate @definitions
  = render 'application/sidebar'