section.content-header
  h1
    i.fa.fa-sort>
    =>t '.title'
    small=t '.subtitle'

section.content
  .box
    .box-header.with-border
      - if policy([:admin, ::Manual::Category]).new?
        = link_to t('.actions.add'), new_admin_manual_category_path, class: 'btn btn-success'
    .box-body.no-padding
      table#manual_categories.table.table-striped
        thead
          tr
            th=t '.table.name'
            th
        tbody
          - @manual_categories.each do |manual_category|
            tr id=dom_id(manual_category)
              td= link_to manual_category.name, admin_manual_category_manuals_path(manual_category)
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, manual_category]).edit?
                      li
                        = link_to edit_admin_manual_category_path(manual_category) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                      - if policy([:admin, manual_category]).destroy?
                        li
                          = link_to admin_manual_category_path(manual_category), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                            i.fa.fa-trash>
                            =t 'shared.destroy'