.login.clearfix
  .signin
    .float-right
      .login__title= t '.login.title'
      .login__subtitle= t '.login.subtitle'
      = simple_form_for resource, url: session_path(resource_name), as: resource_name, wrapper: 'login_form' do |f|
        = f.input :email
        = f.input :password, autocomplete: "off"

        - if devise_mapping.rememberable?
          = f.input :remember_me, as: :boolean, wrapper: :login_checkbox, boolean_style: :inline

        .login__submit.clearfix
          = f.submit t('.login.submit')
          span.right-arrow-circle

        //span.login__forgot= t '.login.forgot'

  .signup
    .login__title= t '.signup.title'
    .login__subtitle= t '.signup.subtitle'
    = simple_form_for @form, url: user_registration_path, method: :post, as: :registration, wrapper: 'login_form' do |f|
      = f.input :username
      = f.input :email
      = f.input :password
      = f.input :password_confirmation

      = f.input :accept_rules, as: :boolean, wrapper: :login_checkbox, boolean_style: :inline
      = f.input :accept_data_processing, as: :boolean, wrapper: :login_checkbox, boolean_style: :inline
      = f.input :accept_advertisement, as: :boolean, wrapper: :login_checkbox, boolean_style: :inline

      .login__submit.clearfix
        = f.submit t('.signup.submit')
        span.right-arrow-circle
