.cnt.tips-list.clearfix
  = render 'advertisements/top'
  .tips
    p.tips__title
      | Formularze do pobrania
    - @documents_by_categories.each do |category, documents|
      .tips__single id=dom_id(category)
        p.tips__single__title
          = category.name
        - documents.each do |document|
          .tip.clearfix
            - if document.doc?
              => link_to document.doc.url, class: 'float-right' do
                => image_tag 'icon-doc.png'
            - if document.pdf?
              => link_to document.pdf.url, class: 'float-right' do
                => image_tag 'ic10.png'
            p= document.name
  = render 'application/sidebar'