= simple_form_for form, url: { controller: 'forum/posts', thread_id: form.thread.id, action: 'create' }, as: :post, remote: true, wrapper: 'inline_form' do |f|
  - unless user_signed_in?
    = f.label :username
    = f.input :username
  = f.input :thread_id, as: :hidden, input_html: { value: f.object.thread.id }
  = f.input :message, as: :ckeditor, input_html: { ckeditor: { toolbar: 'ForumToolbar' } }
  .write-answer__submit
    = f.submit t('.submit'), class: ''
    span.right-arrow-circle
