.cnt.forum_thread-list.clearfix
  = render 'advertisements/top'
  .forum_thread
    .forum_thread__breadcrumb.clearfix
      = link_to t('.breadcrumbs.forum'), forum_root_path
      span &nbsp;-
      = link_to @section.name, forum_root_path
    .forum_thread__subject.clearfix
      .l
        p= @thread.subject
        span
          = t '.created_by', name: @main_post.username, date: l(@main_post.created_at, format: '%d %B %Y'), time: l(@main_post.created_at, format: '%H:%M')
      //.r
        .forum__btn-delete.forum__action
          = image_tag 'f1.png'
          span= t '.actions.remove'
        .forum__btn-edit.forum__action
          = image_tag 'f2.png'
          span= t '.actions.edit'
        .forum__btn-move.forum__action
          = image_tag 'f5.png'
          span= t '.actions.move'
    .forum__question
      = sanitize @main_post.message
    - @posts.each_with_index do |post, index|
      - post = post.decorate
      .forum__answer.clearfix.grey__answer id="#{post.id}-post"
        .top.clearfix
          p
            span.answer__name= post.username
            span.anwser__date= l(post.created_at, format: '%H:%M')
        .answer__text
          = sanitize simple_format(post.message)
        .answer__buttons.clearfix
          //.forum__btn-delete.forum__action
            = image_tag 'f1.png'
            span= t '.actions.remove'
          //.forum__btn-edit.forum__action
            = image_tag 'f2.png'
            span= t '.actions.edit'
          .forum__btn-answer.forum__action
            = image_tag 'f3.png'
            span= t '.actions.answer'
          .forum__btn-quote.forum__action
            = image_tag 'f4.png'
            span= t '.actions.quote'
    = paginate @posts
    - unless @thread.closed
      .forum__write-answer
        .write-answer__title
          = t '.new_post.title'
        .write-answer__subtitle
          = t '.new_post.answer_comment'
        = render partial: 'forum/posts/form', locals: { form: CreatePostForm.new(thread: @thread) }
  .float-right
    = render 'sidebar'
