section.content-header
  h1
    i.fa.fa-briefcase>
    =t '.title'

section.content
  .box
    .box-header.with-border
      - if policy([:admin, Branch]).new?
        = link_to t('.actions.add'), new_admin_branch_path, class: 'btn btn-success'
    .box-body.no-padding
      table#branches.table.table-striped
        thead
          tr
            th=t '.table.name'
            th
        tbody
          - @branches.each do |branch|
            tr id=dom_id(branch)
              td= branch.name
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, branch]).edit?
                      li
                        = link_to edit_admin_branch_path(branch) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                    - if policy([:admin, branch]).destroy?
                      li
                        = link_to admin_branch_path(branch), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                          i.fa.fa-trash>
                          =t 'shared.destroy'