.cnt.laws-list.clearfix
  = render 'advertisements/top'
  .laws
    #laws-tabs
      = render 'laws_tabs'
      #tabs-1
        p.laws__title
          = @project.category.name
        = @project.name
        = simple_format @project.body
        - if @project.pdf?
            => link_to @project.pdf, class: 'float-right' do
              => image_tag 'ic10.png'
        = link_to t('shared.back'), projects_category_path(@project.category), class: 'btn btn-default'
  .float-right
    = render 'application/sidebar'