= form_for search, url: companies_path, method: :get, as: :search, html: { class: 'find_company__form' } do |f|
  .left
    .clearfix.input-bottom
      .find_company__input.width-100
        span Nazwa firmy
        = f.text_field :name, class: 'text-input'
      .find_company__input.width-100
        span Branża
        = f.select :branch_ids, options_for_select(search.branches_collection, f.object.branch_ids), {}, multiple: true, class: 'chosen', data: { placeholder: 'Wybierz branżę' }, style: 'width: 265px'
      .find_company__input.width-100
        span Region
        = f.select :state_id, options_for_select(search.states_collection, f.object.state_id), {}, class: 'chosen', data: { placeholder: 'Wybierz region' }, style: 'width: 265px'
  .right
    .find_company__submit
      = f.submit 'Szukaj'
      span.right-arrow-circle