.cnt.contactdetails
  = render 'advertisements/top'
  .clearfix
    .find_company
      p.find_company__title
        | Znajdź firmę
      = render partial: 'filters', locals: { search: @search }
      .find_company__companies_row.clearfix
        - @companies.each do |company|
          .company__single id=dom_id(company)
            - if company.full? && company.logo?
              .company__single_img
                = link_to image_tag(company.logo.thumb), company
            .company__single_text
              = link_to company do
                p= company.name
                span= company.state.name
      = paginate @companies
      = link_to new_company_path, class: 'add_company_link' do
        | Dodaj swoją firmę bezpłatnie
        span.right-arrow-circle
    = render 'application/sidebar'