doctype html
html
  head
    meta charset="utf-8" /
  /! @@include= /partials/meta_header.html
  body
    /! @@include= /partials/navbar.html
    .cnt.contactdetails
      = render 'advertisements/top'
      .clearfix
        .add_company
          p.add_company__title
            | Dodaj firmę
          span.add_company__subtitle
            | Wpis do katalogu firm jest bezpłatny
          form.add_company__form
          = form_for @form, url: companies_path, method: :post, label: false, as: :company, html: { class: 'form-horizontal' } do |f|
            .clearfix.input-bottom
              /! Klasa validate-error dodaje się jak validacja nie przejdzie
              .add_company__input.width-47.margin-6-r class="#{'validate-error' if @form.errors[:name].present?}"
                span Nazwa firmy
                = f.text_field :name
                - if @form.errors[:name].present?
                  span.error-span= @form.errors[:name].join(', ')
                /! To wchodzi js'em przez append

              .add_company__input.width-47.add_logo class="#{'validate-error' if @form.errors[:logo].present?}"
                span Logo / zdjęcie
                = f.text_field :fake_logo
                button#fake_logo type="button" name="button" Przeglądaj...
                = f.file_field :logo, style: 'display: none;'
                - if @form.errors[:logo].present?
                  span.error-span= @form.errors[:logo].join(', ')

            .clearfix.input-bottom
              .add_company__input.width-47.margin-6-r
                span Strona www
                = f.text_field :homepage
              .add_company__input.width-47
                span Firmowy adres e-mail
                = f.text_field :email
            .clearfix.input-bottom
              .add_company__input.width-28.margin-6-r
                span
                  | Kod-pocztowy
                  span.sub-info (format XX-XXX)
                = f.text_field :zipcode
              .add_company__input.width-66
                span Miasto
                = f.text_field :city
            .clearfix.input-bottom
              .add_company__input.width-47.margin-6-r
                span Ulica
                = f.text_field :street
              .add_company__input.width-47 class="#{'validate-error' if @form.errors[:state_id].present?}"
                span Województwo
                span.select-wrapper
                  = f.select(:state_id, State.all.collect {|p| [ p.name.mb_chars.capitalize, p.id ] }, { include_blank: true }, {class: 'form-control'})
                - if @form.errors[:state_id].present?
                  span.error-span= @form.errors[:state_id].join(', ')
            .clearfix.input-bottom
              .add_company__input.width-47.margin-6-r
                span Telefon
                = f.text_field :phone
              .add_company__input.width-47
                span Telefon komórkowy
                = f.text_field :cellphone
            .clearfix.input-bottom
              .add_company__input.width-47.margin-6-r
                span Fax
                = f.text_field :fax
              .add_company__input.width-47
                span
                  | Osoba kontaktowa
                  span.sub-info
                    | (Imię i nazwisko)
                = f.text_field :contact_person
            .clearfix.input-bottom
              .add_company__input.width-100 class="#{'validate-error' if @form.errors[:branch_ids].present?}"
                span
                  | Branża
                  span.sub-info
                    | (wybierz maksymalnie 3)
                - Branch.all.each_with_index do |branch, index|
                  .add_company__checkbox.width-33
                    input.checkbox-custom id="checkbox-#{index + 1}" name="company[branch_ids][]" type="checkbox" value=branch.id checked=(@form.branch_ids.include?(branch.id.to_s) ? "checked" : false)
                    label.checkbox-custom-label for="checkbox-#{index + 1}"
                      = branch.name.mb_chars.capitalize
              .clearfix.input-bottom
                .add_company__input.width-100.add_company__textarea class="#{'validate-error' if @form.errors[:business_profile].present?}"
                  span
                    | Opis działalności
                    span.sub-info
                      | (Pozostało znaków: 500)
                  = f.text_area :business_profile
                  - if @form.errors[:business_profile].present?
                    span.error-span= @form.errors[:business_profile].join(', ')
              .add_company__submit
                = f.submit "Dodaj firmę", class: 'btn pull-right'
                span.right-arrow-circle
        .float-right
          = render 'application/sidebar'
          /! @@include= /partials/forum.html
          /! @@include= /partials/aside_ad.html
          /! @@include= /partials/newsletter.html
          /! @@include= /partials/footer.html
          /! @@include= /partials/meta_footer.html
