.cnt.article
  = render 'advertisements/top'
  .clearfix
    .article__text
      .clearfix
        p.article__title
          = @company.name
          - if @company.full? && @company.logo?
            .company__single_img
              = image_tag(@company.logo.thumb)
          table.article
            tr
              th style="padding: 6px; width: 25%"
              th style="padding: 6px; width: 75%"
            - unless @company.street.blank?
              tr
                th Ulica:
                td= @company.street
            - unless (@company.zipcode.blank? && @company.city.blank?)
              tr
                th Kod, miasto:
                td= [@company.zipcode, @company.city].select(&:present?).join(' ')
            tr
              th Województwo:
              td= @company.state.name
            - unless @company.phone.blank?
              tr
                th Telefon:
                td= @company.phone
            - unless @company.cellphone.blank?
              tr
                th Telefon komórkowy:
                td= @company.cellphone
            - unless @company.fax.blank?
              tr
                th Fax:
                td= @company.fax
            - if @company.full? && @company.homepage.present?
              tr
                th WWW:
                td= link_to @company.homepage, @company.homepage, target: '_blank'
            - unless @company.email.blank?
              tr
                th E-mail:
                td= @company.email
            - unless @company.contact_person.blank?
              tr
                th Osoba kontaktowa:
                td= @company.contact_person
            - unless @company.business_profile.blank?
              tr
                th Opis:
                td= @company.business_profile
            - if @company.branches.exists?
              tr
                th Branża:
                td= @company.branches.map(&:name).join(', ')
    = render 'application/sidebar'