doctype html
html
  head
    meta charset="utf-8" /
  body
    .cnt.calendar-list.clearfix
      = render 'advertisements/top'
      .calendar
        p.calendar__title
          | Kalendarz specjalisty
        #calendar-tabs
          ul.calendar__tabs.clearfix
            - @months.each_with_index do |month, index|
              li
                = link_to month, calendars_path(search: { month: index + 1 })
            li
              = link_to t('shared.all'), calendars_path
        .calendar-tab__container
          #tabs-1
            .calendar-tab__title
              p
                = @month
            .calendar-tab__head.clearfix
              .calendar-tab__head-1
                p
                  | Kiedy?
              .calendar-tab__head-2
                p
                  | Kogo dotyczy?
              .calendar-tab__head-3
                p
                  | Co należy zrobić?
            .calendar-tab__text
              - @calendars.each do |calendar|
                .calendar-tab__text__single.clearfix id=dom_id(calendar)
                  .calendar-tab__text__single_1
                    p.num
                      |
                      = l(calendar.date, format: :day)
                      span
                        = l(calendar.date, format: :month)
                  .calendar-tab__text__single_2
                    p
                      = calendar.concerned_to
                  .calendar-tab__text__single_3
                    p= calendar.todo
                    .text-right
                      a href=calendar_path(calendar)
                        | więcej
                        span.right-arrow-circle/
                  div style=("clear: both;")
      .float-right
        = render 'application/sidebar'