.cnt.article
  = render 'advertisements/top'
  .clearfix
    .article__text
      .clearfix
        p.article__title
          | Kalendarz specjalisty
          span.article__date=l @calendar.date, format: '%d %b'
      = raw @calendar.body
      .pull-right
        = link_to t('shared.back'), calendars_path, class: 'btn btn-default'
    = render 'application/sidebar'