section.content-header
  h1
    i.fa.fa-recycle>
    => t '.title'
    small= t '.subtitle'

section.content
  .box
    .box-header.with-border
      - if policy([:admin, ::EnvironmentWater::Category]).new?
        = link_to t('.actions.add'), new_admin_environment_water_category_path, class: 'btn btn-success'
    .box-body.no-padding
      table#environment_water_categories.table.table-striped
        thead
          tr
            th=t '.table.name'
            th
        tbody
          - @environment_water_categories.each do |environment_water_category|
            tr id=dom_id(environment_water_category)
              td= link_to environment_water_category.name, admin_environment_water_category_environment_waters_path(environment_water_category)
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, environment_water_category]).edit?
                      li
                        = link_to edit_admin_environment_water_category_path(environment_water_category) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                      - if policy([:admin, environment_water_category]).destroy?
                        li
                          = link_to admin_environment_water_category_path(environment_water_category), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                            i.fa.fa-trash>
                            =t 'shared.destroy'