section.content-header
  h1
    i.fa.fa-users>
    => t '.title'
    small= t '.subtitle'

section.content
  .box
    .box-header.with-border
      - if policy([:admin, ::User::Category]).new?
        = link_to t('.actions.add'), new_admin_user_category_path, class: 'btn btn-success'
    .box-body.no-padding
      table#user_categories.table.table-striped
        thead
          tr
            th=t '.table.name'
            th
        tbody
          - @user_categories.each do |user_category|
            tr id=dom_id(user_category)
              td= user_category.name
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, user_category]).edit?
                      li
                        = link_to edit_admin_user_category_path(user_category) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                      - if policy([:admin, user_category]).destroy?
                        li
                          = link_to admin_user_category_path(user_category), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                            i.fa.fa-trash>
                            =t 'shared.destroy'