section.content-header
  h1
    i.fa.fa-book>
    =t '.title'

section.content
  .box
    .box-header.with-border
      - if policy([:admin, ::Newsletter::Category]).new?
        => link_to t('.actions.add'), new_admin_newsletter_category_path, class: 'btn btn-success'
    .box-body.no-padding
      table#categories.table.table-striped
        thead
          tr
            th=t '.table.name'
            th
        tbody
          - @categories.each do |category|
            tr id=dom_id(category)
              td= category.name
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, category]).edit?
                      li
                        = link_to edit_admin_newsletter_category_path(category) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                    - if policy([:admin, category]).destroy?
                      li
                        = link_to admin_newsletter_category_path(category), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                          i.fa.fa-trash>
                          =t 'shared.destroy'