=@gaz_category.name
= simple_form_for [:admin, @gaz_category, @gaz], as: :gazs, html: { class: 'form-horizontal' } do |f|
  .box
    .box-body
      = f.input :name
      = f.input :power
      = f.input :year
      = f.input :value

  .box
    .box-footer
      => link_to t('shared.back'), admin_gaz_category_gazs_path(@gaz_category), class: 'btn btn-default'
      = f.button :submit, f.object.persisted? ? t('shared.update') : t('shared.create'), class: 'btn pull-right'