section.content-header
  h1
    i.fa.fa-recycle>
    =t '.title'
    br
    =@gaz_category.name
section.content
  .box
    .box-header.with-border
      - if policy([:admin, Gaz]).new?
        => link_to t('.actions.add'), new_admin_gaz_category_gaz_path(@gaz_category), class: 'btn btn-success'
      => link_to t('shared.back'), admin_gaz_categories_path, class: 'btn btn-default'
    .box-body.no-padding
      table#gazs.table.table-striped
        thead
          tr
            th=t '.table.name'
            th=t '.table.power'
            th=t '.table.year'
            th
        tbody
          - @gazs.each do |gaz|
            tr id=dom_id(gaz)
              td= gaz.name
              td= gaz.power
              td= gaz.year
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, gaz]).edit?
                      li
                        = link_to edit_admin_gaz_category_gaz_path(@gaz_category, gaz) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                      - if policy([:admin, gaz]).destroy?
                        li
                          = link_to admin_gaz_category_gaz_path(@gaz_category, gaz), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                            i.fa.fa-trash>
                            =t 'shared.destroy'
    .box-footer
      = paginate @gazs, theme: 'twitter-bootstrap-3'