.cnt.article
  = render 'advertisements/top'
  .clearfix style="margin-bottom: 20px;"
    .article__text
      .clearfix
        p.article__title style="padding-left: 0px;"
          = @manual.name
          span.article__date=l @manual.created_at.to_date
        .article__social
      = raw @manual.body
      div
        = link_to t('shared.back'), manuals_category_path(@manual.category), class: 'btn btn-default pull-right'
    = render 'application/sidebar'
