section.content-header
  h1
    i.fa.fa-recycle>
    =t '.title'

section.content
  .box
    .box-header.with-border
      - if policy([:admin, ::Recycling::Category]).new?
        = link_to t('.actions.add'), new_admin_recycling_category_path, class: 'btn btn-success'
    .box-body.no-padding
      table#recycling_categories.table.table-striped
        thead
          tr
            th=t '.table.name'
            th
        tbody
          - @recycling_categories.each do |recycling_category|
            tr id=dom_id(recycling_category)
              td= link_to recycling_category.name, admin_recycling_category_recyclings_path(recycling_category)
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, recycling_category]).edit?
                      li
                        = link_to edit_admin_recycling_category_path(recycling_category) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                      - if policy([:admin, recycling_category]).destroy?
                        li
                          = link_to admin_recycling_category_path(recycling_category), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                            i.fa.fa-trash>
                            =t 'shared.destroy'