=@recycling_category.name
= simple_form_for [:admin, @recycling_category, @recycling], as: :recyclings, html: { class: 'form-horizontal' } do |f|
  .box
    .box-body
      = f.input :name
      = f.input :year
      = f.input :value
  .box
    .box-footer
      => link_to t('shared.back'), admin_recycling_category_recyclings_path(@recycling_category), class: 'btn btn-default'
      = f.button :submit, f.object.persisted? ? t('shared.update') : t('shared.create'), class: 'btn pull-right'