section.content-header
  h1
    i.fa.fa-recycle>
    =t '.title'
    br
    =@recycling_category.name
section.content
  .box
    .box-header.with-border
      - if policy([:admin, Recycling]).new?
        => link_to t('.actions.add'), new_admin_recycling_category_recycling_path(@recycling_category), class: 'btn btn-success'
      => link_to t('shared.back'), admin_recycling_categories_path, class: 'btn btn-default'
    .box-body.no-padding
      table#recyclings.table.table-striped
        thead
          tr
            th=t '.table.name'
            th=t '.table.year'
            th
        tbody
          - @recyclings.each do |recycling|
            tr id=dom_id(recycling)
              td= recycling.name
              td= recycling.year
                  i.fa.fa-check
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, recycling]).edit?
                      li
                        = link_to edit_admin_recycling_category_recycling_path(@recycling_category, recycling) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                      - if policy([:admin, recycling]).destroy?
                        li
                          = link_to admin_recycling_category_recycling_path(@recycling_category, recycling), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                            i.fa.fa-trash>
                            =t 'shared.destroy'
    .box-footer
      = paginate @recyclings, theme: 'twitter-bootstrap-3'