.cnt.laws-list.clearfix
  = render 'advertisements/top'
  .laws
    #laws-tabs
      = render 'laws_tabs'
      #tabs-1
        p.laws__title
          = @interpretation.category.name
        = simple_format @interpretation.body
        - if @interpretation.pdf?
            => link_to @interpretation.pdf, class: 'float-right' do
              => image_tag 'ic10.png'
        = link_to t('shared.back'), interpretations_category_path(@interpretation.category), class: 'btn btn-default'
  .float-right
    = render 'application/sidebar'