= simple_form_for [:admin, @government_plan], as: :government_plan, html: { class: 'form-horizontal' } do |f|
  .box.box-primary
    .box-body
      = f.association :state
      = f.input :image, hint: (image_tag(f.object.image.thumb) if f.object.image?)

  .box.box-primary
    .box-body
      = f.input :body, as: :ckeditor, input_html: { ckeditor: { toolbar: 'AdminToolbar' } }, wrapper: :horizontal_form_full_width

  .box.box-primary
    .box-footer
      => link_to t('shared.back'), admin_government_plans_path, class: 'btn btn-default'
      = f.button :submit, f.object.persisted? ? t('shared.update') : t('shared.create'), class: 'btn pull-right'
