section.content-header
  h1
    i.fa.fa-calendar>
    =t '.title'

section.content
  .box
    .box-header.with-border
      - if policy([:admin, :GovernmentPlan]).new?
        = link_to t('.actions.add'), new_admin_government_plan_path, class: 'btn btn-success'
    .box-body.no-padding
      table#government_plans.table.table-striped
        thead
          tr
            th width='100px'=t '.table.image'
            th=t '.table.state'
            th=t '.table.body'
            th
        tbody
          - @government_plans.each do |government_plan|
            tr id=dom_id(government_plan)
              td= image_tag government_plan.image.thumb.url
              td= government_plan.state.name
              td= simple_format government_plan.body
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, government_plan]).edit?
                      li
                        = link_to edit_admin_government_plan_path(government_plan) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                    - if policy([:admin, government_plan]).destroy?
                      li
                        = link_to admin_government_plan_path(government_plan), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                          i.fa.fa-trash>
                          =t 'shared.destroy'