=@document_category.name
= simple_form_for [:admin, @document_category, @document], as: :document, html: { class: 'form-horizontal' } do |f|
  .box.box-primary
    .box-body
      = f.input :name
      = f.input :doc
      = f.input :pdf
    .box-footer
      => link_to t('shared.back'), admin_document_category_documents_path(@document_category), class: 'btn btn-default'
      = f.button :submit, f.object.persisted? ? t('shared.update') : t('shared.create'), class: 'btn pull-right'