section.content-header
  .actions.pull-right
    - if policy([:admin, @document]).destroy?
      => link_to admin_document_category_document_path(@document_category, @document), method: :delete, data: { confirm: t('shared.are_you_sure') }, class: 'btn btn-danger'
        i.fa.fa-trash>
        =t 'shared.destroy'
  h1
    i.fa.fa-info>
    =t '.title'
section.content
  = render 'form'