section.content-header
  h1
    i.fa.fa-download>
    =t '.title'
    small= @document_category.name
section.content
  .box
    .box-header.with-border
      - if policy([:admin, ::Document]).new?
        => link_to t('.actions.add'), new_admin_document_category_document_path(@document_category), class: 'btn btn-success'
      => link_to t('shared.back'), admin_document_categories_path, class: 'btn btn-default'
    .box-body.no-padding
      table#documents.table.table-striped
        thead
          tr
            th=t '.table.name'
            th=t '.table.doc'
            th=t '.table.pdf'
            th
        tbody
          - @documents.each do |document|
            tr id=dom_id(document)
              td= document.name
              td
                - if document.doc?
                  = link_to document.doc.url do
                    i.fa.fa-file-word-o
              td
                - if document.pdf?
                  = link_to document.pdf.url do
                    i.fa.fa-file-pdf-o
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, document]).edit?
                      li
                        = link_to edit_admin_document_category_document_path(@document_category, document) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                      - if policy([:admin, document]).destroy?
                        li
                          = link_to admin_document_category_document_path(@document_category, document), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                            i.fa.fa-trash>
                            =t 'shared.destroy'