=@removal_category.name
= simple_form_for [:admin, @removal_category, @removal], as: :removal, html: { class: 'form-horizontal' } do |f|
  .box
    .box-body
      = f.input :name
      = f.input :year
      = f.input :value

  .box
    .box-footer
      => link_to t('shared.back'), admin_removal_category_removals_path(@removal_category), class: 'btn btn-default'
      = f.button :submit, f.object.persisted? ? t('shared.update') : t('shared.create'), class: 'btn pull-right'