section.content-header
  .actions.pull-right
    - if policy([:admin, @removal]).destroy?
      => link_to admin_removal_category_removal_path(@removal_category, @removal), method: :delete, data: { confirm: t('shared.are_you_sure') }, class: 'btn btn-danger'
        i.fa.fa-trash>
        =t 'shared.destroy'
  h1
    i.fa.fa-info>
    =t '.title'
section.content
  = render 'form'