section.content-header
  h1
    i.fa.fa-remove>
    =t '.title'
    br
    =@removal_category.name
section.content
  .box
    .box-header.with-border
      - if policy([:admin, Removal]).new?
        => link_to t('.actions.add'), new_admin_removal_category_removal_path(@removal_category), class: 'btn btn-success'
      => link_to t('shared.back'), admin_removal_categories_path, class: 'btn btn-default'
    .box-body.no-padding
      table#removals.table.table-striped
        thead
          tr
            th=t '.table.name'
            th=t '.table.year'
            th
        tbody
          - @removals.each do |removal|
            tr id=dom_id(removal)
              td= removal.name
              td= removal.year
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, removal]).edit?
                      li
                        = link_to edit_admin_removal_category_removal_path(@removal_category, removal) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                      - if policy([:admin, removal]).destroy?
                        li
                          = link_to admin_removal_category_removal_path(@removal_category, removal), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                            i.fa.fa-trash>
                            =t 'shared.destroy'