= simple_form_for [:admin, @thread], as: :thread, html: { class: 'form-horizontal' } do |f|
  .box.box-primary
    .box-body
      = f.input :subject
      = f.input :approved
      = f.input :closed
      = f.input :closed_date, wrapper: :multi_select, default: 7.days.from_now
      = f.association :section
    .box-footer
      => link_to t('shared.back'), admin_forum_threads_path, class: 'btn btn-default'
      = f.button :submit, f.object.persisted? ? t('shared.update') : t('shared.create'), class: 'btn pull-right'