section.content-header
  .actions.pull-right
    - if policy([:admin, @thread]).destroy?
      => link_to admin_forum_thread_path(@thread), method: :delete, data: { confirm: t('shared.are_you_sure') }, class: 'btn btn-danger'
        i.fa.fa-trash>
        = t 'shared.destroy'
  h1
    i.fa.fa-server>
    = t '.title'
section.content
  = simple_form_for [:admin, @thread], as: :thread, html: { class: 'form-horizontal' } do |f|
    .box.box-primary
      .box-body
        = f.input :close_body, as: :ckeditor, input_html: {value: I18n.t('admin.forum.threads.close_body') }
        = f.input :closed, as: :hidden, input_html: { value: true }
        = f.input :closed_date, wrapper: :multi_select, default: 7.days.from_now
      .box-footer
        => link_to t('shared.back'), admin_forum_threads_path, class: 'btn btn-default'
        = f.button :submit, t('shared.close'), class: 'btn pull-right'
