section.content-header
  h1
    i.fa.fa-server>
    =t '.title'

section.content
  .box
    .box-header.with-border
    .box-body.no-padding
      table#threads.table.table-striped
        thead
          tr
            th=t '.table.subject'
            th=t '.table.section'
            th=t '.table.approved'
            th=t '.table.closed'
            th
        tbody
          - @threads.each do |thread|
            tr id=dom_id(thread)
              td= link_to thread.subject, admin_forum_thread_path(thread)
              td= thread.section.name
              td
                - if thread.approved?
                  i.fa.fa-check
              td
                - if thread.closed?
                  i.fa.fa-check
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, thread]).edit?
                      li
                        = link_to edit_admin_forum_thread_path(thread) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                    - if policy([:admin, thread]).destroy?
                      li
                        = link_to admin_forum_thread_path(thread), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                          i.fa.fa-trash>
                          =t 'shared.destroy'
                    - if policy([:admin, thread]).close?
                      li
                        = link_to close_admin_forum_thread_path(thread) do
                          i.fa.fa-close>
                          =t 'shared.close'
    .box-footer
      = paginate @threads, theme: 'twitter-bootstrap-3'
