post.content-header
  h1
    i.fa.fa-server>
    =@thread.subject

post.content
  .box
    .box-header.with-border
      => link_to t('shared.back'), admin_forum_threads_path, class: 'btn btn-default'
    .box-body.no-padding
      table#posts.table.table-striped
        thead
          tr
            th=t '.table.message'
            th=t '.table.approved'
            th
        tbody
          - @posts.each do |post|
            tr id=dom_id(post)
              td= simple_format(post.message)
              td
                - if post.approved?
                  i.fa.fa-check
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, post]).edit?
                      li
                        = link_to edit_admin_forum_post_path(post) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                    - if policy([:admin, post]).destroy?
                      li
                        = link_to admin_forum_post_path(post), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                          i.fa.fa-trash>
                          =t 'shared.destroy'
    .box-footer
      = paginate @posts, theme: 'twitter-bootstrap-3'