.cnt.charges-list.clearfix
  = render 'advertisements/top'
  .charges
    #charges-tabs
      = render 'charges_tabs'
      = render 'environments_tabs'
      #tabs-4
      -@categoriesnames.each do |categoriesname|
        p.table__title
          =categoriesname
        table.charges__table__tab
          tr.head
            th.th__dsc
              = ::Gaz::Category.where(name: categoriesname).first.yearname
            - if ::Gaz::Category.where(name: categoriesname).first.gazs.first
              - if (!::Gaz::Category.where(name: categoriesname).first.gazs.first.power.empty?)
                th ="Nominalna moc cieplna kotła w MW"
            - ::Gaz::Category.where(name: categoriesname).first.gazs.order(:year).map(&:year).uniq.each do |year|
              th = year
          - @categories = ::Gaz::Category.where(name: categoriesname).each do |category|
            - if category.subname
              tr.head
                th.th__dsc
                  = category.subname
                - if ::Gaz::Category.where(name: categoriesname).first.gazs.first
                  - if (!::Gaz::Category.where(name: categoriesname).first.gazs.first.power.empty?)
                    th
                - ::Gaz::Category.where(name: categoriesname).first.gazs.map(&:year).uniq.each do |year|
                 th
            - category.gazs.map(&:name).uniq.each do |name|

              - category.gazs.where(name: name).map(&:power).uniq.each do |power|
               tr
                 td.td__dsc
                   = name
                 - if (!power.empty?)
                   td = power
                 - category.gazs.order(:year).map(&:year).uniq.each do |year|
                  td
                   - if category.gazs.where(name: name, year: year, power: power).exists?
                     = category.gazs.find_by(name: name, year: year, power: power).value
  .float-right
    = render 'application/sidebar'
        /! @@include= /partials/forum.html
        /! @@include= /partials/aside_ad.html
        /! @@include= /partials/aside_incoming_events.html
        /! @@include= /partials/newsletter.html
        /! @@include= /partials/footer.html
        /! @@include= /partials/meta_footer.html