= simple_form_for [:admin, @publication], as: :publication, html: { class: 'form-horizontal' } do |f|
  .box.box-primary
    .box-body
      = f.input :name
      = f.input :author
      = f.input :pdf
      = f.input :law
    .box-footer
      => link_to t('shared.back'), admin_publications_path, class: 'btn btn-default'
      = f.button :submit, f.object.persisted? ? t('shared.update') : t('shared.create'), class: 'btn pull-right'