section.content-header
  .actions.pull-right
    - if policy([:admin, @publication]).destroy?
      => link_to admin_publication_path(@publication), method: :delete, data: { confirm: t('shared.are_you_sure') }, class: 'btn btn-danger'
        i.fa.fa-trash>
        =t 'shared.destroy'
  h1
    i.fa.fa-file-pdf-o>
    =t '.title'
section.content
  = render 'form'