section.content-header
  h1
    i.fa.fa-file-pdf-o>
    =t '.title'

section.content
  .box
    .box-header.with-border
      - if policy([:admin, Publication]).new?
        = link_to t('.actions.add'), new_admin_publication_path, class: 'btn btn-success'
    .box-body.no-padding
      table#publications.table.table-striped
        thead
          tr
            th=t '.table.name'
            th=t '.table.author'
            th=t '.table.pdf'
            th
        tbody
          - @publications.each do |publication|
            tr id=dom_id(publication)
              td= publication.name
              td= publication.author
              td
                - if publication.pdf?
                  = link_to t('.actions.download'), publication.pdf.url
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, publication]).edit?
                      li
                        = link_to edit_admin_publication_path(publication) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                    - if policy([:admin, publication]).destroy?
                      li
                        = link_to admin_publication_path(publication), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                          i.fa.fa-trash>
                          =t 'shared.destroy'
    .box-footer
      = paginate @publications, theme: 'twitter-bootstrap-3'