.cnt.laws-list.clearfix
  = render 'advertisements/top'
  .laws
    #laws-tabs
      = render 'laws_tabs'
      #tabs-1
        p.laws__title
        - @laws.each do |law|
          .laws__single.clearfix id=dom_id(law)
            .left
              p.laws__single-title
                = law.address
              p.laws__single-description
                = law.title
            .right
              - if law.isap.present?
                = link_to law.isap, target: '_blank' do
                  = image_tag 'ic11.png'
              /- if law.pdf.present?
                = link_to law.pdf, target: '_blank' do
                  = image_tag 'ic10.png'
        = paginate @laws
  = render 'application/sidebar'