.add_company {
    width: 700px;
    float: left;
    margin-right: 20px;
    margin-bottom: 40px;
}
.add_company__title {
    color: $font-dark;
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 10px;
}
.add_company__subtitle {
    color: $red;
}
.add_company__form {
    margin-top: 30px;
}
.add_company__input {
    float: left;
    position: relative;
    span {
        color: $font-light;
        display: block;
        margin-bottom: 12px;
    }
    .sub-info {
        color: $light-grey;
        margin-left: 5px;
        display: inline-block;
        font-size: 12px;
        margin-bottom: 0;
    }
    input {
        color: $font-light;
        border: 1px solid $font-light;
        height: 30px;
        width: 100%;
    }
    .select-wrapper {
        border: 1px solid black;
        border-radius: 0;
    }
    select {
        color: $font-light;
        border: none;
        height: 30px;
        width: 100%;
    }
    label {
        font-weight: 500;
        color: $font-light;
    }
    .checkbox-custom {
        margin-right: 20px;
    }
    .checkbox-custom + .checkbox-custom-label:before,
    .radio-custom + .radio-custom-label:before {
        margin-right: 20px;
    }
}

.add_company__checkbox {
  margin-bottom: 40px;
  float: left;
}


.add_company__textarea {
    textarea {
        height: 120px !important;
        width: 100% !important;
    }
}
.input-bottom {
    margin-bottom: 15px;
}
.add_company__submit {
    float: right;
    margin-top: 25px;
    position: relative;
    input {
        font-size: 18px;
        background: transparent;
        border: 1px solid black;
        border-radius: 5px;
        padding: 10px 40px 10px 20px;
        &:hover{
          background: #389090;
        }
    }
    span {
        position: absolute;
        top: 13px;
        right: 8px;
    }
}
.validate-error {
    input {
        border: 2px solid red;
    }
    .error-span {
        color: red;
        font-size: 12px;
        margin-bottom: 0;
    }

    span {
      color: red;

      .sub-info {
        color: red;
      }
    }

    .checkbox-custom-label:before {
        border: 2px solid red;
    }
}
.add_logo{
  button{
    background: $font-light;
    color: white;
    height: 30px;
    width: 100px;
    border: none;
    position: absolute;
    right: 0;
    top: 32px;
  }
}
