.article {
    .article__text {
        width: 820px;
        float: left;
        margin-right: 20px;
    }
    .float-right {
        .forum {
            float: none;
            margin-bottom: 50px;
        }
        .aside_adv {
            float: none;
        }
    }
    .article__title {
        font-size: 32px;
        color: #333;
        padding-left: 15px;
        width: 570px;
        display: inline-block;
    }
    .article__date {
        font-size: 12px;
        color: $font-light;
        display: block;
    }
    .article__social {
        width: 240px;
        display: inline-block;
        vertical-align: bottom;
    }
    .article__facebook {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        img {}
    }
    .article__twitter {
        display: inline-block;
        vertical-align: middle;
        img {}
    }
    .article__img {
      margin: 20px 0 30px 0;
        img {}
    }
}
