.calendar {
    width: 780px;
    float: left;
    margin-right: 20px;
    margin-bottom: 100px;
}
.cnt.calendar-list {
    margin-bottom: 50px;
}
.calendar-list .float-right .forum {
    float: none;
    margin-bottom: 50px;
}
.calendar-list .float-right .aside_adv {
    float: none;
}
.calendar__title {
    color: $font-dark;
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 45px;
}
#calendar-tabs {
    margin-bottom: 50px;
}
.calendar__tabs {
    width: 620px;
    margin: 0 auto;
    li {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 10px;
        a {
            font-size: 14px;
            color: $font-dark;
            text-transform: uppercase;
            padding: 5px 10px;
            border-right: 1px solid $font-dark;
            display: inline-block;
            vertical-align: middle;
            &:hover {
                text-decoration: underline;
            }
        }
        &:last-of-type {
            a {
                border: none;
            }
        }
    }
}
.calendar-tab__container {
    .calendar-tab__title {
        color: white;
        background: #135354;
        font-size: 18px;
        text-transform: uppercase;
        padding: 8px 0;
        text-align: center;
        p {
            margin: 0;
        }
    }
}
.calendar-tab__head {
    margin-top: 5px;
    p {
        font-size: 18px;
        font-weight: 700;
        color: $font-dark;
        padding: 20px 0;
        text-align: center;
        border-right: 1px solid $font-grey;
        margin-bottom: 0;
    }
    .calendar-tab__head-1 {
        width: 95px;
        float: left;
    }
    .calendar-tab__head-2 {
        width: 185px;
        float: left;
    }
    .calendar-tab__head-3 {
        width: 500px;
        float: left;
        p {
            text-align: left;
            padding-left: 25px;
            border: none;
        }
    }
}
.calendar-tab__text {
    display: table;
    border-collapse: collapse;
    .calendar-tab__text__single {
        display: table-row;
        border-bottom: 1px solid $font-grey;
        &:last-of-type{
          border: none;
        }
        &:nth-child(2n){
          background: $grey-background;
        }
    }
    .calendar-tab__text__single_1 {
        width: 95px;
        border-right: 1px solid $font-grey;
        display: table-cell;
        vertical-align: top;
        padding: 15px 0;
        .num {
            font-size: 36px;
            font-weight: 700;
            margin-bottom: 5px;
            text-align: center;
            span {
                font-size: 12px;
                color: $font-grey;
                display: block;
            }
        }
    }
    .calendar-tab__text__single_2 {
        width: 184px;
        border-right: 1px solid $font-grey;
        display: table-cell;
        vertical-align: top;
        padding: 15px;
        p {
            font-size: 12px;
            color: $font-grey;
        }
    }
    .calendar-tab__text__single_3 {
        width: 500px;
        display: table-cell;
        vertical-align: top;
        padding: 15px;
        p {
            font-size: 14px;
            color: $font-grey;
        }
        a {
            font-size: 14px;
            background: transparent;
            border: 1px solid black;
            border-radius: 5px;
            padding: 10px 20px;
            display: inline-block;
            color: $font-dark;
            span {
                margin-left: 10px;
            }
            &:hover {
                background: #389090;
            }
        }
    }
}
