.catalogue {
    width: 780px;
    float: left;
    margin-right: 20px;
    margin-bottom: 100px;
    .radio-custom {
        opacity: 0;
        position: absolute;
    }
    .radio-custom,
    .radio-custom-label {
        display: inline-block;
        vertical-align: middle;
        margin: 5px;
        cursor: pointer;
    }
    .radio-custom-label {
        position: relative;
        font-weight: 500;
        margin-right: 18px;
        width: 234px;
        height: 36px;
        &:last-of-type {
            margin-right: 0;
        }
    }
    .radio-custom + .radio-custom-label:before {
        content: '';
        background: #fff;
        border: 2px solid #ddd;
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        padding: 2px;
        margin-right: 10px;
        text-align: center;
    }
    .radio-custom + .radio-custom-label:before {
        border-radius: 50%;
    }
    .radio-custom:checked + .radio-custom-label:before {
        background: #ccc;
    }
    .radio-custom:focus + .radio-custom-label {
        outline: 1px solid #ddd;
    }
}
.cnt.catalogue-list {
    margin-bottom: 50px;
}
.catalogue-list .float-right .forum {
    float: none;
    margin-bottom: 50px;
}
.catalogue-list .float-right .aside_adv {
    float: none;
}
.catalogue__title {
    color: $font-dark;
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 45px;
}
.catalogue__searchbox {
    p {
        font-size: 16px;
        color: $font-dark;
        margin-bottom: 20px;
    }
    input {
        font-size: 16px;
        background: transparent;
        border: 1px solid $font-light;
        padding: 10px 40px 10px 20px;
        height: 50px;
        width: 100%;
    }
}
.catalogue__categories {
    margin-top: 20px;
    border-bottom: 1px solid $font-grey;
    padding-bottom: 30px;
    .title {
        font-size: 16px;
        color: $font-dark;
    }
}
.catalogue__moreinfo {
    padding: 30px 0 0;
    display: none;
}
.show-hide {
    float: right;
    color: $font-grey;
    font-size: 14px;
    background: transparent;
    border: 1px solid $font-grey;
    border-radius: 5px;
    padding: 7px 12px;
    span {
        margin-right: 6px;
    }
    img {}
    &:hover {
        background: #389090;
    }
}
.catalogue__legend {
    .legend__single {
        margin-bottom: 20px;
        display: inline-block;
        vertical-align: middle;
        width: 400px;
        &:nth-child(2n) {
            width: calc(100% - 410px);
        }
        img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;
            width: 35px;
        }
        span {
            display: inline-block;
            vertical-align: middle;
            width: 250px;
        }
    }
}
.catalogue__collapsed__categories {
    margin-top: 45px;
    .title {
        margin-bottom: 50px;
        color: #999999;
        font-size: 16px;
    }
    .catalogue__collapsed__single {
        .single__title {
            cursor: pointer;
            border-bottom: 1px solid $font-light;
            .single__title__number {
                font-size: 24px;
                color: $font-dark;
                display: inline-block;
                vertical-align: middle;
                width: 140px;
                padding-left: 40px;
            }
            .single__title__description {
                font-size: 16px;
                color: $font-dark;
                display: inline-block;
                vertical-align: middle;
                padding: 15px 0;
                width: 600px;
            }
        }
        .catalogue__collapsed__1 {
            background: #f5f5f5;
            display: none;
            .single__title__1 {
                cursor: pointer;
                .single__title__number__1 {
                    font-size: 14px;
                    color: $font-light;
                    display: inline-block;
                    vertical-align: middle;
                    width: 140px;
                    padding-left: 40px;
                }
                .single__title__description__1 {
                    font-size: 14px;
                    color: $font-light;
                    display: inline-block;
                    vertical-align: middle;
                    padding: 15px 0;
                    width: 600px;
                }
            }
        }
        .catalogue__collapsed__2 {
            background: #f8f8f8;
            display: none;
            .single__title__number__2 {
                font-size: 14px;
                color: $font-light;
                display: inline-block;
                vertical-align: middle;
                width: 140px;
                padding-left: 55px;
            }
            .single__title__description__2 {
                font-size: 14px;
                color: $light-grey;
                display: inline-block;
                vertical-align: middle;
                padding: 15px 0;
                width: 600px;
                .single__title__legend__2 {
                    display: inline-block;
                    vertical-align: middle;
                    img {
                      margin-left: 15px;
                    }
                }
            }
        }
        &:last-of-type {
            .single__title {
                border: none;
            }
        }
    }
    .single__title__table {
        margin-top: 20px;
        p {
            float: left;
            margin-right: 20px;
            span {
                font-size: 14px;
                color: $font-dark;
                display: block;
                margin-bottom: 10px;
                text-align: center;
            }
        }
    }
}
