.charges {
    width: 780px;
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
    .radio-custom {
        opacity: 0;
        position: absolute;
    }
    .radio-custom,
    .radio-custom-label {
        display: inline-block;
        vertical-align: middle;
        margin: 5px;
        cursor: pointer;
    }
    .radio-custom-label {
        position: relative;
        font-weight: 500;
        margin-right: 18px;
        width: 234px;
        &:last-of-type {
            margin-right: 0;
        }
    }
    .radio-custom + .radio-custom-label:before {
        content: '';
        background: #fff;
        border: 2px solid #ddd;
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        padding: 2px;
        margin-right: 10px;
        text-align: center;
    }
    .radio-custom + .radio-custom-label:before {
        border-radius: 50%;
    }
    .radio-custom:checked + .radio-custom-label:before {
        background: #ccc;
    }
    .radio-custom:focus + .radio-custom-label {
        outline: 1px solid #ddd;
    }
}
.cnt.charges-list {
    margin-bottom: 50px;
}
.charges-list .float-right .forum {
    float: none;
    margin-bottom: 50px;
}
.charges-list .float-right .aside_adv {
    float: none;
}
.charges__title {
    color: $font-dark;
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 15px;
}
.charges__searchbox {
    p {
        font-size: 16px;
        color: $font-dark;
        margin-bottom: 20px;
    }
    input {
        font-size: 16px;
        background: transparent;
        border: 1px solid $font-light;
        padding: 10px 40px 10px 20px;
        height: 50px;
        width: 100%;
    }
}
.charges__categories {
    margin-top: 20px;
    border-bottom: 1px solid $font-grey;
    padding-bottom: 30px;
    .title {
        font-size: 16px;
        color: $font-dark;
    }
}
.charges__moreinfo {
    padding: 30px 0 0;
    display: none;
}
.show-hide {
    float: right;
    color: $font-grey;
    font-size: 14px;
    background: transparent;
    border: 1px solid $font-grey;
    border-radius: 5px;
    padding: 7px 12px;
    span {
        margin-right: 6px;
    }
    img {}
    &:hover {
        background: #389090;
    }
}
.charges__legend {
    .legend__single {
        margin-bottom: 20px;
        display: inline-block;
        vertical-align: middle;
        width: 400px;
        &:nth-child(2n) {
            width: calc(100% - 410px);
        }
        img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;
            width: 35px;
        }
        span {
            display: inline-block;
            vertical-align: middle;
            width: 250px;
        }
    }
}
.charges__collapsed__categories {
    margin-top: 45px;
    .title {
        margin-bottom: 50px;
        color: #999999;
        font-size: 16px;
    }
    .charges__collapsed__single {
        .single__title {
            cursor: pointer;
            border-bottom: 1px solid $font-light;
            .single__title__number {
                font-size: 24px;
                color: $font-dark;
                display: inline-block;
                vertical-align: middle;
                width: 140px;
                padding-left: 40px;
            }
            .single__title__description {
                font-size: 16px;
                color: $font-dark;
                display: inline-block;
                vertical-align: middle;
                padding: 15px 0;
                width: 600px;
            }
        }
        .charges__collapsed__1 {
            background: #f5f5f5;
            display: none;
            .single__title__1 {
                cursor: pointer;
                .single__title__number__1 {
                    font-size: 14px;
                    color: $font-light;
                    display: inline-block;
                    vertical-align: middle;
                    width: 140px;
                    padding-left: 40px;
                }
                .single__title__description__1 {
                    font-size: 14px;
                    color: $font-light;
                    display: inline-block;
                    vertical-align: middle;
                    padding: 15px 0;
                    width: 600px;
                }
            }
        }
        .charges__collapsed__2 {
            background: #f8f8f8;
            display: none;
            border-bottom: 1px solid #dad7d7;
            .single__title__number__2 {
                font-size: 14px;
                color: $font-light;
                display: inline-block;
                width: 140px;
                padding-left: 55px;
                vertical-align: top;
                padding-top: 20px;
            }
            .single__title__description__2 {
                font-size: 14px;
                color: $light-grey;
                display: inline-block;
                vertical-align: middle;
                padding: 15px 0;
                width: 600px;
                .single__title__legend__2 {
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 15px;
                    img {}
                }
            }
        }
        &:last-of-type {
            .single__title {
                border: none;
            }
        }
    }
    .single__title__table {
        margin-top: 20px;
        p {
            float: left;
            margin-right: 20px;
            span {
                font-size: 14px;
                color: $font-dark;
                display: block;
                margin-bottom: 10px;
                text-align: center;
            }
        }
    }
}
.charges__table {
    margin-bottom: 50px;
    border-spacing: 0;
    border-collapse: collapse;
    display: table;
    ul {
        display: table-row;
        vertical-align: inherit;
        li[aria-selected="true"] {
            background: #135354;
            a {
                color: white;
            }
        }
        li {
            display: table-cell;
            vertical-align: middle;
            padding: 20px 25px;
            border: solid 1px $font-dark;
            a {
                font-size: 12px;
                color: $font-dark;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
.table__title {
    font-size: 18px;
    color: white;
    background: #135354;
    text-align: center;
    margin: 0;
    padding: 8px 0;
}
.charges__table__tab {
    width: 100%;
    .head {
        border-bottom: 3px solid #135354;
        th {
            border-right: 1px solid #e6e6e6;
            text-align: center;
        }
        .th__dsc {
            width: 260px;
            border: none;
            text-align: left;
        }
    }
    th {
      text-align: center;
    }
    td {
        border-right: 1px solid #e6e6e6;
        text-align: center;
        padding: 25px 0;
    }
    .td__dsc {
        width: 260px;
        border: none;
        text-align: left;
        padding: 25px 10px;
        color: $light-grey;
    }
    tr:nth-child(2n) {
        background: #f9f9f9;
    }
}
.charges__prices {
    margin: 50px 0;
    .ttl {}
    .txt {
        margin: 0;
    }
}
.charges__calc {
    margin-bottom: 25px;
    .calc__title {
        width: 140px;
        display: inline-block;
        vertical-align: top;
        color: $font-dark;
        font-size: 14px;
        padding-top: 4px;
    }
    .calc__left {
        color: $font-dark;
        display: inline-block;
        vertical-align: top;
        width: 510px;
        input {
            width: 260px;
            padding-left: 10px;
        }
        .add_company__input {
            width: 260px;
        }
        .calc__radio {
            display: inline-block;
            vertical-align: top;
            margin-right: 20px;
            label {
                width: auto;
            }
        }
    }
    .charges__info {
        color: #999999;
        font-size: 12px;
        width: 280px;
    }
}
.charges__sum {
    background: #f9f9f9;
    width: 445px;
    padding: 20px 25px;
    p {}
    .l {
        color: #999999;
        font-size: 16px;
        width: 230px;
        display: inline-block;
    }
    .r {
        font-size: 24px;
        color: $font-dark;
    }
}
.calc__radio__kind{
  .calc__radio{
    width: 200px;
  }
}
