.contact_details {
    width: 820px;
    float: left;
    margin-right: 20px;
}
.contact_details__title {
    color: $font-dark;
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 25px;
}
.contact_details__single {
    border-bottom: 1px solid $font-grey;
    margin-bottom: 10px;
    .contact_details__single__title {
        font-size: 24px;
        font-weight: 700;
        float: left;
        color: $font-dark;
    }
    button {
        float: right;
        color: $font-grey;
        font-size: 14px;
        background: transparent;
        border: 1px solid $font-grey;
        border-radius: 5px;
        padding: 7px 12px;
        span {
            margin-right: 6px;
        }
        img {}
        &:hover {
            background: #389090;
        }
    }
    .contact_details__moreinfo {
        display: none;
        padding: 30px 30px 10px 30px;
        background: #f8f8f8;
            margin-bottom: -10px;
        .contact_details__moreinfo__single {
            padding-bottom: 5px;
            margin-bottom: 15px;
            border-bottom: 1px solid $font-grey;
            &:last-of-type {
                border: none;
                margin-bottom: 0;
            }
        }
        .info-title {}
        .info-text {
            color: $light-grey;
            a {
                color: $light-grey;
                display: inline-block;
            }
        }
    }
}
.contactdetails .float-right .forum {
    float: none;
    margin-bottom: 50px;
}
.contactdetails .float-right .aside_adv {
    float: none;
}
