.event {
    width: 400px;
    height: 480px;
    box-sizing: border-box;
    padding: 25px;
    background: $grey-background;
    float: right;
    .event__title {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 45px;
    }
}
.event__article {
    border-bottom: 1px solid $light-grey;
    margin-bottom: 15px;
    padding-bottom: 15px;
    a:hover{
      p{
        text-decoration: underline;
      }
    }
    .event__article__text {
        display: inline-block;
        vertical-align: middle;
        width: 340px;
        position: relative;
        .event__article__title {
            width: 300px;
            margin-bottom: 0;
            font-size: 14px;
            color: black;
            font-weight: 700;
        }
    }
    .right-arrow-circle:after {
        position: absolute;
        right: -15px;
        top: 50%;
        transform: translateY(-50%);
    }
    &:last-of-type {
        border: none;
        margin-bottom: 0;
    }
}
