.eventslist {
    width: 700px;
    float: left;
    margin-right: 20px;
    margin-bottom: 100px;
}
.events-list .float-right .forum {
    float: none;
    margin-bottom: 50px;
}
.events-list .float-right .aside_adv {
    float: none;
}
.eventslist__title {
    color: $font-dark;
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 45px;
}
.eventslist__soon {
    margin-bottom: 50px;
}
.eventslist__single {
    padding-bottom: 30px;
    margin-bottom: 25px;
    border-bottom: 1px solid $font-grey;
    a:hover{
      text-decoration: underline;
    }
    p {
        font-size: 24px;
        color: $font-dark;
        margin-bottom: 5px;
    }
    span {
        font-size: 14px;
        color: $font-light;
        display: block;
    }
    &:last-of-type {
        border-bottom: none;
    }
}
