.find_company {
    width: 700px;
    float: left;
    margin-right: 20px;
        margin-bottom: 100px;
}
.find_company__title {
    color: $font-dark;
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 10px;
}
.find_company__form {
    width: 560px;
    margin: 40px auto;
    .left {
        width: 360px;
        display: inline-block;
        vertical-align: middle;
    }
    .right {
        width: 160px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 30px;
    }
}
.find_company__submit {
    position: relative;
    input {
        font-size: 18px;
        background: transparent;
        border: 1px solid black;
        border-radius: 5px;
        padding: 10px 40px 10px 20px;
        &:hover {
            background: #389090;
        }
    }
    span {
        position: absolute;
        top: 13px;
        right: 54px;
    }
}
.find_company__input {
    margin-bottom: 20px;
    .text-input {
        color: $font-light;
        border: 1px solid $font-light;
        height: 30px;
        display: inline-block;
        vertical-align: middle;
        width: 265px;
    }
    span {
        display: inline-block;
        vertical-align: middle;
        width: 90px;
    }
    .button-group {
        display: inline-block;
        vertical-align: middle;
        width: 265px;
        position: relative;
    }
    .dropdown-toggle {
        color: $font-light;
        border: 1px solid $font-light;
        height: 30px;
        width: 100%;
        position: relative;
    }
    .dropdown-menu {
        width: 266px;
        li {
            a {}
        }
    }
    .caret {
        margin-left: 0;
        width: auto;
        float: right;
    }
    &:last-of-type {
        margin-bottom: 0;
    }
}
.add_company_link {
    color: black;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid $red;
    position: relative;
    padding: 7px 20px;
    width: 460px;
    margin: 30px auto 0;
    border-radius: 5px;
    span {
        float: right;
        margin-top: -2px;
    }
}
.find_company__companies_row {
    margin-top: 70px;
    margin-bottom: 50px;
    .company__single {
        width: 33%;
        height: 180px;
        position: relative;
        border-bottom: 1px solid $font-grey;
        border-right: 1px solid $font-grey;
        float: left;
        .company__single_img {
            height: 60%;
            img {
                max-width: 100%;
                display: block;
                position: relative;
                top: 50%;
                transform: translateY(50%);
                margin: 0 auto;
            }
        }
        .company__single_text {
            height: 40%;
            p {
                font-size: 14px;
                text-align: center;
                margin-bottom: 5px;
                color: $font-dark;
            }
            span {
                font-size: 14px;
                text-align: center;
                margin-bottom: 5px;
                display: block;
                color: $font-light;
            }
        }
        &:nth-of-type(3n){
          border-right: none;
        }
        &:nth-of-type(7n),
        &:nth-of-type(8n),
        &:nth-of-type(9n){
          border-bottom: none;
        }
    }
}
