footer {
    height: 100px;
    .footer__content {
        @extend .horizontal-center;
        margin-top: 40px;
        a {
            font-size: 16px;
            color: $font-dark;
            display: inline-block;
            vertical-align: middle;
            padding: 0 5px;
            border-right: solid 1px $font-dark;
        }
        p {
            margin: 0;
            font-size: 16px;
            color: $font-dark;
            display: inline-block;
            vertical-align: middle;
            padding: 0 5px;
        }
    }
}
