.forum_thread {
    width: 780px;
    float: left;
    margin-right: 20px;
}
.cnt.forum_thread-list {
    margin-bottom: 50px;
}
.forum_thread-list .float-right .forum {
    float: none;
    margin-bottom: 50px;
}
.forum_thread-list .float-right .aside_adv {
    float: none;
}
.forum_thread__breadcrumb {
    a {
        color: $font-dark;
        font-size: 12px;
        float: left;
    }
    span {
        color: $font-dark;
        font-size: 12px;
        float: left;
        margin: 0 5px;
    }
}
.forum_thread__subject {
    margin-top: 20px;
    .l {
        float: left;
        width: 490px;
        p {
            color: $font-dark;
            font-size: 24px;
        }
        span {
            font-size: 12px;
            color: $font-light;
            display: block;
            a {
                font-size: 14px;
                color: $red;
                display: inline-block;
            }
        }
    }
    .r {
        float: right;
        display: inline-block;
        width: auto;
    }
}
.forum__action {
    float: left;
    margin-right: 20px;
    cursor: pointer;
    img {
        display: inline-block;
        vertical-align: middle;
    }
    span {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        font-size: 10px;
        color: $font-dark;
    }
}
.forum__question {
    padding: 40px 0 40px 25px;
    border-bottom: 1px solid $font-dark;
}
.forum__answer {
    border-bottom: 1px solid $font-dark;
    padding: 15px 35px;
    .top {
        p {
            float: left;
            .answer__name {
                font-size: 16px;
                color: #ff0000;
                font-weight: 700;
                margin-right: 20px;
            }
            .answer__date {
                color: $light-grey;
                font-size: 12px;
            }
        }
        .right-arrow-circle {
            cursor: pointer;
            transform: rotate(-90deg);
            display: block;
            float: right;
        }
    }
    .answer__text {
        p {
            padding: 15px 0;
        }
    }
    .answer__buttons {
        display: inline-block;
        float: right;
    }
}
.nested__answer-1 {
    margin-left: 35px;
}
.nested__answer-2 {
    margin-left: 50px;
}
.nested__answer-3 {
    margin-left: 65px;
}
.nested__answer-4 {
    margin-left: 80px;
}
.nested__answer-5 {
    margin-left: 95px;
}
.nested__answer-6 {
    margin-left: 110px;
}
.grey__answer {
    &:nth-child(2n+1) {
        background: #f8f8f8;
    }
}
.forum__write-answer {
    padding: 30px 0 30px 70px;
    .write-answer__title {
        margin-bottom: 15px;
        font-size: 24px;
        color: $font-dark;
    }
    .write-answer__subtitle {
        font-size: 14px;
        color: $font-grey;
        margin-bottom: 10px;
        display: block;
    }
    textarea {
        width: 100% !important;
        min-height: 280px !important;
        margin-bottom: 15px;
    }
    .write-answer__submit{
      position: relative;
      float: right;
      input {
          font-size: 18px;
          background: transparent;
          border: 1px solid black;
          border-radius: 5px;
          padding: 10px 40px 10px 20px;
          &:hover {
              background: #389090;
          }
      }
      span {
          position: absolute;
          top: 13px;
          right: 9px;
      }
    }
    .write-answer__action{
          float: left;
    }
}
