.forum-main {
    width: 780px;
    float: left;
    margin-right: 20px;
    margin-bottom: 100px;
}
.cnt.forum-list {
    margin-bottom: 50px;
}
.forum-list .float-right .forum {
    float: none;
    margin-bottom: 50px;
}
.forum-list .float-right .aside_adv {
    float: none;
}
.forum-main__title {
    color: $font-dark;
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 45px;
    float: left;
    margin-bottom: 30px;
}
.forum__newthread {
    background: #1d5a53;
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 14px 25px;
    float: right;
    border-radius: 5px;
    &:hover {
        text-decoration: none;
        color: white;
    }
    span {
        margin-left: 15px;
    }
}
.forum__singlethread {
  border-bottom: 1px solid $font-grey;
  &:last-of-type{
    border: none;
  }
    .top {
          padding: 15px 0;
        .title {
            font-size: 24px;
            color: $font-dark;
            float: left;
            font-weight: 700;
        }
        .show-forum {
            float: right;
            color: $font-grey;
            font-size: 14px;
            background: transparent;
            border: 1px solid $font-grey;
            border-radius: 5px;
            padding: 7px 12px;
            span {
                margin-right: 6px;
            }
            img {}
            &:hover {
                background: #389090;
            }
        }
    }
    .forum__table{
      display: none;
    }
    table {
        padding: 0 25px;
        margin-top: 20px;
        tr {
          cursor: pointer;
            &:nth-child(2n) {
                background-color: #f8f8f8;
            }
            th {
                font-size: 11px;
                text-transform: uppercase;
                color: #747474;
                width: 100px;
                text-align: center;
            }
            td {
                color: $light-grey;
                font-size: 12px;
                padding: 15px 0;
                text-align: center;
            }
            .bb {
                font-size: 16px;
                color: $font-dark;
                margin-bottom: 0;
            }
            .subject-th {
                width: 380px;
                text-align: left;
                padding-left: 20px
            }
            .subject-td {
                text-align: left;
                padding-left: 20px
            }
            .answers_num {
                color: white;
                font-size: 16px;
                padding: 12px;
                border-radius: 100% 100% 100% 0;
            }
        }
        .main-tr {
            background-color: transparent;
            cursor: default;
            th{
              padding-bottom: 20px;
            }
        }
    }
}
