.bg_blue{
  background: $blue-background;
}
.bg_orange{
  background: $orange-background;
}
.bg_red{
  background: $red-background;
}

.form-with-margin {
  padding-right: 100px;
}

.forum {
    width: 400px;
    // height: 580px;
    box-sizing: border-box;
    padding: 25px;
    background: $grey-background;
    float: right;
    .forum__title {
        font-size: 32px;
        font-weight: 700;
    }
}
.forum__article {
    padding: 0 10px 5px;
    border-bottom: 1px solid $light-grey;
    margin-bottom: 10px;
    .forum__article__number {
        font-size: 18px;
        color: white;
        padding: 12px;
        display: inline-block;
        vertical-align: middle;
        border-radius: 100% 100% 100% 0;

    }
    .forum__article__text {
        display: inline-block;
        vertical-align: middle;
        width: 260px;
        margin-left: 20px;
        position: relative;
        .forum__article__title {
            margin-bottom: 0;
            font-size: 18px;
            color: black;
            font-weight: 700;
        }
        .forum__article__date {
            color: $light-grey;
            font-size: 14px;
        }
        a:hover{
          text-decoration: underline;
        }
    }
    .right-arrow-circle:after {
        position: absolute;
        right: -15px;
        top: 50%;
        transform: translateY(-50%);
    }
    &:last-of-type {
        border: none;
        margin-bottom: 0;
    }
}

