.homepage {
        width: 820px;
    float: left;
    margin-right: 20px;
    margin-bottom: 100px;
}
.cnt.homepage-list {
    margin-bottom: 50px;
}
.homepage-list .float-right .forum {
    float: none;
    margin-bottom: 37px;
} 
.homepage-list .float-right .aside_adv {
    float: none;
}
.homepage-list .float-right .event {
    float: none;
    margin-bottom: 50px;
}
.articles__mask {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 0;
    left: 0;
    top: 0;
}
.articles__single {
    width: 400px;
    height: 180px;
    position: relative;
    padding: 25px;
    float: left;
    margin-right: 20px;
    .articles__tag {
        z-index: 1;
        color: black;
        position: relative;
        font-size: 12px;
        text-transform: uppercase;
        background: white;
        padding: 5px 10px;
        border-radius: 6px;
    }
    .articles__description {
        position: absolute;
        z-index: 1;
        color: white;
        font-size: 18px;
        bottom: 15px;
        width: 70%;
    }
    .articles__arrow {
        position: absolute;
        z-index: 1;
        right: 25px;
        bottom: 25px;
    }
    &:last-of-type {
        margin-right: 0;
    }
}
.articles {
    margin: 30px auto;

}
.knowledge-zone {
    background: image-url('back1.png');
    width: 820px;
    height: 480px;
    position: relative;
    padding: 25px 15px;
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
    .knowledge-zone__title {
        font-size: 24px;
        font-weight: 700;
        color: white;
    }
    .knowledge-zone__tail {
        position: relative;
        padding: 20px;
        margin-bottom: 15px;
        img {
            position: absolute;
            right: 20px;
            top: 20px;
        }
        p {
            color: white;
            font-weight: 700;
            position: absolute;
            left: 20px;
            bottom: 20px;
        }
        .big {
            font-size: 24px;
        }
        .small {
            font-size: 16px;
        }
        float: left;
        margin-right: 20px;
    }
    .single-tail {
        width: 180px;
        height: 180px;
    }
    .double-tail {
        width: 380px;
        height: 180px;
        margin-bottom: 20px;
    }
    .light-tail {
        background: $light-green;
    }
    .dark-tail {
        background: $dark-green;
    }
    .no-margin {
        margin: 0;
    }
}
.companies {
    width: 820px;
    height: 340px;
    border: solid 1px black;
    padding: 30px 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    .left {
        float: left;
        width: 290px;
        margin-right: 40px;
    }
    .right {
        float: left;
        width: 430px;
    }
    .companies__title {
        font-size: 24px;
        font-weight: 700;
        color: $font-dark;
        margin-bottom: 40px;
    }
    .companies__add {
        background: $red;
        padding: 10px 20px;
        display: block;
        border-radius: 5px;
        p {
            color: white;
            font-size: 24px;
            font-weight: 700;
            margin: 0;
            width: 220px;
            position: relative;
        }
    }
    .companies__go {
        padding: 15px 20px;
        font-size: 18px;
        display: block;
        border: 1px solid $font-dark;
        color: $font-dark;
        border-radius: 5px;
        margin-top: 35px;
        p {
            margin: 0;
            width: 220px;
            position: relative;
        }
    }
    .companies__last-added {
        color: $font-dark;
        font-size: 18px;
        margin-bottom: 40px;
    }
    .companies__logos {}
    .companies__logo {
        width: 205px;
        height: 105px;
        position: relative;
        float: left;
        box-sizing: border-box;
        a{
          height: 100%;
        }
        img {
            display: block;
            margin: 0 auto;
            @extend .vertical-center;
        }
    }
    .right-arrow-circle-white:after,
    .right-arrow-circle:after {
        position: absolute;
        right: -30px;
        top: 50%;
        transform: translateY(-50%);
    }
}
.documents {
    background: $grey-background;
    margin-top: 30px;
    .cnt {
        padding: 40px 25px;
    }
    .left {
        width: 50%;
        float: left;
        border-right: 1px solid $font-dark;
    }
    .right {
        width: 50%;
        float: left;
        padding-left: 40px;
    }
    .documents__title {
        font-size: 32px;
        color: $font-dark;
        text-align: center;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .document {
        margin-bottom: 30px;
        .document__icon {
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;
            width: 40px;
            img {}
        }
        .document__description {
            color: $font-dark;
            font-size: 14px;
            display: inline-block;
            vertical-align: middle;
            width: 490px;
        }
    }
}
