.laws {
    width: 780px;
    float: left;
    margin-right: 20px;
    margin-bottom: 100px;
}
.cnt.laws-list{
  margin-bottom: 50px;
}
.laws-list .float-right .forum {
    float: none;
    margin-bottom: 50px;
}
.laws-list .float-right .aside_adv {
    float: none;
}
.laws__title {
    color: $font-dark;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 45px;
}
.laws__single {
    padding: 35px 0;
    border-bottom: 1px solid $font-light;
    .left {
        width: 570px;
        float: left;
        margin-right: 20px;
    }
    .right {
        width: 190px;
        float: left;
        a.float-right {
            float: right;
        }
        a {
            float: left;
            margin-right: 10px;
            img {}
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
    .laws__single-title {
        font-weight: bold;
        font-size: 16px;
    }
    .laws__single-description {
        font-size: 16px;
        color: $font-light;
        b {
            color: $font-dark;
        }
        a {
            color: $font-light;
            text-decoration: underline;
        }
    }
    &:last-of-type {
        border: none;
    }
}
.laws__readmore {
    font-size: 16px;
    color: $font-dark;
    text-decoration: none;
    border: 1px solid $font-dark;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 5px;
    margin-bottom: 40px;
}
.laws__tabs {
    padding: 0;
    margin-bottom: 50px;
    li[aria-selected="true"] {
        background: #135354;
        a {
            color: white;
        }
    }
    li {
        border: 1px solid $font-dark;
        width: 195px;
        float: left;
        list-style: none;
        padding: 7px 0;
        a {
            color: $font-dark;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 700;
            display: block;
            text-align: center;
            text-decoration: none;
        }
    }
}
.nested-tabs{
  li{
    width: 260px;
    a{
      text-transform: none;
    }
  }
}
.news__single-title {
    font-weight: bold;
    font-size: 18px;
}
.news__single-description {
    font-size: 14px;
    color: $font-light;
    margin-bottom: 0;
    b {
        color: $font-dark;
    }
}
