.login {
    margin-top: 40px;
    margin-bottom: 50px;
    label {
        font-weight: 300;
        color: $font-light;
    }
    .checkbox-custom {
        margin-right: 10px;
    }
    .checkbox-custom + .checkbox-custom-label:before,
    .radio-custom + .radio-custom-label:before {
        margin-right: 20px;
    }
    .login__checkbox {
        margin-bottom: 20px;
        float: left;
    }
    .float-right {
        margin-right: 40px;
        width: 280px;
    }
}
.login__title {
    font-size: 32px;
    color: $font-dark;
    padding-top: 20px;
    margin-bottom: 30px;
    font-weight: 700;
}
.login__subtitle {
    color: $font-light;
    font-size: 14px;
    margin-bottom: 20px;
}
.signin {
    float: left;
    width: 50%;
}
.signup {
    float: left;
    width: 50%;
    padding-left: 40px;
    border-left: 1px solid $font-dark;
    .login__input {
        width: 280px;
    }
    .login__checkbox {
        width: 400px;
        float: none;
    }
    .login__submit {
        float: left;
    }
}
.login__input {
    margin-bottom: 15px;
    span {
        color: $font-light;
        display: block;
        margin-bottom: 5px;
    }
    input {
        color: $font-light;
        border: 1px solid $font-light;
        height: 30px;
        width: 100%;
    }
}
.login__submit {
    float: right;
    margin-top: 25px;
    position: relative;
    input {
        font-size: 18px;
        background: transparent;
        border: 1px solid black;
        border-radius: 5px;
        padding: 10px 40px 10px 20px;
        &:hover {
            background: #389090;
        }
    }
    span {
        position: absolute;
        top: 13px;
        right: 8px;
    }
}
.login__forgot {
    display: block;
    clear: both;
    float: right;
    margin-top: 10px;
    text-decoration: underline;
}
