nav {
    min-width: 1240px;
    .nav__top {
        height: 100px;
        position: relative;
    }
    .nav__left {
        @extend .vertical-center;
        float: left;
        img {
            display: inline-block;
        }
        span {
            display: inline-block;
            vertical-align: middle;
            font-weight: 300;
            padding-left: 30px;
            color: $font-light;
            font-size: 16px;
        }
    }
    .nav__right {
        @extend .vertical-center;
        float: right;
        a {
            color: $font-light;
            font-size: 16px;
            float: left;
            span {
                margin-right: 15px;
                img {
                    margin-right: 20px;
                }
                &:last-of-type {
                    margin-right: 0;
                }
            }
            &:last-of-type {
                img {
                    margin-right: 0;
                }
            }
        }
    }
	.menu_icon {
        display: none;
        width: 27px;
        height: 24px;
        background: #fff;
        border-top: 3px solid #135354;
        border-bottom: 3px solid #135354;
        box-sizing: border-box;
        position: relative;
        margin: 1px 15px 0 0;
        cursor: pointer;
        &:after {
            content: " ";
            display: block;
            width: 100%;
            height: 3px;
            background: #135354;
            position: absolute;
            top: 8px;
        }
    }
    .nav__menu {
        height: 50px;
        width: 100%;
        padding: 0;
        background: $green;
        .cnt {
            height: 100%;
        }
        li {
            height: 100%;
            position: relative;
            width: 16.6%;
            float: left;
            list-style: none;
            a {
                text-transform: uppercase;
                color: white;
                font-size: 16px;
                text-align: center;
                @extend .vertical-center;
                display: block;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    span {
        text-transform: uppercase;
    }
    .nav__menu__drop {
        display: none;
        position: absolute;
        background: #135354;
        width: 100%;
        top: 50px;
        z-index: 12;
        padding: 0;
        li {
            float: none;
            width: 100%;
            height: auto;
            a {
                top: 0;
                transform: none;
                padding: 5px 0;
                border-bottom: 1px solid white;
            }
            &:last-of-type {
                a {
                    border: none;
                }
            }
        }
    }
}
