.newsletter {
    background: image-url('back2.png');
    background-size: cover;
    width: 1002px;
    margin: 0 auto;
    height: 200px;
    padding: 40px 20px;
    .newsletter__content {
        @extend .vertical-center;
        width: auto; 
        .newsletter__signup {
            display: inline-block;
            vertical-align: middle;
            width: 430px;
            margin-right: 170px;
            .newsletter__title {
                font-size: 32px;
                color: white;
                font-weight: 700;
                margin-bottom: 30px;
            }
            .newsletter__form {
                ::-webkit-input-placeholder {
                    color: white;
                }
                :-moz-placeholder {
                    /* Firefox 18- */
                    color: white;
                }
                ::-moz-placeholder {
                    /* Firefox 19+ */
                    color: white;
                }
                :-ms-input-placeholder {
                    color: white;
                }
                input[type="email"] {
                    background: transparent;
                    width: 320px;
                    border: 1px solid white;
                    height: 40px;
                    padding-left: 12px;
                    border-radius: 5px;
                    color: white;
                }
                input[type="button"] {
                    border-radius: 5px;
                    background: white;
                    border: none;
                    height: 41px;
                    width: 100px;
                    margin-left: -10px;
                }
            }
        }
        .newsletter__information {
            display: inline-block;
            vertical-align: middle;
            .newsletter__single-information {
                margin-bottom: 20px;
                img {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 30px;
                }
                span {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 16px;
                    color: white;
                    font-weight: 700;
                }
                &:last-of-type {
                    margin: 0;
                }
            }
        }
    }
}
