.newsletter-modal-box {
  margin: 0 auto;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.newsletter-modal {
    background: white;
    width: 580px;
    margin: 80px auto 0 auto;
    padding: 30px 50px;
    box-shadow: 2px 3px 31px -6px rgb(0, 0, 0);
    label {
        font-weight: 300;
    }
    .newsletter_close {
        float: right;
        right: 15px;
        top: 15px;
        cursor: pointer;
    }
}
.newsletter-modal__title {
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}
.newsletter-modal__input {
    position: relative;
    margin-bottom: 15px;
    .text-input {
        color: $font-light;
        border: 1px solid $font-light;
        height: 30px;
        display: inline-block;
        vertical-align: middle;
        width: 265px;
    }
    span {
        display: inline-block;
        vertical-align: middle;
        width: 90px;
    }
    .select-wrapper {
        border: 1px solid black;
        border-radius: 0;
        width: 265px;
    }
    select {
        color: $font-light;
        border: none;
        height: 30px;
        width: 100%;
    }
}
.newsletter-modal__center {
    display: inline-block;
    right: 50%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
