.news {
    width: 780px;
    float: left;
    margin-right: 20px;
    margin-bottom: 100px;
}
.news-list .float-right .forum {
    float: none;
    margin-bottom: 50px;
}
.news-list .float-right .aside_adv {
    float: none;
}
.news__title {
    color: $font-dark;
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 45px;
}
.news__single{
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid $font-grey;
  &:last-of-type{
    border: none;
  }
}
.news__img{
  width: 260px;
  height: 205px;
  float: left;
  margin-right: 30px;
  img{
    width: 100%;
    display: block;
    @extend .vertical-center;
  }
}
.news__text{
  float: left;
  width: 470px;
    .news__single__title{
      font-size: 24px;
      color: $font-dark;
      margin-bottom: 5px;
      padding-top: 10px;
    }
    span{
      font-size: 14px;
      color: $font-light;
      display: block;
    }
    .news__single__description{
      font-size: 14px;
      color: $font-light;
      padding-top: 20px;
    }
}
