.recommended_articles {
    margin: 50px 0;
}
.recommended_articles__title {
    color: $font-dark;
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 25px;
}
.recommended_articles__single {
    width: 33%;
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid $font-light;
    p {
        font-size: 16px;
        color: $font-dark;
        font-weight: 700;
        padding: 20px 40px;
        position: relative;
    }

    .right-arrow-circle:after {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
    }
    &:last-of-type{
      border: none;
    }
}
