.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  width: 100%;

  .search_submit {
    display: table-cell;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    height: 30px;
    border: none;
    background: #666666;
    color: white;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    cursor: pointer;
  }

  .search_input {
    display: table-cell;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    color: #666666;
    border: 1px solid #666666;
    height: 30px;
    width: 100%;
    padding: 0 5px;
  }
}

.search_results {
  margin-top: 10px;

  a {
    display: block;
    color: #333;
    margin-bottom: 10px;
    padding: 10px;

    &:nth-child(even) {
      background-color: #f1f1f1;
    }

    &:hover {
      text-decoration: none;
    }

    .title {
      font-size: 18px;
    }

    .higlight_search {
      color: red;
    }
  }
}
