.slider {
    width: 820px;
    height: 580px;
    float: left;
    margin-right: 20px;
    .carousel {
        height: 100%;
    }
    .item {
        .description {
            position: absolute;
            bottom: 0;
            background: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 120px;
            p {
                color: #fff;
                font-size: 36px;
                padding: 5px 25px;
            }
        }
    }
    .carousel-indicators li {
        margin-right: 5px;
        background-color: #fff;
        border-radius: 10px;
    }
    .carousel-indicators .active {
        width: 12px;
        height: 12px;
        margin-right: 5px;
        background-color: #47b8ac;
    }
}
