.tips {
    width: 780px;
    float: left;
    margin-right: 20px;
    margin-bottom: 100px;
}
.cnt.tips-list {
    margin-bottom: 50px;
}
.tips-list .float-right .forum {
    float: none;
    margin-bottom: 50px;
}
.tips-list .float-right .aside_adv {
    float: none;
}
.tips__title {
    color: $font-dark;
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 45px;
}
.tips__single {
    margin-bottom: 50px;
    .tips__single__title {
        font-size: 18px;
        color: $font-dark;
        font-weight: 700;
    }
    .tip {
        border-bottom: 1px solid $font-light;
        &:last-of-type {
            border: none;
        }
        a {
            p {
                color: $font-light;
                font-size: 16px;
                padding: 20px 0;
                float: left;
                margin-bottom: 0;
                &:hover {
                    text-decoration: underline;
                }
            }
            span {
                padding: 20px 0;
                float: right;
            }
        }
    }
}
.tips__readmore {
    font-size: 14px;
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    display: inline-block;
    color: $font-dark;
    margin-top: 10px;
    span {
        margin-left: 10px;
    }
    &:hover {
        background: #389090;
    }
}
