$green: #135354;
$light-green: #48b9ad;
$dark-green: #1e5c56;
$font-light: #666666;
$font-dark: #333333;
$font-grey: #bebebe;
$grey-background: #f1f1f1;
$orange-background: #fc6621;
$blue-background: #23cdfd;
$red-background: #fc0d1b;
$light-grey: #999999;
$red: #ff0000;
$all_width: 101;
$all_margin: 101;

@mixin width-x-list {
     @for $i from 1 through $all_width - 1{
        .width-#{$i} {
            width: calc(#{$i} * 1%);
        }
    }
}
@mixin margin-x-list-r {
     @for $i from 1 through $all_margin - 1{
        .margin-#{$i}-r {
            margin-right: calc(#{$i} * 1%);
        }
    }
}

@include width-x-list;
@include margin-x-list-r;

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.horizontal-center {
    display: inline-block;
    right: 50%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.down-arrow {
    &:after {
        content: '';
        background-image: image-url('down-arrow.png');
        width: 10px;
        height: 5px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 2px;
    }
}
.right-arrow-circle {
    &:after {
        content: '';
        background-image: image-url('right-arrow-circle.png');
        width: 22px;
        height: 22px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 2px;
    }
}
.right-arrow-circle-white {
    &:after {
        content: '';
        background-image: image-url('right-arrow-circle-white.png');
        width: 22px;
        height: 22px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 2px;
    }
}

// CUSTOM CHECKBOX

.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 1px solid  $font-light;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    background: $font-dark;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    background: #ccc;
}


.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
}
