@import 'chosen';

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import 'admin-lte/admin-lte';
@import 'admin-lte/skins/_all-skins';

.opaque {
  opacity: 0.2;
}

.checkbox-wrapper {
  label {
    padding-left: 10px;
  }
}
