@import 'chosen';

@import 'bootstrap-sprockets';
@import 'bootstrap';

// @import "bootstrap";
@import "variables";
@import "nav";
@import "footer";
@import "homepage";
@import "forum";
@import "events";
@import "newsletter";
@import "slider";
@import "article";
@import "recommended_articles";
@import "contact_details";
@import "add_company";
@import "find_company";
@import "news";
@import "eventslist";
@import "search";
@import "laws";
@import "login";
@import "newsletter_modal";
@import "catalogue";
@import "forum_main";
@import "forum_thread";
@import "calendar";
@import "tips";
@import "charges";
@import "static_pages";

@import 'toastr.min';

body {
    position: relative;
    font-family: 'Lato', sans-serif;
}
.cnt {
    width: 1240px;
    margin: 0 auto;
    position: relative;
}
li {
    padding: 0;
}
a {
    text-decoration: none;
    display: block;
    &:hover {
        text-decoration: none;
    }
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
a:focus {outline: none;}
.adv {
    img {
        display: block;
        margin: 30px auto;
    }
}
.aside_adv {
    display: inline-block;
    vertical-align: middle;
}
.pagination {
    display: inline-block;
    right: 50%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    a {
        background: transparent;
        border: 1px solid $font-light;
        color: $font-light;
        font-size: 14px;
        border-radius: 5px;
        padding: 5px 15px;
        cursor: pointer;
    }
    .pagination__prev {
        display: inline-block;
        vertical-align: middle;
        span::after {
            transform: rotate(180deg);
        }
        span {
            margin-right: 10px;
        }
        &:hover {
            background: $grey-background;
        }
    }
    .pagination__next {
        display: inline-block;
        vertical-align: middle;
        span {
            margin-left: 10px;
        }
        &:hover {
            background: $grey-background;
        }
    }
    .pagination__list {
        display: inline-block;
        vertical-align: middle;
        padding: 0;
        margin: 0 5px;
        .pagination__page {
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
            &:last-of-type {
                margin-right: 0;
            }
            &:hover {
                button {
                    background: $grey-background;
                }
            }
        }
        .active {
            button {
                background: $grey-background;
            }
        }
    }
}
.aside_incoming_events {
    padding: 30px 20px;
    width: 400px;
    background: $grey-background;
    margin-top: 50px;
    .title {
        color: $font-dark;
        font-size: 24px;
        margin-bottom: 30px;
    }
    .single {
        padding: 20px 0;
        border-bottom: 1px solid $font-light;
        p {
            color: $font-dark;
            font-size: 16px;
            width: 80%;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
        &:last-of-type {
            border: none;
            padding: 0;
        }
    }
}
.aside_tail{
  margin-right: 0;
  float:none;
  margin-bottom: 50px;
}

.simple_form {
  overflow: hidden;
  margin-bottom: 15px;
}
