// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.statics {
  width: 780px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.static__tabs {
  padding: 0;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-left: 100px;
  li[aria-selected="true"] {
    background: #135354;
    a {
      color: white;
    }
  }
  li {
    border: 1px solid $font-dark;
    width: 275px;
    float: left;
    list-style: none;
    padding: 7px 0;
    a {
      color: $font-dark;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 700;
      display: block;
      text-align: center;
      text-decoration: none;
    }
  }
}

.static__title {
  width: 780px;
  font-size: 18px;
  font-weight:bold;
  color: $font-dark;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: underline;
}
.static__subtitle {
  width: 780px;
  font-size: 14px;
  font-weight:bold;
  color: $font-dark;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  text-align: left;
  text-decoration: underline;
}

.static__text {
  width: 780px;
  font-size: 12px;
  font-weight: normal;
  color: $font-dark;
  text-decoration: none;
  margin-left: 50px;
  text-align: left;
}

.static__text1 {
  width: 780px;
  font-size: 12px;
  font-weight: normal;
  color: $font-dark;
  padding: 5px 10px;
  text-decoration: none;
  text-align: left;
  margin-bottom: 5px;
}
.static__title1 {
  width: 780px;
  font-size: 18px;
  font-weight:bold;
  color: $font-dark;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
}
.static__bold {
  width: 780px;
  font-size: 18px;
  font-weight:bold;
  color: $font-dark;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}