= simple_form_for [:admin, @coefficient], as: :coefficient, html: { class: 'form-horizontal' } do |f|
  .box.box-primary
    .box-body
      = f.input :year
      = f.input :float
    .box-footer
      => link_to t('shared.back'), admin_coefficients_path, class: 'btn btn-default'
      = f.button :submit, f.object.persisted? ? t('shared.update') : t('shared.create'), class: 'btn pull-right'