section.content-header
  .actions.pull-right
    - if policy([:admin, @coefficient]).destroy?
      => link_to admin_coefficient_path(@coefficient), method: :delete, data: { confirm: t('shared.are_you_sure') }, class: 'btn btn-danger'
        i.fa.fa-trash>
        =t 'shared.destroy'
  h1
    i.fa.fa-calculator>
    =t '.title'
section.content
  = render 'form'