section.content-header
  h1
    i.fa.fa-calculator>
    =t '.title'

section.content
  .box
    .box-header.with-border
      - if policy([:admin, :Coefficient]).new?
        = link_to t('.actions.add'), new_admin_coefficient_path, class: 'btn btn-success'
    .box-body.no-padding
      table#coefficients.table.table-striped
        thead
          tr
            th=t '.table.year'
            th
        tbody
          - @coefficients.each do |coefficient|
            tr id=dom_id(coefficient)
              td= coefficient.year
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, coefficient]).edit?
                      li
                        = link_to edit_admin_coefficient_path(coefficient) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                    - if policy([:admin, coefficient]).destroy?
                      li
                        = link_to admin_coefficient_path(coefficient), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                          i.fa.fa-trash>
                          =t 'shared.destroy'