.cnt.laws-list.clearfix
  = render 'advertisements/top'
  .laws
    #laws-tabs
      = render 'laws_tabs'
      #tabs-1
        #laws-tabs__2
          ul.laws__tabs.nested-tabs.clearfix
            - @categories.each do |category|
              li aria-selected=('true' if category.id == @category.id)
                = link_to category.name, union_documents_category_path(category)
          .laws__single.clearfix
            - @documents.each do |document|
              .left
                p.laws__single-title
                  = document.address
                p.laws__single-description
                  = document.title
              .right
                - if document.eur_lex.present?
                  = link_to document.eur_lex, target: '_blank' do
                    = image_tag 'ic12.png'
                - if document.pdf.present?
                  = link_to document.pdf, target: '_blank' do
                    = image_tag 'ic10.png'
  .float-right
    = render 'application/sidebar'