= form_for search, url: url, method: :get, as: :search do |f|
  .box.box-solid
    .box-header.with-border
    .box-body
      .form-group
        = f.label :email
        = f.text_field :email, class: 'form-control'
      .form-group
        = f.label :username
        = f.text_field :username, class: 'form-control'
      .form-group
        = f.label :admin
        = f.select :admin, options_for_select(f.object.admin_select, params[:admin]), { prompt: true }, class: 'form-control'
      .form-group
        = f.label :category
        = f.select :category_id, options_for_select(::User::Category.all.map { |s| [s.name, s.id] }, f.object.category_id), {prompt: true}, class: 'form-control'
      .form-group
        = f.label :approved
        = f.select :approved, options_for_select(f.object.approved_select, params[:approved]), {prompt: true}, class: 'form-control'
    .box-footer
      => f.submit t('shared.filter'), class: 'btn btn-primary'
      => link_to t('shared.clear'), url, class: 'btn btn-default'
