= simple_form_for [:admin, @user], as: :user, html: { class: 'form-horizontal' } do |f|
  .box.box-primary
    .box-body
      = f.input :username
      = f.input :email
      = f.input :admin
      = f.input :approved
      = f.association :category, include_blank: false
  .box-footer
      => link_to t('shared.back'), admin_users_path, class: 'btn btn-default'
      = f.button :submit, f.object.persisted? ? t('shared.update') : t('shared.create'), class: 'btn pull-right'
