section.content-header
  h1
    i.fa.fa-envelope-o>
    = t '.title'

section.content
  .row
    .col-md-3
      = render partial: 'filters', locals: {search: @search, url: admin_users_path}
    .col-md-9
      .box
        .box-header.with-border
        .box-body.no-padding
          table#users.table.table-striped
            thead
              tr
                th=t '.table.email'
                th=t '.table.username'
                th=t '.table.category'
                th=t '.table.admin'
                th=t '.table.approved'
                th
            tbody
              - @users.each do |user|
                tr id=dom_id(user)
                   td= user.email
                   td= user.username
                   td= user.category.name
                   td
                     - if user.admin?
                       i.fa.fa-check
                   td
                     - if user.approved?
                       i.fa.fa-check
                   td
                    .btn-group
                      a.dropdown-toggle data-toggle='dropdown' href='#'
                        i.fa.fa-cog
                      ul.dropdown-menu.pull-right
                        - if policy([:admin, user]).edit?
                          li
                            = link_to edit_admin_user_path(user) do
                              i.fa.fa-pencil>
                              = t 'shared.edit'
                        - if policy([:admin, user]).destroy?
                          li
                            = link_to admin_user_path(user), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                              i.fa.fa-trash>
                              =t 'shared.destroy'
        .box-footer
          = paginate @users, theme: 'twitter-bootstrap-3'
