span class="single__title__number__#{depth}"= waste.code
span class="single__title__description__#{depth}"
  = waste.name
  - if waste.need_legend?
    span class="single__title__legend__#{depth}"
      - waste.legend_fields.each_with_index do |field, index|
        - index += 1
        - if waste.send(field).present?
          = image_tag "l#{index}.png"
  - if depth.eql?(2)
    .single__title__table.clearfix
      - waste.waste_fees.order(year: :asc).where.not(value: 0).each do |wf|
        p
          span= wf.year
          span= wf.value
