.cnt.charges-list.clearfix
  = render 'advertisements/top'
  .charges
    = render 'charges_tabs'
    .catalogue
      p.charges__title
        | Jednostkowe stawki opłaty za umieszczenie odpadów na składowisku za lata od&nbsp;
        = @years.first
        | &nbsp;do&nbsp;
        = @years.last
        | &nbsp;w zł/t
      .catalogue__categories
        .clearfix
          span.title= t '.legend'
          button class="show-hide" type="button" name="show_more"
            span pokaż
            = image_tag "down-arrow-circle.png"
        .catalogue__moreinfo.catalogue__legend.clearfix
          .clearfix
            .legend__single
              = image_tag "l1.png"
              span= Waste.human_attribute_name(:dry_mass)
            .legend__single
              = image_tag "l2.png"
              span= Waste.human_attribute_name(:disposal)
          .clearfix
            .legend__single
              = image_tag "l3.png"
              span= Waste.human_attribute_name(:recycling)
            .legend__single
              = image_tag "l4.png"
              span= Waste.human_attribute_name(:org_fiz)
          .clearfix
            .legend__single
              = image_tag "l5.png"
              span= Waste.human_attribute_name(:battery)
            .legend__single
              = image_tag "l6.png"
              span= Waste.human_attribute_name(:dangerous)
          .clearfix
            .legend__single
              = image_tag "l7.png"
              span= Waste.human_attribute_name(:communal)

        .catalogue__collapsed__categories
          p.title= t '.help'
          - @wastes_grouped[nil].each do |waste|
            .catalogue__collapsed__single.tree-holder.parent-tree-holder
              .single__title
                span.single__title__number= waste.code
                span.single__title__description= waste.name
              - changes = @wastes_grouped[waste.id]
              - if changes.present?
                - changes.each do |waste|
                  .catalogue__collapsed__1.tree-holder
                    .single__title__1
                      = render partial: "waste_fees/waste_tree", locals: { depth: 1, waste: waste.decorate }
                    - changes = @wastes_grouped[waste.id]
                    - if changes.present?
                      - changes.each do |waste|
                        .catalogue__collapsed__2.tree-holder
                          .single__title__2
                            = render partial: "waste_fees/waste_tree", locals: { depth: 2, waste: waste.decorate }
  .float-right
    = render 'application/sidebar'
        /! @@include= /partials/forum.html
        /! @@include= /partials/aside_ad.html
        /! @@include= /partials/aside_incoming_events.html
        /! @@include= /partials/newsletter.html
        /! @@include= /partials/footer.html
        /! @@include= /partials/meta_footer.html
