.cnt.laws-list.clearfix
  = render 'advertisements/top'
  .statics
    .box-body
      .static__title
        p Przydatne linki
      .static__text
        - @useful_links.each do |useful_link|
          div= simple_format useful_link.link
  .float-right
    = render 'application/sidebar'