section.content-header
  h1
    i.fa.fa-recycle>
    => t '.title'
    small= t '.subtitle'

section.content
  .box
    .box-header.with-border
      - if policy([:admin, ::Gaz::Category]).new?
        = link_to t('.actions.add'), new_admin_gaz_category_path, class: 'btn btn-success'
    .box-body.no-padding
      table#gaz_categories.table.table-striped
        thead
          tr
            th=t '.table.name'
            th=t '.table.subname'
            th
        tbody
          - @gaz_categories.each do |gaz_category|
            tr id=dom_id(gaz_category)
              td= link_to gaz_category.name, admin_gaz_category_gazs_path(gaz_category)
              td= link_to gaz_category.subname, admin_gaz_category_gazs_path(gaz_category) if gaz_category.subname
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, gaz_category]).edit?
                      li
                        = link_to edit_admin_gaz_category_path(gaz_category) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                      - if policy([:admin, gaz_category]).destroy?
                        li
                          = link_to admin_gaz_category_path(gaz_category), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                            i.fa.fa-trash>
                            =t 'shared.destroy'