= simple_form_for [:admin, @tree], as: :tree, html: { class: 'form-horizontal' } do |f|
  .box.box-primary
    .box-body
      = f.input :name
      = f.input :base
    .box-footer
      => link_to t('shared.back'), admin_trees_path, class: 'btn btn-default'
      = f.button :submit, f.object.persisted? ? t('shared.update') : t('shared.create'), class: 'btn pull-right'