section.content-header
  h1
    i.fa.fa-tree>
    =t '.title'

section.content
  .box
    .box-header.with-border
      - if policy([:admin, :Tree]).new?
        = link_to t('.actions.add'), new_admin_tree_path, class: 'btn btn-success'
    .box-body.no-padding
      table#trees.table.table-striped
        thead
          tr
            th=t '.table.name'
            th
        tbody
          - @trees.each do |tree|
            tr id=dom_id(tree)
              td= tree.name
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, tree]).edit?
                      li
                        = link_to edit_admin_tree_path(tree) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                    - if policy([:admin, tree]).destroy?
                      li
                        = link_to admin_tree_path(tree), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                          i.fa.fa-trash>
                          =t 'shared.destroy'