.charges
#charges-tabs
.charges__table
  ul
    li aria-selected=('true' if params[:controller] == 'recyclings/categories')
      = link_to  'Stawki opłat produktowych i poziomy recyklingu', recyclings_categories_path
    li aria-selected=('true' if params[:controller] == 'trees')
      = link_to 'Kalkulatory opłat', trees_path
    li aria-selected=('true' if params[:controller] == 'removals/categories' )
      = link_to 'Stawki opłat za wycinkę drzew i krzewów', removals_categories_path
    li aria-selected=('true' if params[:controller].in?(%w(environment_waters/categories gazs/categories waters/categories gasolines/categories sngs/categories diesels/categories)))
      = link_to 'Stawki za korzystanie ze środowiska', environment_waters_categories_path
    li aria-selected=('true' if params[:controller] == 'waste_fees' )
      = link_to 'Stawki opłat za umieszczenie odpadów na składowisku', waste_fees_path
