b Wybierz właściwy tym emisji,
b a poniżej zostnie wyświetlona odpowiednia tabela z jednostkowymi stawkami opłat.
.charges
#charges-tabs
.charges__table
  ul
    li aria-selected=('true' if params[:controller] == 'environment_waters/categories' )
      = link_to 'Wprowadzanie ścieków do wód lub ziemi', environment_waters_categories_path
    li aria-selected=('true' if params[:controller] == 'gazs/categories' )
      = link_to  'Wprowadzanie gazów lub pyłów do powietrza', gazs_categories_path
    li aria-selected=('true' if params[:controller] == 'waters/categories' )
      = link_to  'Pobór wód', waters_categories_path
    li aria-selected=('true' if params[:controller] == 'gasolines/categories' )
      = link_to  ' benzyny silnikowej oraz LPG', gasolines_categories_path
    li aria-selected=('true' if params[:controller] == 'sngs/categories' )
      = link_to  'sprężonego gazu ziemnego', sngs_categories_path
    li aria-selected=('true' if params[:controller] == 'diesels/categories' )
      = link_to  'oleju napędowego oraz biodiesla', diesels_categories_path
