- if flash.present?
  - flash.each do |kind, messages|
    - [messages].flatten.each do |message|
      - case kind.to_s
      - when 'notice'
        javascript:
          toastr.success('#{message}');
      - else
        javascript:
          toastr.error('#{message}');
