footer
  .footer__content
    = link_to 'Regulamin', regulamin1_path
    = link_to 'Reklama', reklama_path
    = link_to 'Dla prasy', dla_prasy_path
    p email: info@odpady-help.pl, tel.: (61) 307 28 40, fax: (61) 666 00 32
footer style='height: 30px; margin-top: -15px'
  .footer__content style='margin-top: 0'
    p 2010-#{Time.current.year}