ul.laws__tabs.clearfix
  li aria-selected=('true' if controller_name == 'laws')
    = link_to 'Ustawy', laws_path
  li aria-selected=('true' if (params[:controller] == 'projects/categories' || params[:controller] == 'projects' ))
    = link_to 'Projeky', projects_categories_path
  li aria-selected=('true' if (params[:controller] == 'interpretations/categories' || params[:controller] == 'interpretations' ))
    = link_to 'Interpretacje', interpretations_categories_path
  li aria-selected=('true' if params[:controller] == 'union_documents/categories')
    = link_to 'Prawo unijne', union_documents_categories_path