nav
  .clearfix.cnt.nav__top
    .nav__left
      = link_to root_path
        = image_tag 'logo.png'
        span Gospodarka odpadami w praktyce
    .nav__right
      = link_to search_index_path
        span Szukaj
        span
          = image_tag 'lupe.png'
      - if user_signed_in?
        = link_to destroy_user_session_path, method: :delete
          span= t '.logout'
          span
            = image_tag 'faceholder.png'
      - else
        = link_to new_user_session_path
          span= t '.login'
          span
            = image_tag 'faceholder.png'
      = link_to 'https://web.facebook.com/effekopoznan', target: '_blank' do
        span= image_tag 'fb.png'
      span.menu_icon title="Menu" &#160;
  ul.nav__menu
    .cnt.clearfix
      li
        = link_to 'Wiadomości', articles_path
      li
        a.down-arrow href="#" Katalog firm
        ul.nav__menu__drop
          li
            = link_to 'Dodaj firmę', new_company_path
          li
            = link_to 'Wyszukaj firmę', companies_path
      li
        a.down-arrow href="#" Strefa wiedzy
        ul.nav__menu__drop
          li
            = link_to 'Praktyczne porady', manuals_categories_path
          li
            = link_to 'Formularze do pobrania', documents_path
          li
            = link_to 'Katalog odpadów', wastes_path
          li
            = link_to 'Stawki opłat, kalkulatory', recyclings_categories_path
          li
            = link_to 'Wojewódzkie plany gospodarki odpadami', government_plans_path
          li
            = link_to 'Publikacje branżowe', publications_path
          li
            = link_to 'Kalendarz specjalisty ds. ochrony środowiska', calendars_path
          li
            = link_to 'Dane teleadresowe urzędów ochrony środowiska', departments_path
          li
            = link_to 'Przydatne linki', useful_links_path
      li
        a.down-arrow href="#"  Wydarzenia
        ul.nav__menu__drop
          li
            = link_to 'Wkrótce', events_path(soon: true)
          li
            = link_to 'Archiwum', events_path(old: true)
      li
        a.down-arrow href="#" Prawo
        ul.nav__menu__drop
          li
            = link_to 'Ustawy', laws_path
          li
            = link_to 'Projekty aktów prawnych', projects_categories_path
          li
            = link_to 'Interpretacje, wytyczne', interpretations_categories_path
          li
            = link_to 'Prawo Unijne', union_documents_categories_path
      li
        = link_to 'Forum', forum_root_path
