.cnt.laws-list.clearfix
  = render 'advertisements/top'
  .statics
    ul.static__tabs.clearfix
      li aria-selected=('true' if current_page?(regulamin1_path))
        = link_to 'REGULAMIN SERWISU', regulamin1_path
      li aria-selected=('true' if current_page?(regulamin2_path))
        = link_to 'POLITYKA PRYWATNOŚCI', regulamin2_path
