section.content-header
  h1
    i.fa.fa-map-o>
    =t '.title'

section.content
  .box
    .box-header.with-border
      - if policy([:admin, :State]).new?
        = link_to t('.actions.add'), new_admin_state_path, class: 'btn btn-success'
    .box-body.no-padding
      table#states.table.table-striped
        thead
          tr
            th=t '.table.name'
            th
        tbody
          - @states.each do |state|
            tr id=dom_id(state)
              td= state.name
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, state]).edit?
                      li
                        = link_to edit_admin_state_path(state) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                    - if policy([:admin, state]).destroy?
                      li
                        = link_to admin_state_path(state), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                          i.fa.fa-trash>
                          =t 'shared.destroy'