- if flash.present?
  section.content-header
    .flashes
      - flash.each do |kind, messages|
        - [messages].flatten.each do |message|
          div class="alert alert-#{kind.to_s == 'notice' ? 'success' : 'error'} alert-dismissable"
            button.close type='button' data-dismiss='alert' ×
            i.icon.fa class="fa-#{kind.to_s == 'notice' ? 'check' : 'minus'}-circle"
            =< message