aside.main-sidebar
  section.sidebar
    ul.sidebar-menu
      li.treeview
        a href='#'
          i.fa.fa-commenting-o>
          span=t '.forum.title'
          i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          li class=('active' if controller_name == 'posts')
            = link_to admin_forum_posts_path do
              i.fa.fa-comment-o>
              span=t '.forum.posts'
          li class=('active' if controller_name == 'treads')
            = link_to admin_forum_threads_path do
              i.fa.fa-server>
              span= t '.forum.threads'
          li class=('active' if controller_name == 'sections')
            = link_to admin_forum_sections_path do
              i.fa.fa-list>
              span=t '.forum.sections'

      li.treeview
        a href='#'
          i.fa.fa-info>
          span=t '.info_point.title'
          i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          li class=('active' if controller_name == 'manual_categories')
            = link_to admin_manual_categories_path do
              i.fa.fa-sort>
              span= t '.info_point.manuals'
          li class=('active' if controller_name == 'document_categories')
            = link_to admin_document_categories_path do
              i.fa.fa-download>
              span= t '.info_point.documents'
          li class=('active' if controller_name == 'definitions')
            = link_to admin_definitions_path do
              i.fa.fa-book>
              span= t '.info_point.definitions'
          li class=('active' if controller_name == 'government_plans')
            = link_to admin_government_plans_path do
              i.fa.fa-calendar>
              span= t '.info_point.government_plans'
          li class=('active' if controller_name == 'publications')
            = link_to admin_publications_path do
              i.fa.fa-file-pdf-o>
              span= t '.info_point.publications'
          li class=('active' if controller_name == 'calendars')
            = link_to admin_calendars_path do
              i.fa.fa-calendar>
              span= t '.info_point.calendars'
          li class=('active' if controller_name == 'departments')
            = link_to admin_departments_path do
              i.fa.fa-envelope-o>
              span= t '.info_point.departments'
          li class=('active' if controller_name == 'wastes')
            = link_to admin_wastes_path do
              i.fa.fa-trash-o>
              span= t '.info_point.wastes'
          li class=('active' if controller_name == 'useful_links')
            = link_to admin_useful_links_path do
              i.fa.fa-external-link>
              span= t '.info_point.useful_links'
      li.treeview
        a href='#'
          i.fa.fa-graduation-cap>
          span=t '.laws.title'
          i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          li class=('active' if controller_name == 'laws')
            = link_to admin_laws_path do
              i.fa.fa-list>
              span= t '.laws.laws'
          li class=('active' if controller_name == 'project_categories')
            = link_to admin_project_categories_path do
              i.fa.fa-send>
              span= t '.laws.project_categories'
          li class=('active' if controller_name == 'interpretation_categories')
            = link_to admin_interpretation_categories_path do
              i.fa.fa-hand-pointer-o>
              span= t '.laws.interpretation_categories'
          li class=('active' if controller_name == 'union_document_categories')
            = link_to admin_union_document_categories_path do
              i.fa.fa-euro>
              span= t '.laws.union_document_categories'

      li class=('active' if controller_name == 'companies')
        = link_to admin_companies_path do
          i.fa.fa-industry>
          span= t '.companies'

      li.treeview
        a href='#'
          i.fa.fa-cogs
          span=t '.settings.title'
          i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          li class=('active' if controller_name == 'states')
            = link_to admin_states_path do
              i.fa.fa-map-o>
              span=t '.settings.states'
          li class=('active' if controller_name == 'branches')
            = link_to admin_branches_path do
              i.fa.fa-briefcase>
              span= t '.settings.branches'
          li class=('active' if controller_name == 'user_categories')
            = link_to admin_user_categories_path do
              i.fa.fa-users>
              span= t '.settings.user_categories'
          li class=('active' if controller_name == 'users')
            = link_to admin_users_path do
              i.fa.fa-user>
              span= t '.settings.users'
          li class=('active' if controller_name == 'email_templates')
            = link_to admin_email_templates_path do
              i.fa.fa-envelope>
              span= t '.settings.email_templates'

        li class=('active' if controller_name == 'articles')
          = link_to admin_articles_path do
            i.fa.fa-newspaper-o>
            span= t '.articles'

        li class=('active' if controller_name == 'events')
          = link_to admin_events_path do
            i.fa.fa-calendar>
            span= t '.events'


      li.treeview
        a href='#'
          i.fa.fa-newspaper-o
          span=t '.newsletter.title'
          i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          li class=('active' if controller_name == 'newsletter/subscribers')
            = link_to admin_newsletter_subscribers_path do
              i.fa.fa-envelope>
              span=t '.newsletter.subscribers'
          li class=('active' if controller_name == 'newsletter/categories')
            = link_to admin_newsletter_categories_path do
              i.fa.fa-book>
              span= t '.newsletter.categories'

        li class=('active' if controller_name == 'banners')
          = link_to admin_banners_path do
            i.fa.fa-image>
            span=t '.banners'

      li.treeview
        a href="#"
          i.fa.fa-home
          span= t '.homepage.title'
          i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          li class=('active' if controller_name == 'links')
            = link_to admin_links_path do
              i.fa.fa-share>
              span=t '.homepage.links'

      li.treeview
        a href='#'
          i.fa.fa-recycle>
          span= t '.charges.title'
          i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          li class=('active' if controller_name == 'recycling_categories')
            = link_to admin_recycling_categories_path do
              i.fa.fa-recycle>
              span= t '.charges.recycling'
          li class=('active' if controller_name == 'removal')
            = link_to admin_removal_categories_path do
              i.fa.fa-remove>
              span= t '.charges.removal'
          li class=('active' if controller_name == 'trees')
            = link_to admin_trees_path do
              i.fa.fa-tree>
              span= t '.charges.trees'
          li class=('active' if controller_name == 'coefficients')
            = link_to admin_coefficients_path do
              i.fa.fa-calculator>
              span= t '.charges.coefficients'
          li class=('active' if controller_name == 'environment_water_categories')
            = link_to admin_environment_water_categories_path do
              i.fa.fa-recycle>
              span= t '.charges.environment_water'
          li class=('active' if controller_name == 'gaz_categories')
            = link_to admin_gaz_categories_path do
              i.fa.fa-recycle>
              span= t '.charges.gaz'
          li class=('active' if controller_name == 'water_categories')
            = link_to admin_water_categories_path do
              i.fa.fa-recycle>
              span= t '.charges.water'
          li class=('active' if controller_name == 'gasoline_categories')
            = link_to admin_gasoline_categories_path do
              i.fa.fa-recycle>
              span= t '.charges.gasoline'
          li class=('active' if controller_name == 'sng_categories')
            = link_to admin_sng_categories_path do
              i.fa.fa-recycle>
              span= t '.charges.sng'
          li class=('active' if controller_name == 'diesel_categories')
            = link_to admin_diesel_categories_path do
              i.fa.fa-recycle>
              span= t '.charges.diesel'