.row
  .col-lg-11.col-md-11
    = simple_form_for @form, url: forum_threads_path, as: :thread, html: { class: 'form-horizontal' } do |f|
      - unless user_signed_in?
        = f.input :username, :input_html => { :value => 'Gość' }
      = f.input :notify_me, as: :boolean
      = f.input :subject
      = f.input :section, value: params[:section]||1, as: :select, collection: @form.sections, include_blank: false
      = f.input :message, as: :text
      = f.button :submit, t('.submit'), class: 'pull-right'
