- if recent_threads.any?
  .forum
    p.forum__title
      = link_to 'Forum', forum_root_path
    - recent_threads.each do |thread|
      .forum__article
        a.forum__article__number class=thread_color(thread) href=forum_thread_posts_path(thread)
          = thread.posts.approved.count
        .forum__article__text
          = link_to forum_thread_posts_path(thread) do
            p.forum__article__title= thread.subject
            p.forum__article__date #{time_ago_in_words(thread.updated_at)} temu
            span.right-arrow-circle