.actions.pull-right
  => link_to t('.actions.new'), new_forum_section_thread_path(@section), class: 'btn btn-success'

h1=t '.title'

.pull-right
  = link_to t('.section.hide'), forum_sections_path, class: 'btn btn-default'

h2=t '.section.title', name: @section.name

table.table
  tr
    th=t '.table.subject'
    th=t '.table.user'
    th=t '.table.views'
    th=t '.table.last_post'
    th=t '.table.replies'
  - @threads.each do |thread|
    tr
      td
        p= link_to thread.subject, forum_thread_posts_path(thread)
        small=t '.thread.last_update', time: time_ago_in_words(thread.updated_at), name: 'xxx'
      td= thread.username
      td
      td
      td
  = paginate @threads