= simple_form_for [:admin, @gasoline_category], as: :gasoline_category, html: { class: 'form-horizontal' } do |f|
  .box.box-primary
    .box-body
      = f.input :name
      = f.input :yearname
    .box-footer
      => link_to t('shared.back'), admin_gasoline_categories_path, class: 'btn btn-default'
      = f.button :submit, f.object.persisted? ? t('shared.update') : t('shared.create'), class: 'btn pull-right'