section.content-header
  h1
    i.fa.fa-recycle>
      => t '.title'
      small= t '.subtitle'

section.content
  .box
    .box-header.with-border
      - if policy([:admin, ::Gasoline::Category]).new?
        = link_to t('.actions.add'), new_admin_gasoline_category_path, class: 'btn btn-success'
    .box-body.no-padding
      table#gasoline_categories.table.table-striped
        thead
          tr
            th=t '.table.name'
            th
        tbody
          - @gasoline_categories.each do |gasoline_category|
            tr id=dom_id(gasoline_category)
              td= link_to gasoline_category.name, admin_gasoline_category_gasolines_path(gasoline_category)
              td
                .btn-group
                  a.dropdown-toggle data-toggle='dropdown' href='#'
                    i.fa.fa-cog
                  ul.dropdown-menu.pull-right
                    - if policy([:admin, gasoline_category]).edit?
                      li
                        = link_to edit_admin_gasoline_category_path(gasoline_category) do
                          i.fa.fa-pencil>
                          =t 'shared.edit'
                      - if policy([:admin, gasoline_category]).destroy?
                        li
                          = link_to admin_gasoline_category_path(gasoline_category), method: :delete, data: { confirm: t('shared.are_you_sure') } do
                            i.fa.fa-trash>
                            =t 'shared.destroy'