doctype html
html
  head
    meta charset='utf-8'
    title=t '.title'
    = stylesheet_link_tag    'admin', media: 'all'
    = javascript_include_tag 'admin'
    = csrf_meta_tags
  body.skin-blue.sidebar-mini
    .wrapper
      header.main-header
        = link_to admin_root_path, class: 'logo' do
          span.logo-mini
            | OH
          | Odpady Help
        nav.navbar.navbar-static-top
          a.sidebar-toggle data-toggle='offcanvas' href='#' role='button'
            span.sr-only
            span.icon-bar
          .navbar-custom-menu
            ul.nav.navbar-nav
              li.dropdown
                a.dropdown-toggle href='#' data-toggle='dropdown'
                  => current_user.email
                  span.caret
                ul.dropdown-menu role='menu'
                  li= link_to t('.logout'), destroy_user_session_path, method: :delete

      = render 'admin/shared/navigation'

      .content-wrapper style='min-height: 700px;'
        = render 'admin/shared/flashes'
        = yield

      footer.main-footer=t '.copyright'