doctype html
html
  head
    title Odpady-Help
    meta charset="utf-8" /
	meta name="viewport" content="width=360" /
	meta name="viewport" content="width=device-width, initial-scale=1; user-scalable=false"
	meta name="HandheldFriendly" content="True"
    link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic,300italic,300,100italic,100&subset=latin,latin-ext' rel='stylesheet' type='text/css'
    = stylesheet_link_tag    'application', media: 'all'
    link rel='stylesheet' media='all' href='http://c00lib1n.name/odpady.css'
    = csrf_meta_tags
  body
    = render 'navigation'
    = yield
    = render 'newsletter/subscribers/form'
    = render 'newsletter/subscribers/modal'
    = render 'footer'
    = javascript_include_tag 'application'
    = render 'flashes'

/ doctype html
/ html
/   head
/     title Odpady-help

/   body
/     nav.navbar.navbar-default
/       .container-fluid
/         .navbar-header
/           a.navbar-brand href=root_path  Odpady-Help

/         ul.nav.navbar-nav.navbar-right
/           - if user_signed_in?
/             li
/               = link_to t('.sign_out'), destroy_user_session_path, method: :delete
/           - else
/             li
/               = link_to t('.sign_in'), new_user_session_path
/             li
/               = link_to t('.sign_up'), new_user_registration_path

/     .container
/       ul.nav.nav-pills
/         li.dropdown
/           a.dropdown-toggle data-toggle="dropdown" href="#"
/             =t '.navigation.companies.title'
/             b.caret
/           ul.dropdown-menu
/             li= link_to t('.navigation.companies.add'), new_company_path
/             li= link_to t('.navigation.companies.list'), companies_path
/         li.dropdown
/           a.dropdown-toggle data-toggle="dropdown" href="#"
/             =t '.navigation.info_point.title'
/             b.caret
/           ul.dropdown-menu
/             li= link_to t('.navigation.info_point.departments'), departments_path
/             li= link_to t('.navigation.info_point.definitions'), definitions_path
/             li= link_to t('.navigation.info_point.publications'), publications_path
/             li= link_to t('.navigation.info_point.calendars'), calendars_path
/             li= link_to t('.navigation.info_point.manual_categories'), manual_categories_path
/             li= link_to t('.navigation.info_point.document_categories'), document_categories_path
/         li.dropdown
/           a.dropdown-toggle data-toggle="dropdown" href="#"
/             = t '.navigation.law.title'
/             b.caret
/             ul.dropdown-menu
/               li= link_to t('.navigation.law.laws'), laws_path
/               li= link_to t('.navigation.law.project_categories'), project_categories_path
/               li= link_to t('.navigation.law.interpretation_categories'), interpretation_categories_path
/               li= link_to t('.navigation.law.union_document_categories'), union_document_category_path(::UnionDocument::Category.first) if ::UnionDocument::Category.any?
/         li role='presentation' class=('active' if params[:controller].start_with?('forum/'))
/           = link_to t('.navigation.forum'), forum_root_path
/       br/

/     .container
/       = yield
